﻿
@{
	Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
	<title>Overview</title>
	<link rel="canonical" href="https://www.felizeek.com/" />
	<link rel="shortcut icon" href="https://www.felizeek.com/images/favicon.ico" type="image/x-icon" />
	<!-- meta tags -->
	<meta name="description" content="Project Management">
	<meta name="keywords" content="Software, Development, Project Management Professional, Consulting Services, Business Analysis, Project Management, Co-Development, Legacy Platform Maintenance">
	<meta name="author" content="FeliZeek Technologies">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style-custom.css">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
	@*<link rel="stylesheet" href="css/animation.css">*@
	@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />*@

</head>

<body>
	<div class="full-area">
		<header id="header" class="header-section">
			<div id="header-fixed" class="container-fluid res---pl---0px res---pr---0px">
				<div class="container minus-margin-left">
					<div class="row ">
						<div class="col-md-12">
							<div id="brand-navigation-row" class="brand-navigation-row">
								<div class="row">
									<div class="col-md-3 logo-pl-only">
										<a href="https://www.felizeek.com"><img src="https://www.felizeek.com/images/felizeek-logo.svg" alt="FeliZeek Technologies" width="180" class="logo_wid" /></a>
									</div>
									<div class="col-md-9">
										<nav class="navbar navbar-expand-lg navbar-light ">
											<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
												<span class="navbar-toggler-icon"></span>
											</button>
											<div class="collapse navbar-collapse" id="navbarSupportedContent">
												<ul class="navbar-nav ml-auto">
													<li class="nav-item">
														<a class="nav-link smoothScroll" href="https://www.felizeek.com"><img src="images/icon-home.svg" alt="" width="18" />Home <span class="sr-only">(current)</span></a>
													</li>

													<li class="nav-item active">
														<a class="nav-link smoothScroll" href="https://www.felizeek.com/about-us"><img src="images/icon-overview.svg" alt="" width="18" />Overview</a>
													</li>

													<li class="nav-item">
														<a class="nav-link smoothScroll" href="https://www.felizeek.com/our-team"><img src="images/icon-team.svg" alt="" width="18" />Team</a>
													</li>
													<li class="nav-item">
														<a class="nav-link smoothScroll" href="https://www.felizeek.com/contact-us"><img src="images/icon-contact.svg" alt="" width="18" />Connect</a>
													</li>
												</ul>
											</div>
										</nav>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
	</div>

	<section class="full-area">
		<div class="container-fluid pt-100 res---pl---0px res---pr---0px">
			<div class="container minus-margin-left">
				<div class="row">
					<div class="col-md-12 index-header secondary-title text-center">
						<h1 class="text-center res---mt---10px on-scroll-animation show-on-scroll">
							Get to Know <span><img src="images/felizeek-logo-text-replacement.png" width="178" alt="" class="felizeek-logo-text-replacement" /></span>
						</h1>
						<div class="row">
							<div class="col-md-12 position-relative ellipse-bg-margin on-scroll-animation show-on-scroll">
								@*<button type="button" class="top-arrow" style="display: inline-block;">Previous2</button>*@
								<div class="ellipse-bg"></div>
								<div class="d-flex gap-72px">
									<div class="slick-carousel text-left" style="width: 60%;">
										<div class="slick-carousel-row on-scroll-animation show-on-scroll">
											<h6 class="text-linear-gradient mb-3">Your Digital Partner</h6>
											<p>Expert guides for IT-dependent businesses, ensuring impactful transformations aligned with your goals.</p>
										</div>

										<div class="slick-carousel-row on-scroll-animation show-on-scroll">
											<h6 class="text-linear-gradient mb-3">Mission Statement</h6>
											<p>Empowering companies to drive positive impact through innovative digital solutions, leading change at FeliZeek.</p>
										</div>

										<div class="slick-carousel-row on-scroll-animation show-on-scroll">
											<h6 class="text-linear-gradient mb-3">Understanding Your Needs</h6>
											<p>Deep analysis for tailored solutions, freeing you to focus on your core business while we handle digital complexities seamlessly.</p>
										</div>

										<div class="slick-carousel-row on-scroll-animation show-on-scroll">
											<h6 class="text-linear-gradient mb-3">Dedicated Team</h6>
											<p>Committed team managing the entire process with no handoffs or finger-pointing; we own it all.</p>
										</div>

										<div class="slick-carousel-row">
											<h6 class="text-linear-gradient mb-3">End-to-End Solutions</h6>
											<p>Comprehensive solutions from inception to implementation, exceeding expectations.</p>
										</div>

										<div class="slick-carousel-row on-scroll-animation show-on-scroll">
											<h6 class="text-linear-gradient mb-3">Ready to Transform?</h6>
											<p>Drive change with us at FeliZeek to realize your business's full potential in the digital landscape.</p>
										</div>
									</div>

									<div class="align-items-end d-flex flex-column gap-16px pt-3">
										<div class="top-arrow">
											<img class="slider-up-outline-arrow-icon" src="images/slider-up-outline-arrow-icon.svg" width="32">
											<img class="slider-up-fill-arrow-icon" src="images/slider-up-fill-arrow-icon.svg" width="32" style="display: none;">
										</div>

										<div class="bottom-arrow">
											<img class="slider-down-fill-arrow-icon" src="images/slider-down-fill-arrow-icon.svg" width="32">
											<img class="slider-down-outline-arrow-icon" src="images/slider-down-outline-arrow-icon.svg" width="32" style="display: none; ">
										</div>
									</div>
								</div>
								@*<button type="button" data-role="none" class="bottom-arrow" aria-label="Next" role="button" style="display: inline-block;" aria-disabled="false">Next1</button>*@
							</div>
						</div>
						@*<div class="row">
								<div class="col-md-6 text-align-left padding-right-40px">
									<p class="mb-1 font-size-16px res---font---14px text-align-justify">Welcome to FeliZeek Technologies! We are your partners in making digital transformations that truly matter.</p>
									<p class="mb-1 font-size-16px res---font---14px text-align-justify">We specialize in guiding businesses through the digital journey, especially if they rely on IT. We're on a mission to help companies like yours create a positive impact on your customers and the communities you serve.</p>
									<p class="mb-0 font-size-16px res---font---14px text-align-justify">We begin by digging deep, understanding your needs, and figuring out what makes your business tick. Once we're on the same page, our dedicated team takes the reins. We handle everything—from the initial brainstorming to the nitty-gritty of deployment and ongoing support. You won't find any handoffs or finger-pointing here; we own the entire process. </p>
								</div>
								<div class="col-md-6 text-align-left padding-left-40px">
									<p class="mb-1 font-size-16px res---font---14px text-align-justify">Why? Because managing projects from start to finish allows us to bring a level of structure and precision that sets us apart. You focus on your business, and we'll take care of the complexities of digital transformation.</pclass="mb-1>
									<p class="mb-1 font-size-16px res---font---14px text-align-justify">At FeliZeek, it's not just about adapting to change; it's about driving it. Our end-to-end digital transformation services are designed to empower businesses like yours to lead the way. Ready to transform your business and make a real impact? Let's embark on this digital journey together. Visit our website or reach out to us today.</p>
									<p class="mb-0 font-size-16px res---font---14px text-align-justify">FeliZeek Technologies—because your success is our mission.</p>
								</div>
							</div>*@
					</div>
				</div>
			</div>
		</div>

		<!--
		<div class="container-fluid pt-80 hero-banner-bg white-bg res---pl---0px res---pr---0px res---pt---20px">
			<div class="container minus-margin-left">
				<div class="row">
					<div class="col-md-12 res---pl---0px res---pr---0px pl-0 pr-0">
						<h2>Our <span class="text-linear-gradient">Technology</span></h2>

						<div class="col-md-4 res---mb---15px iPadMini---width---100per">
							<div class="what-we-do-cols our-technology on-scroll-animation show-on-scroll">
								<div class="what-we-do-cols-list ">
									<h3 class="font-size-18px">Waterfall plus Agile<img src="images/our-tech-1.svg" alt="" width="32" class="icon-fit-24" /></h3>
									<p>We follow a Hybrid project management model. We agree with the waterfall model and scope out a phase thoroughly. During the implementation phase, we believe Agile is the best and enables us to incorporate constructive feedback into the platform.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 res---mb---15px iPadMini---width---100per">
							<div class="what-we-do-cols our-technology on-scroll-animation show-on-scroll">
								<div class="what-we-do-cols-list ">
									<h3 class="font-size-18px">Project Management Tools<img src="images/our-tech-2.svg" alt="" width="32" class="icon-fit-24" /></h3>
									<p>We use modern tools available for project management and collaboration. It is easier to follow through the activities and measure progress.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 iPadMini---width---100per">
							<div class="what-we-do-cols our-technology on-scroll-animation show-on-scroll">
								<div class="what-we-do-cols-list">
									<h3 class="font-size-18px">Co-Development<img src="images/our-tech-3.svg" alt="" width="32" class="icon-fit-24" /></h3>
									<p>We work with you to develop your ideas as part of your team. In addition, our competitive team members would assist you with your Business Analysis and Planning tasks.</p>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		-->

		<div class="container-fluid pt-80 our-value-section res---pl---0px res---pr---0px res---pt---20px res---pb---20px">
			<div class="container minus-margin-left">
				<div class="row">
					<div class="col-md-12 res-pl-0 pr-0">
						<div class="our-skills-bg">
							<div class="col-md-12 text-center mb-4 on-scroll-animation show-on-scroll">
								<h4 class="res---pb---0px">Core <span class="text-linear-gradient">Competencies</span></h4>
							</div>

							<div class="col-md-4 mb-4 iPadMini---width---50per res---mb---0px">
								<div class="columns on-scroll-animation show-on-scroll">
									<img src="images/application-modernization.svg" alt="" width="36" class="icon-fit-36" />
									<h5>Application Modernization</h5>
									<p>
										Our application modernization services help you achieve agility for an increasingly digital world - We provide end to end application modernization capabilities to help you move to a cloud-ready, agile ecosystem with cost effective modern platform
									</p>
								</div>
							</div>

							<div class="col-md-4 mb-4 iPadMini---width---50per res---mb---0px">
								<div class="columns on-scroll-animation show-on-scroll">
									<img src="images/digital-ready.svg" alt="" width="36" class="icon-fit-36" />
									<h5>Digital Ready</h5>
									<p>Transition smoothly from traditional to digital operations. With a focus on efficiency and security, our experienced team will ensure that your business is equipped with the latest technologies, data management, and online presence to compete in the ever-evolving digital marketplace</p>
								</div>
							</div>
							<div class="col-md-4 mb-4 iPadMini---width---50per res---mb---0px">
								<div class="columns on-scroll-animation show-on-scroll">
									<img src="images/application-integration.svg" alt="" width="36" class="icon-fit-36" />
									<h5>Software Integration</h5>
									<p>We ensure seamless connectivity and smooth data flow between different platforms. Whether it's custom API integration, cloud-based, or connecting legacy systems with modern technology, our integration experts have the know-how to help you achieve your business goals</p>
								</div>
							</div>

							<div class="col-md-4 mb-4 iPadMini---width---50per res---mb---0px">
								<div class="columns less-data-only on-scroll-animation show-on-scroll">
									<img src="images/mobile-applications.svg" alt="" width="36" class="icon-fit-36" />
									<h5>Mobile Applications</h5>
									<p>Provide access to the tools and resources on the go with the mobile applications for your web portals. Keep the users informed of the latest state with the highly interactive small screen applications</p>
								</div>
							</div>
							<div class="col-md-4 mb-4 iPadMini---width---50per res---mb---0px">
								<div class="columns less-data-only on-scroll-animation show-on-scroll">
									<img src="images/ui-and-ux.svg" alt="" width="20" class="icon-fit-36" />
									<h5>UI & UX</h5>
									<p>We combine cutting-edge design with intuitive interfaces to deliver visually engaging, high functional products, focusing on user-centered design to ensure ease of use and goal achievement.</p>
								</div>
							</div>
							<div class="col-md-4 mb-4 iPadMini---width---50per res---mb---0px">
								<div class="columns less-data-only on-scroll-animation show-on-scroll">
									<img src="images/agile-development.svg" alt="" width="30" class="icon-fit-36" />
									<h5>Agile Development</h5>
									<p>Benefit from specialized, end-to-end services that improve your resilience and application transformation at scale for your IT portfolio</p>
								</div>
							</div>

							<div class="col-md-4 mb-4 iPadMini---width---50per res---mb---0px">
								<div class="columns less-data-only-2 on-scroll-animation show-on-scroll">
									<img src="images/project-management.svg" alt="" width="36" class="icon-fit-36" />
									<h5>Project Management</h5>
									<p class="mb-0 res---mb---15px">Leverage highly organized, skilled project management professionals for your development projects. Feel the comfort of effective communication channels for timely information.</p>
								</div>
							</div>
							<div class="col-md-4 mb-4 iPadMini---width---50per res---mb---0px">
								<div class="columns less-data-only-2 on-scroll-animation show-on-scroll">
									<img src="images/testing-software-support.svg" alt="" width="36" class="icon-fit-36" />
									<h5>Testing & Software Support</h5>
									<p class="mb-0 res---mb---15px">Testing is an integral part of our managed projects. In addition, we offer level 2 and above production software support to help augment your existing support and monitoring teams</p>
								</div>
							</div>
							<div class="col-md-4 iPadMini---width---50per">
								<div class="columns less-data-only-2 res---mb---0px on-scroll-animation show-on-scroll">
									<img src="images/application-maintenance.svg" alt="" width="36" class="icon-fit-36" />
									<h5>Maintenance</h5>
									<p class="mb-0">Working with us allows you to focus on your business while we assist with maintaining your existing legacy and/or current applications</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid pt-80 res---pl---0px res---pr---0px res---pt---20px res---pb---20px">
			<div class="container minus-margin-left">
				<div class="row felizeek-why-us ">
					<div class="col-md-12">
						<div class="abt-why-us-bg">
							<div class="row align-items-center">
								<div class="col-md-12">
									<h3>Why Us?</h3>
								</div>
								<div class="col-md-6 iPadMini---width---100per iPadPro---width---50per ">
									<div class="felizeek-why-us-row position-relative on-scroll-animation show-on-scroll">
										<img src="images/felizeek-why-us.png" alt="" width="97%" class="border-radius-32px img-responsive" />
										<div class="quotes-section">
											"At <span>FeliZeek Technologies</span>,<br />
											we don't just talk ideas; we bring them to life, <br />
											ensuring your vision becomes reality."
										</div>
									</div>
								</div>
								<div class="col-md-6 skill res---mt---20px iPadMini---width---100per iPadPro---width---50per iPadPro---res---mt---0px on-scroll-animation show-on-scroll">
									<h4>We put your Business Ideas <br />into practice</h4>
									<p>Your organization can take full advantage of our services with our fast, innovative, and solution-oriented work. With over 20 Years Of experience in Strategy Planning, Project Management and Design & Development, we set new standards.</p>
									<p class="mb-0">For each project we choose a proven as well as suitable, tech stack.</p>
									<div class="list-item-why-us">
										<ul class="width-left-list">
											<li><i class="fas fa-check"></i> Application Design</li>
											<li><i class="fas fa-check"></i> Windows Applications</li>
											<li><i class="fas fa-check"></i> Mobile Applications</li>
											<li><i class="fas fa-check"></i> UI and UX</li>
											<li><i class="fas fa-check"></i> Testing</li>
										</ul>
										<ul class="width-right-list">
											<li><i class="fas fa-check"></i> Web Portals</li>
											<li><i class="fas fa-check"></i> Software Support</li>
											<li><i class="fas fa-check"></i> Project Management</li>
											<li><i class="fas fa-check"></i> Database Management</li>
											<li><i class="fas fa-check"></i> Agile/Waterfall Hybrid Methodology</li>

										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid pt-80 pb-80 res---pl---0px res---pr---0px res---pt---20px res---pb---20px">
			<div class="container minus-margin-left">
				<div class="row">
					<div class="col-md-12 felizeek-vision-mission iPadMini---width---100per">
						<h4 class="text-linear-gradient">Vision</h4>
						<div id="vision-body-container-parent" class="d-flex flex---direction---column">
							<div class="vision-card on-scroll-animation show-on-scroll res---mb---15px res---mt---15px">
								<h5>Empowering Innovation, Elevating Excellence:</h5>
								<p>At FeliZeek Technologies, we envision a dynamic ecosystem where passionate developers thrive, unleashing their creativity to <br class="res---br---none" />build cutting-edge solutions.</p>
							</div>
							<div class="vision-card vision-right-card on-scroll-animation show-on-scroll">
								<p>"Fueled by a culture of <strong>unrestricted innovation,</strong> we pledge to craft <strong>bespoke software</strong> that not only meets but <strong>exceeds client expectations</strong>. <strong>Join us</strong> on a journey where technology and <strong>imagination converge</strong>, shaping a future where <strong>possibilities are limitless</strong>."</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid felizeek-footer pt-80 pb-80 res---pl---0px res---pr---0px res---pt---20px ">
			<div class="container minus-margin-left">
				<div class="row">
					<div class="col-md-8 res---mb---15px iPadMini---width---100per on-scroll-animation show-on-scroll">
						<img src="images/felizeek-logomark-footer.svg" class="mb-3" alt="" width="150" />
						<p class="contact-sub-title">
							Unlock the potential of your organization with our swift,<br />
							innovative, and solution-oriented services.
						</p>
						<p class="footer-text-color color-opecity get-in-touch-text">GET IN TOUCH</p>
						<p class="footer-contact footer-text-color font-size-18px line-height-24px"><img src="images/contact-icon-1.svg" class="mr-10px icon-fit-20" alt="" width="18" /><a href="tel:011-35595225">011-35595225</a></p>
						<p class="footer-text-color font-size-18px line-height-24px"><img src="images/contact-icon-2.svg" class="mr-10px icon-fit-20" alt="" width="18" /><a class="email-text" href="mailto:info@felizeek.com" target="_blank">info@felizeek.com</a></p>
						<p class="footer-address font-size-18px res-map-arrow-row line-height-24px mb-0 res---pt---0px display-flex-only gap-inherit">
							<img src="images/contact-icon-3.svg" class="mr-10px icon-fit-20 location-icon" alt="" width="18" />Invento Coworking, Plot no. 8, 2nd Floor <br />
							Sector 12B, Dwarka, New Delhi, Pincode - 110078 <span id="showModalMap" class="map-arrow"><a href="">Map <img src="images/map-arrow.svg" class="" alt="" width="12" /></a></span>
						</p>
					</div>

					<div class="col-md-4 iPadMini---width---100per on-scroll-animation show-on-scroll">
						<div class="schedule-a-call">
							<div class="schedule-a-call-card">
								<h4 class="width-100">
									Ready to get<br class="res---br---none" />
									started?
								</h4>

								<p>Let's start with a conversation about how we can help you!</p>
								<button id="showModalContact" class="btn btn-primary btn-schedule-a-call" type="submit">Schedule a Call <img src="images/schedule-a-call.svg" alt="" width="24" class="" /></button>
							</div>
							<div class="follow-us-on">
								Follow us on: <a href="https://www.linkedin.com/company/felizeek/" target="_blank">
									<div class="btn btn-primary btn-linkedin"><img src="images/fllow-us-linkdin.svg" alt="" width="16" class="fllow-us-linkdin-img mr-2" />LinkedIn</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end contact us here-->
		<div class="container-fluid felizeek-copyright res---pl---0px res---pr---0px">
			<div class="container minus-margin-left pt-3 pb-3">
				<div class="row">
					<div class="col-md-12 text-center res---text---align---center" id="bottom">
						<p>Copyright &copy; 2024. All rights reserved by <a class="felizeek-url" href="https://www.felizeek.com" target="_self">FeliZeek Technologies</a> Pvt. Ltd.</p>
					</div>
				</div>
			</div>
		</div>

		<div id="idloader" style="display:none" class="container-fluid loader-col">
			<div class="spinner-border text-primary"></div>
		</div>

		<button type="button" id="showLinkedIn" class="slide-toggle-in-0 button-focus"><img src="images/linkedin.svg" alt="" width="36" class="icon-fit-16 in-icon" /> LinkedIn</button>
		<div class="align-items-center box-inner flex-column text-center dismiss-right" style="display: none;">
			<button type="button" id="closeLinkedIn" class="button-focus"><img src="images/linkedin.svg" alt="" width="36" class="icon-fit-16 in-icon" /> LinkedIn</button>
			<div><img src="images/qr-code.svg" alt="" width="150" class="" /></div>
			<div class="scan-to-view">
				Scan to view <br />LinkedIn profile
			</div>
			<div class="or-text">or</div>
			<div>
				<a target="_blank" class="pl-4 pr-4 view-profile d-flex button-focus" href="https://www.linkedin.com/company/felizeek/">
					View Profile
				</a>
			</div>
		</div>
	</section>

	<div class="overlay-outer closeFilePanel closeContactModal"></div>
	<div class="slider-container contactmap dismiss" style="display: none;">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12"><a class="closeFilePanel"><img src="images/modal-down-arrow.svg" class="" alt="" width="50" /></a></div>
				<div class="col-md-12 contact-modal text-center">
					<h4 class=""><span class="text-linear-gradient">Reach Out</span> To Us</h4>
				</div>
				<div class="col-md-12 mb-5 ">
					<div class="row">
						<div class="col-md-5 display-flex-only res---mb---15px">
							<div class="contact-bg-modal">
								<p class="footer-text-color color-opecity get-in-touch-text">GET IN TOUCH</p>
								<p class="footer-contact footer-text-color font-size-18px line-height-24px"><img src="images/contact-icon-1.svg" class="mr-10px icon-fit-20" alt="" width="18" /><a href="tel:011-35595225">011-35595225</a></p>
								<p class="footer-text-color font-size-18px line-height-24px "><img src="images/contact-icon-2.svg" class="mr-10px icon-fit-20" alt="" width="18" /><a class="email-text white-text" href="mailto:info@felizeek.com" target="_blank">info@felizeek.com</a></p>
								<p class="footer-address font-size-18px line-height-24px mb-0 res---pt---0px display-flex-only gap-inherit">
									<img src="images/contact-icon-3.svg" class="mr-10px icon-fit-20 location-icon" alt="" width="18" />Invento Coworking, Plot no. 8, <br class="res-br-none" />
									2nd Floor Sector 12B, Dwarka, <br class="res-br-none" />
									New Delhi, Pincode - 110078
								</p>
							</div>

						</div>
						<div class="col-md-7 contact-modal-map res---mt---15px">
							<iframe frameborder="0"
									src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3503.179550802014!2d77.03670881688593!3d28.594389882064224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d1b34c19a7639%3A0x49291c74c91a54ac!2sInvento%20Coworking%20Office%20Space%2012B!5e0!3m2!1sen!2sin!4v1711954373994!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="slider-container contactform dismiss" style="display: none;">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12"><a class="closeContactModal"><img src="images/modal-down-arrow.svg" class="" alt="" width="50" /></a></div>
				<div class="col-md-12 mb-5">
					<div class="row felizeek-footer contatc-form-bg-row">
						<div id="idcontact" class="contatc-form-bg">
							<div class="col-md-4 form-group">
								<label for="">Full name</label>
								<input type="text" class="form-control" max="200" onkeyup="checkValidation('name')" id="idname" placeholder="Full name" required>
								<div id="idnamereq" style="display:none" class="invalid-feedback">Name is required</div>
								<div id="idnamemin" style="display:none" class="invalid-feedback">Minimum 2 char is required</div>
								<div id="idnamemax" style="display:none" class="invalid-feedback">Maximum 200 char</div>
								<div id="idnamespecial" style="display:none" class="invalid-feedback">Special char not allowed</div>
							</div>
							<div class="col-md-4 form-group">
								<label for="">Email address</label>
								<input type="text" class="form-control" max="200" id="idemail" onkeyup="checkValidation('email')" placeholder="Email address" required>
								<div id="idemailreq" style="display:none" class="invalid-feedback">Email is required</div>
								<div id="idemailmax" style="display:none" class="invalid-feedback">Maximum 200 char</div>
								<div id="idemailvalid" style="display:none" class="invalid-feedback">Invalid Email</div>
							</div>
							<div class="col-md-4 form-group">
								<label for="">Phone number</label>
								<input type="text" class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57' onkeyup="checkValidation('phone')" max="15" id="idphone" placeholder="Phone number" required>
								<div id="idphonereq" style="display:none" class="invalid-feedback">Phone Number is required</div>
								<div id="idphonemin" style="display:none" class="invalid-feedback">Minimum 10 char is required</div>
								<div id="idphonespecial" style="display:none" class="invalid-feedback">Only number allowed</div>
							</div>
							<div class="col-md-4 form-group">
								<label for="">Company name</label>
								<input type="text" class="form-control" max="200" id="idcompany" onkeyup="checkValidation('company')" placeholder="Company name" required>
								<div id="idcompanyreq" style="display:none" class="invalid-feedback">Company Name is required</div>
								<div id="idcompanymin" style="display:none" class="invalid-feedback">Minimum 2 char is required</div>
								<div id="idcompanymax" style="display:none" class="invalid-feedback">Maximum 200 char</div>
								<div id="idcompanyspecial" style="display:none" class="invalid-feedback">Special char not allowed</div>
							</div>
							<div class="col-md-4 form-group ">
								<label for="">Location</label>
								<input type="text" class="form-control" max="200" id="idlocation" onkeyup="checkValidation('location')" placeholder="Location" required>
								<div id="idlocationreq" style="display:none" class="invalid-feedback">Location is required</div>
								<div id="idlocationmin" style="display:none" class="invalid-feedback">Minimum 2 char is required</div>
								<div id="idlocationmax" style="display:none" class="invalid-feedback">Maximum 200 char</div>
								<div id="idlocationspecial" style="display:none" class="invalid-feedback">Special char not allowed</div>
							</div>
							<div class="col-md-12 form-group">
								<label for="">Enter your message</label>
								<textarea id="idmessage" name="message" max="1000" cols="30" rows="2" onkeyup="checkValidation('message')" required class="form-control message pt-3" placeholder="Enter your message"></textarea>
								<div id="idmessagreq" style="display:none" class="invalid-feedback">Message is required</div>
								<div id="idmessagemin" style="display:none" class="invalid-feedback">Minimum 2 char is required</div>
								<div id="idmessagemax" style="display:none" class="invalid-feedback">Maximum 1000 char</div>
							</div>
							<div class="col-md-12">
								<div class="row mt-3 justify-content-center">
									<button id="submit" onclick="sendmail()" class="btn btn-primary btn-submit " type="submit">Submit <img src="https://www.felizeek.com/images/submit-arrow.svg" alt="" width="20" class="" /></button>
									<div id="idthanks" style="display: none;" class="ml-3 res---mt---20px">
										<h3 class="thanks-hartek font-size-13px"><img src="images/thanks-message-icon.svg" class="mr-10px" alt="" width="35" /> Thanks for contacting FeliZeek Technologies! <br />We will get back to you soon.</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--
		<div class="container-fluid loader-col">
			<div class="spinner-border text-primary"></div>
		</div>
		 -->
	<!-- end loader here-->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


	<script src="Scripts/main.js"></script>
	<script>
		$(document).ready(function () {
			$('#showModalMap').click(function (event) {
				if ($('.slider-container.contactmap').hasClass('dismiss')) {
					$('.slider-container.contactmap').removeClass('dismiss').addClass('selected').show();
					$('.overlay-outer').fadeIn();
				}
				event.preventDefault();
			});

			$('.closeFilePanel').click(function (event) {
				if ($('.slider-container.contactmap').hasClass('selected')) {
					$('.slider-container.contactmap').removeClass('selected').addClass('dismiss');
					$('.overlay-outer').fadeOut();
				}
				event.preventDefault();
			});

			$('#showModalContact').click(function (event) {
				if ($('.slider-container.contactform').hasClass('dismiss')) {
					$('.slider-container.contactform').removeClass('dismiss').addClass('selected').show();
					$('.overlay-outer').fadeIn();
				}
				event.preventDefault();
			});

			$('.closeContactModal').click(function (event) {
				if ($('.slider-container.contactform').hasClass('selected')) {
					$('.slider-container.contactform').removeClass('selected').addClass('dismiss');
					$('.overlay-outer').fadeOut();
				}
				event.preventDefault();
			});

		});
	</script>

	<script type="text/javascript">
		var submit = false;
		function sendmail() {
			var error = false;
			var name = $("#idname").val();
			var email = $("#idemail").val();
			var phone = $("#idphone").val();
			var company = $("#idcompany").val();
			/*var subject = $("#idsubject").val();*/
			var location = $("#idlocation").val();
			var message = $("#idmessage").val();
			var format = /[!@@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]+/;
			$("#idname, #idemail, #idphone, #idcompany, #idlocation, #idmessage").removeClass("is-invalid");
			//name
			if (name == '') {
				error = true;
				$('#idname').addClass('is-invalid');
				$('#idnamereq').show();
				$("#idnamemin, #idnamemax, #idnamespecial").hide();
			}
			else if (format.test(name)) {
				error = true;
				$('#idname').addClass('is-invalid');
				$('#idnamespecial').show();
				$("#idnamemin, #idnamemax, #idnamereq").hide();
			}
			else if (name.length < 2) {
				error = true;
				$('#idname').addClass('is-invalid');
				$('#idnamemin').show();
				$("#idnamereq, #idnamemax, #idnamespecial").hide();
			}
			else if (name.length > 200) {
				error = true;
				$('#idname').addClass('is-invalid');
				$('#idnamemax').show();
				$("#idnamemin, #idnamereq, #idnamespecial").hide();
			}

			//email
			if (email == '') {
				error = true;
				$('#idemail').addClass('is-invalid');
				$('#idemailreq').show();
				$("#idemailmax, #idemailvalid").hide();
			}
			else if (email.length > 200) {
				error = true;
				$('#idemail').addClass('is-invalid');
				$('#idemailmax').show();
				$("#idemailreq, #idemailvalid").hide();
			}
			else if (!(/^(([^<>()[\]\\.,;:\s@@"]+(\.[^<>()[\]\\.,;:\s@@"]+)*)|.(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(email))) {

				error = true;
				$('#idemail').addClass('is-invalid');
				$('#idemailvalid').show();
				$("#idemailmax, #idemailreq").hide();
			}

			//phone
			if (phone == '') {
				error = true;
				$('#idphone').addClass('is-invalid');
				$('#idphonereq').show();
				$("#idphonemin, #idphonespecial").hide();
			}
			else if (!phone.match(/^\d+$/)) {
				error = true;
				$('#idphone').addClass('is-invalid');
				$('#idphonespecial').show();
				$("#idphonemin, #idphonereq").hide();
			}
			else if (phone.length < 10) {
				error = true;
				$('#idphone').addClass('is-invalid');
				$('#idphonemin').show();
				$("#idphonereq, #idphonespecial").hide();
			}


			//Company name
			if (company == '') {
				error = true;
				$('#idcompany').addClass('is-invalid');
				$('#idcompanyreq').show();
				$("#idcompanyspecial, #idcompanymin, #idcompanymax").hide();
			}
			else if (format.test(company)) {
				error = true;
				$('#idcompany').addClass('is-invalid');
				$('#idcompanyspecial').show();
				$("#idcompanyreq, #idcompanymin, #idcompanymax").hide();
			}
			else if (company.length < 2) {
				error = true;
				$('#idcompany').addClass('is-invalid');
				$('#idcompanymin').show();
				$("#idcompanyspecial, #idcompanyreq, #idcompanymax").hide();
			}
			else if (company.length > 200) {
				error = true;
				$('#idcompany').addClass('is-invalid');
				$('#idcompanymax').show();
				$("#idcompanyspecial, #idcompanymin, #idcompanyreq").hide();
			}

			//Location
			if (location == '') {
				error = true;
				$('#idlocation').addClass('is-invalid');
				$('#idlocationreq').show();
				$("#idlocationmin, #idlocationspecial, #idlocationmax").hide();
			}
			else if (format.test(location)) {
				error = true;
				$('#idlocation').addClass('is-invalid');
				$('#idlocationspecial').show();
				$("#idlocationreq, #idlocationmax, #idlocationmin").hide();
			}
			else if (location.length < 2) {
				error = true;
				$('#idlocation').addClass('is-invalid');
				$('#idlocationmin').show();
				$("#idlocationreq, #idlocationmax, #idlocationspecial").hide();
			}
			else if (location.length > 200) {
				error = true;
				$('#idlocation').addClass('is-invalid');
				$('#idlocationmax').show();
				$("#idlocationreq, #idlocationmin, #idlocationspecial").hide();
			}

			//message
			if (message == '') {
				error = true;
				$('#idmessage').addClass('is-invalid');
				$('#idmessagreq').show();
				$("#idmessagemin, #idmessagemax").hide();
			}

			else if (message.length < 2) {
				error = true;
				$('#idmessage').addClass('is-invalid');
				$('#idmessagemin').show();
				$("#idmessagreq, #idmessagemax").hide();
			}
			else if (message.length > 1000) {
				error = true;
				$('#idmessage').addClass('is-invalid');
				$('#idmessagemax').show();
				$("#idmessagemin, #idmessagreq").hide();
			}
			if (error) {
				submit = true;
				return false;
			}
			submit = false;
			$('#idthanks').show();
			document.getElementById("idname").value = "";
			document.getElementById("idemail").value = "";
			document.getElementById("idphone").value = "";
			document.getElementById("idcompany").value = "";
			document.getElementById("idlocation").value = "";
			document.getElementById("idmessage").value = "";
			$("#idnamemin, #idnamemax, #idnamespecial, #idnamereq, #idemailreq, #idemailmax, #idemailvalid, #idphonereq, #idphonespecial, #idphonemin, #idcompanyreq, #idcompanyspecial, #idcompanymin, #idcompanymax, #idlocationreq, #idlocationspecial, #idlocationmin, #idlocationmax, #idmessagreq , #idmessagemin, #idmessagemax").hide();

			var data = {
				'companyname': company, 'username': name, 'phone': phone, 'location': location, 'email': email, 'message': message
			}

			$.ajax({

				type: "POST",
				contentType: "application/json; charset=utf-8",
				url: '../Home/SendMail',
				data: JSON.stringify(data),
				dataType: "json",
				async: true,
				success: function (result) {

					if (result == 1) {
						return true;

					}
					else {

						return false;
					}
				}
			});
			/*}*/
		}
		function checkValidation(lbl) {
			var error = false;
			var name = $("#idname").val();
			var email = $("#idemail").val();
			var phone = $("#idphone").val();
			var company = $("#idcompany").val();
			/*var subject = $("#idsubject").val();*/
			var location = $("#idlocation").val();
			var message = $("#idmessage").val();
			var format = /[!@@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]+/;

			//name

			if (lbl == 'name' && submit == true) {
				if (name == '') {
					error = true;
					$('#idname').addClass('is-invalid');
					$('#idnamereq').show();
					$("#idnamemin, #idnamemax, #idnamespecial").hide();
				}
				else if (format.test(name)) {
					error = true;
					$('#idname').addClass('is-invalid');
					$('#idnamespecial').show();
					$("#idnamemin, #idnamemax, #idnamereq").hide();
				}
				else if (name.length < 2) {
					error = true;
					$('#idname').addClass('is-invalid');
					$('#idnamemin').show();
					$("#idnamereq, #idnamemax, #idnamespecial").hide();
				}
				else if (name.length > 200) {
					error = true;
					$('#idname').addClass('is-invalid');
					$('#idnamemax').show();
					$("#idnamemin, #idnamereq, #idnamespecial").hide();
				}
				else {
					$('#idname').removeClass('is-invalid');
					$("#idnamemin,#idnamemax, #idnamereq, #idnamespecial").hide();
				}
			}
			//email
			if (lbl == 'email' && submit == true) {
				if (email == '') {
					error = true;
					$('#idemail').addClass('is-invalid');
					$('#idemailreq').show();
					$("#idemailmax, #idemailvalid").hide();
				}
				else if (email.length > 200) {
					error = true;
					$('#idemail').addClass('is-invalid');
					$('#idemailmax').show();
					$("#idemailreq, #idemailvalid").hide();
				}
				else if (!(/^(([^<>()[\]\\.,;:\s@@"]+(\.[^<>()[\]\\.,;:\s@@"]+)*)|.(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(email))) {

					error = true;
					$('#idemail').addClass('is-invalid');
					$('#idemailvalid').show();
					$("#idemailmax, #idemailreq").hide();
				} else {
					$('#idemail').removeClass('is-invalid');
					$("#idemailvalid, #idemailmax, #idemailreq").hide();
				}
			}
			//phone
			if (lbl == 'phone' && submit == true) {
				if (phone == '') {
					error = true;
					$('#idphone').addClass('is-invalid');
					$('#idphonereq').show();
					$("#idphonemin, #idphonespecial").hide();
				}
				else if (!phone.match(/^\d+$/)) {
					error = true;
					$('#idphone').addClass('is-invalid');
					$('#idphonespecial').show();
					$("#idphonemin, #idphonereq").hide();
				}
				else if (phone.length < 10) {
					error = true;
					$('#idphone').addClass('is-invalid');
					$('#idphonemin').show();
					$("#idphonereq, #idphonespecial").hide();
				} else {
					$('#idphone').removeClass('is-invalid');
					$("#idphonemin,#idphonereq, #idphonespecial").hide();
				}

			}
			//Company name
			if (lbl == 'company' && submit == true) {
				if (company == '') {
					error = true;
					$('#idcompany').addClass('is-invalid');
					$('#idcompanyreq').show();
					$("#idcompanyspecial, #idcompanymin, #idcompanymax").hide();
				}
				else if (format.test(company)) {
					error = true;
					$('#idcompany').addClass('is-invalid');
					$('#idcompanyspecial').show();
					$("#idcompanyreq, #idcompanymin, #idcompanymax").hide();
				}
				else if (company.length < 2) {
					error = true;
					$('#idcompany').addClass('is-invalid');
					$('#idcompanymin').show();
					$("#idcompanyspecial, #idcompanyreq, #idcompanymax").hide();
				}
				else if (company.length > 200) {
					error = true;
					$('#idcompany').addClass('is-invalid');
					$('#idcompanymax').show();
					$("#idcompanyspecial, #idcompanymin, #idcompanyreq").hide();
				} else {
					$('#idcompany').removeClass('is-invalid');
					$("#idcompanymax, #idcompanyspecial, #idcompanymin, #idcompanyreq").hide();
				}
			}
			//Location
			if (lbl == 'location' && submit == true) {
				if (location == '') {
					error = true;
					$('#idlocation').addClass('is-invalid');
					$('#idlocationreq').show();
					$("#idlocationmin, #idlocationspecial, #idlocationmax").hide();
				}
				else if (format.test(location)) {
					error = true;
					$('#idlocation').addClass('is-invalid');
					$('#idlocationspecial').show();
					$("#idlocationreq, #idlocationmax, #idlocationmin").hide();
				}
				else if (location.length < 2) {
					error = true;
					$('#idlocation').addClass('is-invalid');
					$('#idlocationmin').show();
					$("#idlocationreq, #idlocationmax, #idlocationspecial").hide();
				}
				else if (location.length > 200) {
					error = true;
					$('#idlocation').addClass('is-invalid');
					$('#idlocationmax').show();
					$("#idlocationreq, #idlocationmin, #idlocationspecial").hide();
				} else {
					$('#idlocation').removeClass('is-invalid');
					$("#idlocationmax, #idlocationreq, #idlocationmin, #idlocationspecial").hide();
				}
			}
			if (lbl == 'message' && submit == true) {
				if (message == '') {
					error = true;
					$('#idmessage').addClass('is-invalid');
					$('#idmessagreq').show();
					$("#idmessagemin, #idmessagemax").hide();
				}

				else if (message.length < 2) {
					error = true;
					$('#idmessage').addClass('is-invalid');
					$('#idmessagemin').show();
					$("#idmessagreq, #idmessagemax").hide();
				}
				else if (message.length > 1000) {
					error = true;
					$('#idmessage').addClass('is-invalid');
					$('#idmessagemax').show();
					$("#idmessagemin, #idmessagreq").hide();
				} else {
					$('#idmessage').removeClass('is-invalid');
					$("#idmessagemax,#idmessagemin, #idmessagreq").hide();
				}
			}

		}
	</script>

	<script>
		function isElementInViewport(el) {
			if (typeof jQuery === "function" && el instanceof jQuery) {
				el = el[0];
			}

			var rect = el.getBoundingClientRect();

			return (
				rect.top >= 0 &&
				rect.left >= 0 &&
				rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) && /* or $(window).height() */
				rect.right <= (window.innerWidth || document.documentElement.clientWidth) /* or $(window).width() */
			);
		}

		function handleClientVoiceRevel() {
			var elems = document.querySelectorAll(".client-voices-reveal");

			for (var i = 0; i < elems.length; i++) {
				var windowHeight = window.innerHeight;
				var elementTop = elems[i].getBoundingClientRect().top;
				const clientVoiceCardHeight = document.getElementsByClassName('client-voices-item')[0].clientHeight;
				var elementVisible = clientVoiceCardHeight;
				const clientVoicesContainerHeight = document.getElementsByClassName('client-voices')[0].clientHeight;

				let scale = window.Math.cos((elementVisible - elementTop - clientVoiceCardHeight) / clientVoicesContainerHeight);

				if (scale <= 0.8) {
					scale = 0.7;
				}

				if (isElementInViewport(elems[i])
					&& elementTop < windowHeight - elementVisible) {
					elems[i].classList.add("active");
					const tStr = 'scale(' + scale
						+ ','
						+ scale
						+ ')';
					elems[i].style.transform = tStr;
				} else {
					elems[i].classList.remove("active");
					const tStr = 'scale(' + scale
						+ ','
						+ scale
						+ ')';
					elems[i].style.transform = tStr;
				}
			}
		}

		function handleVisionWaves() {
			var elems = document.querySelectorAll("#vision-body-container-parent");
			console.log(elems);
			for (var i = 0; i < elems.length; i++) {
				if (isElementInViewport(elems[i])) {
					elems[i].classList.add('wave');
				} else {
					elems[i].classList.remove('wave');
				}
			}
		}

		function handleScrollEvent(event) {
			handleClientVoiceRevel();
			handleVisionWaves();
		}

		window.addEventListener("scroll", handleScrollEvent);
	</script>

	<script>
		// Detect request animation frame
		var scroll = window.requestAnimationFrame ||
			// IE Fallback
			function (callback) { window.setTimeout(callback, 1000 / 60) };
		var elementsToShow = document.querySelectorAll('.show-on-scroll');

		function loop() {

			Array.prototype.forEach.call(elementsToShow, function (element) {
				if (isElementInViewport(element)) {
					element.classList.add('is-visible');
				} else {
					element.classList.remove('is-visible');
				}
			});

			scroll(loop);
		}

		// Call the loop for the first time
		loop();

		// Helper function from: http://stackoverflow.com/a/7557433/274826
		function isElementInViewport(el) {
			// special bonus for those using jQuery
			if (typeof jQuery === "function" && el instanceof jQuery) {
				el = el[0];
			}
			var rect = el.getBoundingClientRect();
			return (
				(rect.top <= 0
					&& rect.bottom >= 0)
				||
				(rect.bottom >= (window.innerHeight || document.documentElement.clientHeight) &&
					rect.top <= (window.innerHeight || document.documentElement.clientHeight))
				||
				(rect.top >= 0 &&
					rect.bottom <= (window.innerHeight || document.documentElement.clientHeight))
			);
		}
	</script>

	<script src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
	<script>
		$('.slick-carousel').slick({
			infinite: false,
			vertical: true,
			verticalSwiping: true,
			slidesToShow: 1,
			slidesToScroll: 1,
			prevArrow: $('.top-arrow'),
			nextArrow: $('.bottom-arrow'),
			afterChange: (slick, currentSlide) => {
				console.log(slick);
				console.log(currentSlide);
			}
		});

		// On after slide change
		$('.slick-carousel').on('afterChange', function (event, slick, currentSlide) {
			console.log(currentSlide);
			if (currentSlide === 5) {
				// last slide
				$('.slider-up-outline-arrow-icon')[0].style.display = 'none';
				$('.slider-up-fill-arrow-icon')[0].style.display = 'block';
				$('.slider-down-outline-arrow-icon')[0].style.display = 'block';
				$('.slider-down-fill-arrow-icon')[0].style.display = 'none';
			} else if (currentSlide === 0) {
				// going back
				$('.slider-down-fill-arrow-icon')[0].style.display = 'block';
				$('.slider-down-outline-arrow-icon')[0].style.display = 'none';
				$('.slider-up-outline-arrow-icon')[0].style.display = 'block';
				$('.slider-up-fill-arrow-icon')[0].style.display = 'none';
			} else {
				$('.slider-up-outline-arrow-icon')[0].style.display = 'none';
				$('.slider-up-fill-arrow-icon')[0].style.display = 'block';
				$('.slider-down-outline-arrow-icon')[0].style.display = 'none';
				$('.slider-down-fill-arrow-icon')[0].style.display = 'block';
			}
		});
	</script>
</body>
</html>



