﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Career</title>
    <link rel="canonical" href="https://www.felizeek.com/" />
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <!-- meta tags -->
    <meta name="description" content="Project Management">
    <meta name="keywords" content="Software, Development, Project Management Professional, Consulting Services, Business Analysis, Project Management, Co-Development, Legacy Platform Maintenance">
    <meta name="author" content="Felizeek Technologies">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style-custom.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
    <!--<link rel="stylesheet" href="css/animation.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css" />


</head>

<body>
    <section class="full-area">
        <header id="header" class="header-section">
            <div class="container-fluid">
                <div class="row ">
                    <div class="col-md-3 logo-pl-only"><a href="~/" id="#top"><img src="images/felizeek-logo.svg" alt="Felizeek Technologies" width="200" class="logo_wid" /></a></div>
                    <div class="col-md-9">
                        <nav class="navbar navbar-expand-lg navbar-light ">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item "><a class="nav-link smoothScroll" href="~/">Home <span class="sr-only">(current)</span></a> </li>
                                    <li class="nav-item dropdown ">
                                        <div class="pb-0 res-pb-0">
                                            <a href="javascript:void(0);" class="nav-link abt-col smoothScroll dropdown-toggle" data-toggle="dropdown">About Us <span class="caret"></span></a>
                                            <div class="dropdown-menu">
                                                <a href="~/about-us" class="dropdown-item">About Felizeek</a>
                                                <a href="~/our-team" class="dropdown-item">Our Team</a>
                                                <a href="~/partners" class="dropdown-item">Partners</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <div class="res-pb-0">
                                            <a href="javascript:void(0);" class="nav-link abt-col active smoothScroll dropdown-toggle" data-toggle="dropdown">Why Us <span class="caret"></span></a>
                                            <div class="dropdown-menu">
                                                <a href="~/why-us" class="dropdown-item">Why Felizeek</a>
                                                <a href="~/career" class="dropdown-item active">Career</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="nav-item"><a class="nav-link  smoothScroll" href="~/contact-us">Contact Us</a></li>
                                </ul>
                            </div>
                            <div class="social-connect">
                                <ul class="d-flex">
                                    <li><a href="https://www.linkedin.com/company/felizeek/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!--end header here-->

        <div class="container-fluid header-bg pt_90 pl-0 pr-0" id="top">
            <div class="about_us_bg teams-header">
                <h2> <span>employee-experience</span> </h2>
                <ul class="bread-crumb clearfix">
                    <li class="breadcrumb-item"><a href="~/">Home</a></li>
                    <li class="breadcrumb-item"><a href="~/why-us">Why Felizeek</a></li>
                    <li class="breadcrumb-item">Career</li>
                </ul>
            </div>
        </div>
        <!--end header content here-->

        <div class="container-fluid border-bottom" id="Team">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 team">
                        <p class="big_heading">If you are passionate about the latest and modern software development environment and high-quality R&D processes, join the Felizeek Technologies Team, where you will be part of the talented agile team that takes end-to-end responsibility for the product they develop using cutting-edge technologies.</p>
                        <p class="big_heading subtext mb-2">The work culture is loved by Felizeek Technologies team members. Here is what they say.</p>
                        <blockquote class="blockquote">
                            I feel very grateful to have the opportunity to join Felizeek Technologies. I appreciate the work culture and project assigned to me. It is a New Project, which I started from scratch and got a chance to put my thoughts on this with some assistance from Ms. Paramjit. Working in Felizeek Technologies gives me the flexibility to manage my professional and personal life. Needed brainstorming sessions and & help on any specific point is something I liked the most and appreciated.
                            <footer class="blockquote-footer">Pradeep Kumar, Sr. Software Engineer</footer>
                        </blockquote>
                        <blockquote class="blockquote">
                            It is a great honor for me to work with you. First, I want to thank you for trusting and showing faith in me. Additionally, I love the work culture here.
                            <footer class="blockquote-footer">Anil Kumar, Sr. UI\UX Developer</footer>
                        </blockquote>

                    </div>
                </div>

            </div>
        </div>

        <!-- end team here-->


        <div class="container-fluid pb-0" id="Team">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center team">
                        <p class="p_text">Journey</p>
                        <h3>Fun@Felizeek Technologies</h3>
                        <p class="text-light-p pt-3">
                            We believe in the <strong>“Work Hard n Play Hard”</strong> policy. <br />
                            Below, the team can be seen enjoying various events throughout the year!
                        </p>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="container-fluid" id="">
            <div class="row justify-content-center pt-4">
                <div class="col-md-6 pl-0 pr-0 zoom-box"> <img src="images/gallery/01.jpg" alt="" width="100%" class="zoom" /> <span class="hover-mask-container"><span> </div>
                <div class="col-md-6 pl-0 pr-0 zoom-box"> <img src="images/gallery/02.jpg" alt="" width="100%" class="zoom" /> </div>
                <div class="col-md-6 pl-0 pr-0 zoom-box"> <img src="images/gallery/03.jpg" alt="" width="100%" class="zoom" /> </div>
                <div class="col-md-6 pl-0 pr-0 zoom-box"> <img src="images/gallery/04.jpg" alt="" width="100%" class="zoom" /> </div>
            </div>
        </div>*@


        <div class="container-fluid photo-gallery" id="">
            <div class="row justify-content-center pt-4 photos">
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="images/gallery/1.jpg" data-lightbox="photos"><img class="img-fluid" src="images/gallery/1.jpg" title="Anil Kumar Gupta, Dhananjay Verma, Chandra Prakash Mishra, Paramjit Kaur, Gaurav Batra"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="images/gallery/2.jpg" data-lightbox="photos"><img class="img-fluid" src="images/gallery/2.jpg"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="images/gallery/6.jpg" data-lightbox="photos"><img class="img-fluid" src="images/gallery/6.jpg"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="images/gallery/3B.jpg" data-lightbox="photos"><img class="img-fluid" src="images/gallery/3B.jpg" title="Anil Kumar Gupta, Dhananjay Verma, Chandra Prakash Mishra, Paramjit Kaur, Gagandeep Singh, Baljeet Singh, Anil Vadlamudi, Amitendra Kumar, Mohammad Fareed, Navdeep Walia, Gaurav Batra, Ravi Kapoor, Pradeep Kumar"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="images/gallery/4.jpg" data-lightbox="photos"><img class="img-fluid" src="images/gallery/4.jpg"></a></div>
                
                @*<div class="col-sm-6 col-md-4 col-lg-3 item"><a href="images/gallery/5.jpg" data-lightbox="photos"><img class="img-fluid" src="images/gallery/5.jpg" title="Paramjit Kaur"></a></div>*@
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="images/gallery/3A.jpg" data-lightbox="photos"><img class="img-fluid" src="images/gallery/3A.jpg"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="images/gallery/7.jpg" data-lightbox="photos"><img class="img-fluid" src="images/gallery/7.jpg" title="Pradeep Kumar, Paramjit Kaur"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="images/gallery/8.jpg" data-lightbox="photos"><img class="img-fluid" src="images/gallery/8.jpg" title="Pradeep Kumar, Amit Kumar"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="images/gallery/9.jpg" data-lightbox="photos"><img class="img-fluid" src="images/gallery/9.jpg"></a></div>
                
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="images/gallery/10.jpg" data-lightbox="photos"><img class="img-fluid" src="images/gallery/10.jpg"></a></div>
                @*<div class="col-sm-6 col-md-4 col-lg-3 item"><a href="images/gallery/11.jpg" data-lightbox="photos"><img class="img-fluid" src="images/gallery/11.jpg" title="Paramjit Kaur"></a></div>*@
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="images/gallery/12.jpg" data-lightbox="photos"><img class="img-fluid" src="images/gallery/12.jpg" title="Navdeep Walia, Gaurav Batra"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="images/gallery/13.jpg" data-lightbox="photos"><img class="img-fluid" src="images/gallery/13.jpg" title="Gaurav Batra"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="images/gallery/14.jpg" data-lightbox="photos"><img class="img-fluid" src="images/gallery/14.jpg"></a></div>
                
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="images/gallery/15.jpg" data-lightbox="photos"><img class="img-fluid" src="images/gallery/15.jpg"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="images/gallery/16.jpg" data-lightbox="photos"><img class="img-fluid" src="images/gallery/16.jpg" title="Anil Kumar, Dhananjay Verma, Ravi Kapoor, Navdeep Walia, Chandra Prakash Mishra"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="images/gallery/17.jpg" data-lightbox="photos"><img class="img-fluid" src="images/gallery/17.jpg"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="images/gallery/21.jpg" data-lightbox="photos"><img class="img-fluid" src="images/gallery/21.jpg"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="images/gallery/19.jpg" data-lightbox="photos"><img class="img-fluid" src="images/gallery/19.jpg" title="Anil Kumar, Dhananjay Verma, Gagandeep Singh"></a></div>
                
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="images/gallery/20.jpg" data-lightbox="photos"><img class="img-fluid" src="images/gallery/20.jpg"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="images/gallery/18.jpg" data-lightbox="photos"><img class="img-fluid" src="images/gallery/18.jpg" title="Anil Vadlamudi"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="images/gallery/22.jpg" data-lightbox="photos"><img class="img-fluid" src="images/gallery/22.jpg"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="images/gallery/23.jpg" data-lightbox="photos"><img class="img-fluid" src="images/gallery/23.jpg"></a></div>
                @*<div class="col-sm-6 col-md-4 col-lg-3 item"><a href="images/gallery/24.jpg" data-lightbox="photos"><img class="img-fluid" src="images/gallery/24.jpg"></a></div>*@
                
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="images/gallery/25.jpg" data-lightbox="photos"><img class="img-fluid" src="images/gallery/25.jpg" title="Chandra Prakash Mishra, Ravi Kapoor"></a></div>
           
            </div>
        </div>
        <!-- end gallery here-->




        <div class="container-fluid footer-bg border-top-footer-0">
            <div class="container pt-3 pb-2">
                <div class="row">
                    <div class="col-md-12 text-center" id="bottom">
                        <p>Copyright &copy; 2024. All right reserved by Felizeek Technologies Pvt. Ltd.</p>
                    </div>
                </div>
                <div class="row"><a data-scroll="" class="smoothScroll" href="#top" id="scroll-to-top" style="display: none;"><i class="fas fa-chevron-up"></i></a></div>
            </div>
        </div>
        <!-- end copyright here-->
    </section>
    <!--
        <div class="container-fluid loader-col">
            <div class="spinner-border text-primary"></div>
        </div>
         -->
    <!-- end loader here-->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>

    <script src="Scripts/main.js"></script>
</body>
</html>
