﻿
@{
	Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
	<title>Connect</title>
	<link rel="canonical" href="https://www.felizeek.com/" />
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
	<!-- meta tags -->
	<meta name="description" content="Project Management">
	<meta name="keywords" content="Software, Development, Project Management Professional, Consulting Services, Business Analysis, Project Management, Co-Development, Legacy Platform Maintenance">
	<meta name="author" content="FeliZeek Technologies">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style-custom.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
	<!--<link rel="stylesheet" href="css/animation.css">-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
</head>

<body>
	<div class="full-area">
		<header id="header" class="header-section">
			<div id="header-fixed" class="container-fluid res---pl---0px res---pr---0px">
				<div class="container minus-margin-left">
					<div class="row ">
						<div class="col-md-12">
							<div id="brand-navigation-row" class="brand-navigation-row">
								<div class="row">
									<div class="col-md-3 logo-pl-only">
										<a href="https://www.felizeek.com"><img src="https://www.felizeek.com/images/felizeek-logo.svg" alt="FeliZeek Technologies" width="180" class="logo_wid" /></a>
									</div>
									<div class="col-md-9">
										<nav class="navbar navbar-expand-lg navbar-light ">
											<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
												<span class="navbar-toggler-icon"></span>
											</button>
											<div class="collapse navbar-collapse" id="navbarSupportedContent">
												<ul class="navbar-nav ml-auto">
													<li class="nav-item">
														<a class="nav-link smoothScroll" href="https://www.felizeek.com"><img src="images/icon-home.svg" alt="" width="18" />Home <span class="sr-only">(current)</span></a>
													</li>

													<li class="nav-item">
														<a class="nav-link smoothScroll" href="https://www.felizeek.com/about-us"><img src="images/icon-overview.svg" alt="" width="18" />Overview</a>
													</li>

													<li class="nav-item">
														<a class="nav-link smoothScroll" href="https://www.felizeek.com/our-team"><img src="images/icon-team.svg" alt="" width="18" />Team</a>
													</li>
													<li class="nav-item active">
														<a class="nav-link smoothScroll" href="https://www.felizeek.com/contact-us"><img src="images/icon-contact.svg" alt="" width="18" />Connect</a>
													</li>
												</ul>
											</div>
										</nav>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
	</div>

	<section class="full-area">
		@*<header id="header" class="header-section">
			<div class="container-fluid res---pl---0px res---pr---0px">
				<div class="container minus-margin-left">
					<div class="row ">
						<div class="col-md-3 logo-pl-only">
							<a href="https://www.felizeek.com" id="#top"><img src="https://www.felizeek.com/images/felizeek-logo.svg" alt="FeliZeek Technologies" width="250" class="logo_wid" /></a>
						</div>
						<div class="col-md-9 pr-0">
							<nav class="navbar navbar-expand-lg navbar-light ">
								<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
									<span class="navbar-toggler-icon"></span>
								</button>
								<div class="collapse navbar-collapse" id="navbarSupportedContent">
									<ul class="navbar-nav ml-auto">
										<li class="nav-item ">
											<a class="nav-link smoothScroll" href="https://www.felizeek.com">Home <span class="sr-only">(current)</span></a>
										</li>

										<li class="nav-item">
											<a class="nav-link smoothScroll" href="https://www.felizeek.com/about-us">Overview</a>
										</li>

										<li class="nav-item">
											<a class="nav-link smoothScroll" href="https://www.felizeek.com/our-team">Team</a>
										</li>

										<li class="nav-item active">
											<a class="nav-link smoothScroll" href="https://www.felizeek.com/contact-us">Connect</a>
										</li>
									</ul>
								</div>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</header>*@
		<!--end header here-->

		<div class="container-fluid pt-100 pb-0 res---pl---0px res---pr---0px">
			<div class="container minus-margin-left">
				<div class="row">
					<div class="col-md-12 index-header secondary-title text-center ">
						<h1 class="text-center res---mt---10px">
							<span class="text-linear-gradient">Connect</span> With Us
						</h1>
						<p class="mb-0">Unlock the potential of your organization with our swift, innovative, and solution-oriented services.</p>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="google-map-contact animate__animated animate__fadeInRight">
							<iframe frameborder="0"
									src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3503.179550802014!2d77.03670881688593!3d28.594389882064224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d1b34c19a7639%3A0x49291c74c91a54ac!2sInvento%20Coworking%20Office%20Space%2012B!5e0!3m2!1sen!2sin!4v1711954373994!5m2!1sen!2sin" width="600" height="320" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5 display-flex-only google-map-contact">
						<div class="contact-bg-modal animate__animated animate__fadeInLeft">
							<p class="footer-text-color color-opecity get-in-touch-text-2">Get In <br />Touch</p>
							<p class="footer-contact footer-text-color font-size-18px line-height-24px"><img src="images/contact-icon-1.svg" class="mr-10px icon-fit-20" alt="" width="18" /><a href="tel:011-35595225">011-35595225</a></p>
							<p class="footer-text-color font-size-18px line-height-24px "><img src="images/contact-icon-2.svg" class="mr-10px icon-fit-20" alt="" width="18" /><a class="email-text white-text" href="mailto:info@felizeek.com" target="_blank">info@felizeek.com</a></p>
							<p class="footer-address font-size-18px line-height-24px mb-0 res---pt---0px display-flex-only gap-inherit">
								<img src="images/contact-icon-3.svg" class="mr-10px icon-fit-20 location-icon" alt="" width="18" />Invento Coworking, Plot no. 8, <br />
								2nd Floor Sector 12B, Dwarka, <br />
								New Delhi, Pincode - 110078
							</p>
						</div>
					</div>
					<div class="col-md-7 felizeek-footer contact-us-pag google-map-contact">
						<div id="idcontact" class="felizeek-footer-corner">
							<div class="row on-scroll-animation show-on-scroll">
								<div class="col-md-6 form-group">
									<label for="">Full name</label>
									<input type="text" class="form-control" max="200" id="idname" onkeyup="checkValidation('name')" placeholder="Full name" required>
									<div id="idnamereq" style="display:none" class="invalid-feedback">Name is required</div>
									<div id="idnamemin" style="display:none" class="invalid-feedback">Minimum 2 char is required</div>
									<div id="idnamemax" style="display:none" class="invalid-feedback">Maximum 200 char</div>
									<div id="idnamespecial" style="display:none" class="invalid-feedback">Special char not allowed</div>
								</div>
								<div class="col-md-6 form-group">
									<label for="">Email address</label>
									<input type="text" class="form-control" max="200" id="idemail" onkeyup="checkValidation('email')" placeholder="Email address" required>
									<div id="idemailreq" style="display:none" class="invalid-feedback">Email is required</div>
									<div id="idemailmax" style="display:none" class="invalid-feedback">Maximum 200 char</div>
									<div id="idemailvalid" style="display:none" class="invalid-feedback">Invalid Email</div>
								</div>
								<div class="col-md-6 form-group">
									<label for="">Phone number</label>
									<input type="text" class="form-control" max="15" id="idphone" onkeypress='return event.charCode >= 48 && event.charCode <= 57' onkeyup="checkValidation('phone')" placeholder="Phone number" required>
									<div id="idphonereq" style="display:none" class="invalid-feedback">Phone Number is required</div>
									<div id="idphonemin" style="display:none" class="invalid-feedback">Minimum 10 char is required</div>
									<div id="idphonespecial" style="display:none" class="invalid-feedback">Only number allowed</div>
								</div>
								<div class="col-md-6 form-group">
									<label for="">Company name</label>
									<input type="text" class="form-control" max="200" onkeyup="checkValidation('company')" id="idcompany" placeholder="Company name" required>
									<div id="idcompanyreq" style="display:none" class="invalid-feedback">Company Name is required</div>
									<div id="idcompanymin" style="display:none" class="invalid-feedback">Minimum 2 char is required</div>
									<div id="idcompanymax" style="display:none" class="invalid-feedback">Maximum 200 char</div>
									<div id="idcompanyspecial" style="display:none" class="invalid-feedback">Special char not allowed</div>
								</div>
								<div class="col-md-12 form-group ">
									<label for="">Location</label>
									<input type="text" class="form-control" max="200" id="idlocation" onkeyup="checkValidation('location')" placeholder="Location" required>
									<div id="idlocationreq" style="display:none" class="invalid-feedback">Location is required</div>
									<div id="idlocationmin" style="display:none" class="invalid-feedback">Minimum 2 char is required</div>
									<div id="idlocationmax" style="display:none" class="invalid-feedback">Maximum 200 char</div>
									<div id="idlocationspecial" style="display:none" class="invalid-feedback">Special char not allowed</div>
								</div>
								<div class="col-md-12 form-group">
									<label for="">Enter your message</label>
									<textarea id="idmessage" name="message" max="1000" cols="30" rows="2" onkeyup="checkValidation('message')" required class="form-control message pt-3" placeholder="Enter your message"></textarea>
									<div id="idmessagreq" style="display:none" class="invalid-feedback">Message is required</div>
									<div id="idmessagemin" style="display:none" class="invalid-feedback">Minimum 2 char is required</div>
									<div id="idmessagemax" style="display:none" class="invalid-feedback">Maximum 1000 char</div>
								</div>
								<div class="com-md-12 mt-3 width-100 ">
									<div class="row justify-content-center">
										<button id="submit" onclick="sendmail()" class="btn btn-primary btn-submit " type="submit">Submit <img src="images/submit-arrow.svg" alt="" width="20" class="" /></button>
										<div id="idthanks" style="display: none;" class="ml-3 res---mt---20px">
											<h3 class="thanks-hartek"><img src="images/thanks-message-icon.svg" class="mr-10px" alt="" width="35" /> Thanks for contacting FeliZeek Technologies! <br />We will get back to you soon.</h3>
										</div>
									</div>
								</div>
							
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		
		<!-- end contact us here-->

		<div class="container-fluid felizeek-copyright contact-us-page res---pl---0px res---pr---0px">
			<div class="container minus-margin-left pt-3 pb-3">
				<div class="row">
					<div class="col-md-12 text-center res---text---align---center" id="bottom">
						<p>Copyright &copy; 2024. All rights reserved by <a class="felizeek-url felizeek-url-contact" href="https://www.felizeek.com" target="_self">FeliZeek Technologies</a> Pvt. Ltd.</p>
					</div>
				</div>
			</div>
		</div>

		<div id="idloader" style="display:none" class="container-fluid loader-col">
			<div class="spinner-border text-primary"></div>
		</div>
		<!-- end copyright here-->

		<button type="button" id="showLinkedIn" class="slide-toggle-in-0 button-focus"><img src="images/linkedin.svg" alt="" width="36" class="icon-fit-16 in-icon" /> LinkedIn</button>
		<div class="align-items-center box-inner flex-column text-center dismiss-right" style="display: none;">
			<button type="button" id="closeLinkedIn" class="button-focus"><img src="images/linkedin.svg" alt="" width="36" class="icon-fit-16 in-icon" /> LinkedIn</button>
			<div><img src="images/qr-code.svg" alt="" width="150" class="" /></div>
			<div class="scan-to-view">
				Scan to view <br />LinkedIn profile
			</div>
			<div class="or-text">or</div>
			<div>
				<a target="_blank" class="pl-4 pr-4 view-profile d-flex button-focus" href="https://www.linkedin.com/company/felizeek/">
					View Profile
				</a>
			</div>
		</div>
	</section>

	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

	<script src="Scripts/main.js"></script>
	<script type="text/javascript">
		var submit = false;
		function sendmail() {
			var error = false;
			var name = $("#idname").val();
			var email = $("#idemail").val();
			var phone = $("#idphone").val();
			var company = $("#idcompany").val();
			/*var subject = $("#idsubject").val();*/
			var location = $("#idlocation").val();
			var message = $("#idmessage").val();
			var format = /[!@@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]+/;
			$("#idname, #idemail, #idphone, #idcompany, #idlocation, #idmessage").removeClass("is-invalid");
			//name
			if (name == '') {
				error = true;
				$('#idname').addClass('is-invalid');
				$('#idnamereq').show();
				$("#idnamemin, #idnamemax, #idnamespecial").hide();
			}
			else if (format.test(name)) {
				error = true;
				$('#idname').addClass('is-invalid');
				$('#idnamespecial').show();
				$("#idnamemin, #idnamemax, #idnamereq").hide();
			}
			else if (name.length < 2) {
				error = true;
				$('#idname').addClass('is-invalid');
				$('#idnamemin').show();
				$("#idnamereq, #idnamemax, #idnamespecial").hide();
			}
			else if (name.length > 200) {
				error = true;
				$('#idname').addClass('is-invalid');
				$('#idnamemax').show();
				$("#idnamemin, #idnamereq, #idnamespecial").hide();
			}

			//email
			if (email == '') {
				error = true;
				$('#idemail').addClass('is-invalid');
				$('#idemailreq').show();
				$("#idemailmax, #idemailvalid").hide();
			}
			else if (email.length > 200) {
				error = true;
				$('#idemail').addClass('is-invalid');
				$('#idemailmax').show();
				$("#idemailreq, #idemailvalid").hide();
			}
			else if (!(/^(([^<>()[\]\\.,;:\s@@"]+(\.[^<>()[\]\\.,;:\s@@"]+)*)|.(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(email))) {

				error = true;
				$('#idemail').addClass('is-invalid');
				$('#idemailvalid').show();
				$("#idemailmax, #idemailreq").hide();
			}

			//phone
			if (phone == '') {
				error = true;
				$('#idphone').addClass('is-invalid');
				$('#idphonereq').show();
				$("#idphonemin, #idphonespecial").hide();
			}
			else if (!phone.match(/^\d+$/)) {
				error = true;
				$('#idphone').addClass('is-invalid');
				$('#idphonespecial').show();
				$("#idphonemin, #idphonereq").hide();
			}
			else if (phone.length < 10) {
				error = true;
				$('#idphone').addClass('is-invalid');
				$('#idphonemin').show();
				$("#idphonereq, #idphonespecial").hide();
			}


			//Company name
			if (company == '') {
				error = true;
				$('#idcompany').addClass('is-invalid');
				$('#idcompanyreq').show();
				$("#idcompanyspecial, #idcompanymin, #idcompanymax").hide();
			}
			else if (format.test(company)) {
				error = true;
				$('#idcompany').addClass('is-invalid');
				$('#idcompanyspecial').show();
				$("#idcompanyreq, #idcompanymin, #idcompanymax").hide();
			}
			else if (company.length < 2) {
				error = true;
				$('#idcompany').addClass('is-invalid');
				$('#idcompanymin').show();
				$("#idcompanyspecial, #idcompanyreq, #idcompanymax").hide();
			}
			else if (company.length > 200) {
				error = true;
				$('#idcompany').addClass('is-invalid');
				$('#idcompanymax').show();
				$("#idcompanyspecial, #idcompanymin, #idcompanyreq").hide();
			}

			//Location
			if (location == '') {
				error = true;
				$('#idlocation').addClass('is-invalid');
				$('#idlocationreq').show();
				$("#idlocationmin, #idlocationspecial, #idlocationmax").hide();
			}
			else if (format.test(location)) {
				error = true;
				$('#idlocation').addClass('is-invalid');
				$('#idlocationspecial').show();
				$("#idlocationreq, #idlocationmax, #idlocationmin").hide();
			}
			else if (location.length < 2) {
				error = true;
				$('#idlocation').addClass('is-invalid');
				$('#idlocationmin').show();
				$("#idlocationreq, #idlocationmax, #idlocationspecial").hide();
			}
			else if (location.length > 200) {
				error = true;
				$('#idlocation').addClass('is-invalid');
				$('#idlocationmax').show();
				$("#idlocationreq, #idlocationmin, #idlocationspecial").hide();
			}

			//message
			if (message == '') {
				error = true;
				$('#idmessage').addClass('is-invalid');
				$('#idmessagreq').show();
				$("#idmessagemin, #idmessagemax").hide();
			}

			else if (message.length < 2) {
				error = true;
				$('#idmessage').addClass('is-invalid');
				$('#idmessagemin').show();
				$("#idmessagreq, #idmessagemax").hide();
			}
			else if (message.length > 1000) {
				error = true;
				$('#idmessage').addClass('is-invalid');
				$('#idmessagemax').show();
				$("#idmessagemin, #idmessagreq").hide();
			}
			if (error) {
				submit = true;
				return false;
			}
			submit = false;
			$('#idthanks').show();
			document.getElementById("idname").value = "";
			document.getElementById("idemail").value = "";
			document.getElementById("idphone").value = "";
			document.getElementById("idcompany").value = "";
			document.getElementById("idlocation").value = "";
			document.getElementById("idmessage").value = "";
			$("#idnamemin, #idnamemax, #idnamespecial, #idnamereq, #idemailreq, #idemailmax, #idemailvalid, #idphonereq, #idphonespecial, #idphonemin, #idcompanyreq, #idcompanyspecial, #idcompanymin, #idcompanymax, #idlocationreq, #idlocationspecial, #idlocationmin, #idlocationmax, #idmessagreq , #idmessagemin, #idmessagemax").hide();

			var data = {
				'companyname': company, 'username': name, 'phone': phone, 'location': location, 'email': email, 'message': message
			}

			$.ajax({

				type: "POST",
				contentType: "application/json; charset=utf-8",
				url: '../Home/SendMail',
				data: JSON.stringify(data),
				dataType: "json",
				async: true,
				success: function (result) {

					if (result == 1) {
						return true;

					}
					else {

						return false;
					}
				}
			});
			/*}*/
		}
		function checkValidation(lbl) {
			var error = false;
			var name = $("#idname").val();
			var email = $("#idemail").val();
			var phone = $("#idphone").val();
			var company = $("#idcompany").val();
			/*var subject = $("#idsubject").val();*/
			var location = $("#idlocation").val();
			var message = $("#idmessage").val();
			var format = /[!@@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]+/;

			//name

			if (lbl == 'name' && submit == true) {
				if (name == '') {
					error = true;
					$('#idname').addClass('is-invalid');
					$('#idnamereq').show();
					$("#idnamemin, #idnamemax, #idnamespecial").hide();
				}
				else if (format.test(name)) {
					error = true;
					$('#idname').addClass('is-invalid');
					$('#idnamespecial').show();
					$("#idnamemin, #idnamemax, #idnamereq").hide();
				}
				else if (name.length < 2) {
					error = true;
					$('#idname').addClass('is-invalid');
					$('#idnamemin').show();
					$("#idnamereq, #idnamemax, #idnamespecial").hide();
				}
				else if (name.length > 200) {
					error = true;
					$('#idname').addClass('is-invalid');
					$('#idnamemax').show();
					$("#idnamemin, #idnamereq, #idnamespecial").hide();
				}
				else {
					$('#idname').removeClass('is-invalid');
					$("#idnamemin,#idnamemax, #idnamereq, #idnamespecial").hide();
				}
			}
			//email
			if (lbl == 'email' && submit == true) {
				if (email == '') {
					error = true;
					$('#idemail').addClass('is-invalid');
					$('#idemailreq').show();
					$("#idemailmax, #idemailvalid").hide();
				}
				else if (email.length > 200) {
					error = true;
					$('#idemail').addClass('is-invalid');
					$('#idemailmax').show();
					$("#idemailreq, #idemailvalid").hide();
				}
				else if (!(/^(([^<>()[\]\\.,;:\s@@"]+(\.[^<>()[\]\\.,;:\s@@"]+)*)|.(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(email))) {

					error = true;
					$('#idemail').addClass('is-invalid');
					$('#idemailvalid').show();
					$("#idemailmax, #idemailreq").hide();
				} else {
					$('#idemail').removeClass('is-invalid');
					$("#idemailvalid, #idemailmax, #idemailreq").hide();
				}
			}
			//phone
			if (lbl == 'phone' && submit == true) {
				if (phone == '') {
					error = true;
					$('#idphone').addClass('is-invalid');
					$('#idphonereq').show();
					$("#idphonemin, #idphonespecial").hide();
				}
				else if (!phone.match(/^\d+$/)) {
					error = true;
					$('#idphone').addClass('is-invalid');
					$('#idphonespecial').show();
					$("#idphonemin, #idphonereq").hide();
				}
				else if (phone.length < 10) {
					error = true;
					$('#idphone').addClass('is-invalid');
					$('#idphonemin').show();
					$("#idphonereq, #idphonespecial").hide();
				} else {
					$('#idphone').removeClass('is-invalid');
					$("#idphonemin,#idphonereq, #idphonespecial").hide();
				}

			}
			//Company name
			if (lbl == 'company' && submit == true) {
				if (company == '') {
					error = true;
					$('#idcompany').addClass('is-invalid');
					$('#idcompanyreq').show();
					$("#idcompanyspecial, #idcompanymin, #idcompanymax").hide();
				}
				else if (format.test(company)) {
					error = true;
					$('#idcompany').addClass('is-invalid');
					$('#idcompanyspecial').show();
					$("#idcompanyreq, #idcompanymin, #idcompanymax").hide();
				}
				else if (company.length < 2) {
					error = true;
					$('#idcompany').addClass('is-invalid');
					$('#idcompanymin').show();
					$("#idcompanyspecial, #idcompanyreq, #idcompanymax").hide();
				}
				else if (company.length > 200) {
					error = true;
					$('#idcompany').addClass('is-invalid');
					$('#idcompanymax').show();
					$("#idcompanyspecial, #idcompanymin, #idcompanyreq").hide();
				} else {
					$('#idcompany').removeClass('is-invalid');
					$("#idcompanymax, #idcompanyspecial, #idcompanymin, #idcompanyreq").hide();
				}
			}
			//Location
			if (lbl == 'location' && submit == true) {
				if (location == '') {
					error = true;
					$('#idlocation').addClass('is-invalid');
					$('#idlocationreq').show();
					$("#idlocationmin, #idlocationspecial, #idlocationmax").hide();
				}
				else if (format.test(location)) {
					error = true;
					$('#idlocation').addClass('is-invalid');
					$('#idlocationspecial').show();
					$("#idlocationreq, #idlocationmax, #idlocationmin").hide();
				}
				else if (location.length < 2) {
					error = true;
					$('#idlocation').addClass('is-invalid');
					$('#idlocationmin').show();
					$("#idlocationreq, #idlocationmax, #idlocationspecial").hide();
				}
				else if (location.length > 200) {
					error = true;
					$('#idlocation').addClass('is-invalid');
					$('#idlocationmax').show();
					$("#idlocationreq, #idlocationmin, #idlocationspecial").hide();
				} else {
					$('#idlocation').removeClass('is-invalid');
					$("#idlocationmax, #idlocationreq, #idlocationmin, #idlocationspecial").hide();
				}
			}
			if (lbl == 'message' && submit == true) {
				if (message == '') {
					error = true;
					$('#idmessage').addClass('is-invalid');
					$('#idmessagreq').show();
					$("#idmessagemin, #idmessagemax").hide();
				}

				else if (message.length < 2) {
					error = true;
					$('#idmessage').addClass('is-invalid');
					$('#idmessagemin').show();
					$("#idmessagreq, #idmessagemax").hide();
				}
				else if (message.length > 1000) {
					error = true;
					$('#idmessage').addClass('is-invalid');
					$('#idmessagemax').show();
					$("#idmessagemin, #idmessagreq").hide();
				} else {
					$('#idmessage').removeClass('is-invalid');
					$("#idmessagemax,#idmessagemin, #idmessagreq").hide();
				}
			}

		}


	</script>

	<script>
		// Detect request animation frame
		var scroll = window.requestAnimationFrame ||
			// IE Fallback
			function (callback) { window.setTimeout(callback, 1000 / 60) };
		var elementsToShow = document.querySelectorAll('.show-on-scroll');

		function loop() {

			Array.prototype.forEach.call(elementsToShow, function (element) {
				if (isElementInViewport(element)) {
					element.classList.add('is-visible');
				} else {
					element.classList.remove('is-visible');
				}
			});

			scroll(loop);
		}

		// Call the loop for the first time
		loop();

		// Helper function from: http://stackoverflow.com/a/7557433/274826
		function isElementInViewport(el) {
			// special bonus for those using jQuery
			if (typeof jQuery === "function" && el instanceof jQuery) {
				el = el[0];
			}
			var rect = el.getBoundingClientRect();
			return (
				(rect.top <= 0
					&& rect.bottom >= 0)
				||
				(rect.bottom >= (window.innerHeight || document.documentElement.clientHeight) &&
					rect.top <= (window.innerHeight || document.documentElement.clientHeight))
				||
				(rect.top >= 0 &&
					rect.bottom <= (window.innerHeight || document.documentElement.clientHeight))
			);
		}
	</script>

</body>
</html>
