﻿@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<meta property="og:type" content="article" />

	<meta property="og:title" content="FeliZeek Technologies - FZ | Software, Development | Project Management Professional | Business Analysis | Co-Development | Legacy Platform Maintenance" />

	<meta property="og:image" content="https://www.felizeek.com/images/felizeek-logo.svg" />

	<meta property="og:site_name" content="FeliZeek Technologies" />

	<meta property="og:description" content="FeliZeek is an IT company with vast experience in building enterprise platforms." />

	<link rel="icon" type="image/png" href="https://www.felizeek.com/images/favicon.ico">

	<title>Software Design and Development company | FeliZeek Technologies</title>

	<!-- meta tags -->
	<meta name="description" content="We are a Software Design and Development company offering services in custom platform development, expansion, and maintenance of legacy platforms.">
	<meta name="keywords" content="Software, Development, Project Management Professional, Consulting Services, Business Analysis, Project Management, Co-Development, Legacy Platform Maintenance">

	<meta name="robots" content="all" />
	<meta name="resource-type" content="document" />
	<meta name="page-topic" content="Software Development" />
	<meta name="clientbase" content="Global" />
	<meta name="distribution" content="World Wide Web" />

	<meta name="audience" content="all" />
	<link rel="canonical" href="https://www.felizeek.com/" />
	<meta name="rating" content="general" />
	<meta id="googlebot" name="googlebot" content="index, follow">
	<meta name="expires" content="never" />

	<meta name="bingbot" content=" index, follow " />
	<meta name="revisit-after" content="Daily" />
	<meta name="author" content="FeliZeek Software Development">
	<meta name="HandheldFriendly" content="True" />
	<meta name="YahooSeeker" content="Index,Follow" />

	<meta name="geo.region" content="IN" />
	<meta name="State" content="New Delhi" />
	<meta name="City" content="Delhi" />
	<meta name="subject" content="Rated #1 Best Software Development Company in India" />

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

	<link rel="stylesheet" href="css/style-custom.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
	@*<link rel="stylesheet" href="css/animation.css">*@
	@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />*@
</head>

<body>
	<div class="full-area">
		<div id="video-wrapper">
			<div id="full-screen-div">
				<video id="video" role="presentation" preload="auto" playsinline="" crossorigin="anonymous" loop="" muted="" autoplay="" class="blur">
					<source src="videos/hero-section-bg-video.webm" type="video/webm">
					<source src="videos/hero-section-bg-video.mp4" type="video/mp4">
				</video>
				<div class="videoMessage">
					<h1>
						End-to-end IT Solutions Company<br />
						Offering Comprehensive<br />
						Technology Services
					</h1>
				</div>
			</div>
		</div>

		<header id="header" class="header-section">
			<div class="container-fluid res---pl---0px res---pr---0px">
				<div class="container minus-margin-left">
					<div class="row ">
						<div class="col-md-12">
							<div class="brand-navigation-row">
								<div class="row">
									<div class="col-md-3 logo-pl-only">
										<a href="https://www.felizeek.com"><img src="https://www.felizeek.com/images/felizeek-logo.svg" alt="FeliZeek Technologies" width="180" class="logo_wid" /></a>
									</div>
									<div class="col-md-9">
										<nav class="navbar navbar-expand-lg navbar-light ">
											<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
												<span class="navbar-toggler-icon"></span>
											</button>
											<div class="collapse navbar-collapse" id="navbarSupportedContent">
												<ul class="navbar-nav ml-auto">
													<li class="nav-item active">
														<a class="nav-link smoothScroll" href="https://www.felizeek.com"><img src="images/icon-home.svg" alt="" width="18" />Home <span class="sr-only">(current)</span></a>
													</li>

													<li class="nav-item">
														<a class="nav-link smoothScroll" href="https://www.felizeek.com/about-us"><img src="images/icon-overview.svg" alt="" width="18" />Overview</a>
													</li>

													<li class="nav-item">
														<a class="nav-link smoothScroll" href="https://www.felizeek.com/our-team"><img src="images/icon-team.svg" alt="" width="18" />Team</a>
													</li>

													@*<li class="nav-item dropdown">
															<div class="res-pb-0">
																<a href="javascript:void(0);" class="nav-link abt-col smoothScroll dropdown-toggle" data-toggle="dropdown">About Us <span class="caret"></span></a>
																<div class="dropdown-menu">
																	<a href="about-us" class="dropdown-item">About FeliZeek</a>
																	<a href="our-team" class="dropdown-item">Our Team</a>
																	<a href="~/partners" class="dropdown-item">Partners</a>
																</div>
															</div>
														</li>*@

													@*<li class="nav-item dropdown">
															<div class="res-pb-0">
																<a href="javascript:void(0);" class="nav-link abt-col smoothScroll dropdown-toggle" data-toggle="dropdown">Why Us <span class="caret"></span></a>
																<div class="dropdown-menu">
																	<a href="why-us" class="dropdown-item">Why FeliZeek</a>
																	<a href="career" class="dropdown-item">Career</a>
																</div>
															</div>
														</li>*@

													<li class="nav-item">
														<a class="nav-link smoothScroll" href="https://www.felizeek.com/contact-us"><img src="images/icon-contact.svg" alt="" width="18" />Connect</a>
													</li>
												</ul>
											</div>
										</nav>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!--end header here-->
		@*<div class="container-fluid pt-80 res---pl---0px res---pr---0px">
				<div class="container minus-margin-left">
					<div class="row hero-banner-graphics pt-4">
						<div class="col-md-6 index-header res---width---100per iPadMini---width---50per res---text---align---center">
							<h1>
								End to end <span>IT</span><br />
								<span>Solution</span> company
							</h1>
							<p><span>FeliZeek</span> is an IT company with vast experience in building enterprise platforms</p>
						</div>
						<div class="col-md-6 text-right res---width---100per res---mt---20px iPadMini---width---50per">
							<img class="img-responsive" src="https://www.felizeek.com/images/hero-banner-graphics.png" alt="" width="75%" />
						</div>
					</div>
				</div>
			</div>*@
	</div>
	<section class="full-area">
		<div class="container-fluid pt-80 hero-banner-bg white-bg res---pl---0px res---pr---0px res---pt---20px">
			<div class="container minus-margin-left">
				<div class="row">
					<div class="col-md-12 pl-0 pr-0">
						<h2>What <span class="text-linear-gradient">We Do</span>?</h2>
						<div class="col-md-6 mb-4 res---mb---15px iPadMini---width---50per">
							<div class="what-we-do-cols feature-card on-scroll-animation show-on-scroll">
								<h3 class="white-text-color">Design<img src="images/icon-design.svg" alt="" width="32" class="icon-fit-32 image-color-white-filter" /></h3>
								<div class="what-we-do-cols-list">
									<p class="white-text-color">We work with you to define the process and work on the design to solve it. The design process is very transparent, keeping the stakeholders involved.</p>
								</div>
							</div>
						</div>
						<div class="col-md-6 mb-4 res---mb---15px iPadMini---width---50per">
							<div class="what-we-do-cols on-scroll-animation show-on-scroll">
								<h3 class="white-text-color">Develop<img src="images/icon-develop.svg" alt="" width="32" class="icon-fit-32 image-color-white-filter" /></h3>
								<div class="what-we-do-cols-list">
									<p class="white-text-color">We work diligently on research, designing a data and process flow, and implementing the design to solve the problem comprehensively.</p>
								</div>
							</div>
						</div>
						<div class="col-md-6 res---mb---15px iPadMini---width---50per">
							<div class="what-we-do-cols on-scroll-animation show-on-scroll">
								<h3 class="white-text-color">Test<img src="images/icon-test.svg" alt="" width="32" class="icon-fit-32 image-color-white-filter" /></h3>
								<div class="what-we-do-cols-list">
									<p class="white-text-color">Our exhaustive testing, validation, and feedback incorporation process results in good-quality products providing excellent user experience.</p>
								</div>
							</div>
						</div>
						<div class="col-md-6 res---mb---15px iPadMini---width---50per">
							<div class="what-we-do-cols on-scroll-animation show-on-scroll">
								<h3 class="white-text-color">Release<img src="images/icon-release.svg" alt="" width="32" class="icon-fit-32 image-color-white-filter" /></h3>
								<div class="what-we-do-cols-list">
									<p class="white-text-color">We plan a release workflow that the entire team can refer to and rely on. We handle this critical element in the overall process with your team(s).</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container minus-margin-left pt-80 res---pt---20px">
			<div class="row felizeek-why-us ">
				<div class="col-md-12 ">
					<h3>Why Us?</h3>
				</div>
				<div class="col-md-6 iPadMini---width---100per iPadPro---width---50per ">
					<div class="felizeek-why-us-row position-relative on-scroll-animation show-on-scroll">
						<img src="images/felizeek-why-us.png" alt="" width="97%" class="border-radius-32px img-responsive" />
						<div class="quotes-section">
							"At <span>FeliZeek Technologies</span>,<br />
							we don't just talk ideas; we bring them to life, <br />
							ensuring your vision becomes reality."
						</div>
					</div>
				</div>
				<div class="col-md-6 skill res---mt---20px iPadMini---width---100per iPadPro---width---50per iPadPro---res---mt---0px on-scroll-animation show-on-scroll">
					<h4>We put your <span class="text-linear-gradient">Business</span> <br /><span class="text-linear-gradient">Ideas</span> into practice</h4>
					<p>Your organization can take full advantage of our services with our fast, innovative, and solution-oriented work. With over 20 Years Of experience in Strategy Planning, Project Management and Design & Development, we set new standards.</p>
					<p class="mb-0">For each project we choose a proven as well as suitable, tech stack.</p>
					<div class="list-item-why-us">
						<ul class="width-left-list">
							<li><i class="fas fa-check"></i> Application Design</li>
							<li><i class="fas fa-check"></i> Windows Applications</li>
							<li><i class="fas fa-check"></i> Mobile Applications</li>
							<li><i class="fas fa-check"></i> UI and UX</li>
							<li><i class="fas fa-check"></i> Testing</li>
						</ul>
						<ul class="width-right-list">
							<li><i class="fas fa-check"></i> Web Portals</li>
							<li><i class="fas fa-check"></i> Software Support</li>
							<li><i class="fas fa-check"></i> Project Management</li>
							<li><i class="fas fa-check"></i> Database Management</li>
							<li><i class="fas fa-check"></i> Agile/Waterfall Hybrid Methodology</li>

						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid pt-80 pb-80 res---pl---0px res---pr---0px res---pt---20px">
			<div class="container minus-margin-left">
				<div class="row">
					<div class="col-md-12">
						<div class="our-servives-dark-bg">
							<div class="row">
								<div class="col-md-12">
									<h2>Our Services</h2>
								</div>
								<div class="row">
									<div class="col-md-6 mb-4xx res---mb---15px iPadMini---width---50per ">
										<div class="what-we-do-cols our-servives-card on-scroll-animation show-on-scroll">
											<h3><img src="images/icon-services-1.svg" alt="" width="32" class="icon-fit-32 mr-16px" />Business Analysis</h3>
											<div class="what-we-do-cols-list">
												<p class="mb-0">We identify and define the solutions that will maximize the value delivered by your organization to its clients and other stakeholders.</p>
											</div>
										</div>
									</div>
									<div class="col-md-6 mb-4xx res---mb---15px iPadMini---width---50per">
										<div class="what-we-do-cols our-servives-card on-scroll-animation show-on-scroll">
											<h3><img src="images/icon-services-2.svg" alt="" width="32" class="icon-fit-32 mr-16px" />Project Management</h3>
											<div class="what-we-do-cols-list">
												<p class="mb-0">From discovery to deployment, we will manage all phases of the development process for you. We follow the Agile, Waterfall, or hybrid approach based on your Project Management needs.</p>
											</div>
										</div>
									</div>
									<div class="col-md-6 res---mb---15px iPadMini---width---50per">
										<div class="what-we-do-cols our-servives-card on-scroll-animation show-on-scroll">
											<h3><img src="images/icon-services-3.svg" alt="" width="32" class="icon-fit-32 mr-16px" />Co-Development</h3>
											<div class="what-we-do-cols-list">
												<p class="mb-0">We will work with you to develop your business ideas. Our highly skilled Project Managers will work with you at each stage. Our resources will augment your team, following your business standards.</p>
											</div>
										</div>
									</div>
									<div class="col-md-6 iPadMini---width---50per">
										<div class="what-we-do-cols our-servives-card on-scroll-animation show-on-scroll">
											<h3><img src="images/icon-services-4.svg" alt="" width="32" class="icon-fit-32 mr-16px" />Legacy Platform Maintenance</h3>
											<div class="what-we-do-cols-list">
												<p class="mb-0">While you focus on your growth, trust us for the maintenance of your legacy platforms. We will work with your SMEs and manage the development and maintenance of your organization's existing platforms.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid res---pl---0px res---pr---0px res---pb---20px">
			<div class="container minus-margin-left">
				<div class="row">
					<div class="col-md-12 text-center technology-item-title">
						<h3 class="on-scroll-animation show-on-scroll res---pb---20px">Our <span class="text-linear-gradient">Tech Grid</span></h3>
						<p class="text-light-p mb-5 on-scroll-animation show-on-scroll res---mb---15px">
							As a trusted partner accelerating the digital transformation journey for our customers, FeliZeek Technologies has the prowess for creating a digitally mature organization, building world-class products, and delivering phenomenal experiences to meet the expectations and standards of the Next Generation. We deliberately focus on Next-Gen technologies to build your ideas into reality.
						</p>
					</div>
				</div>

				<div class="technology-item-row on-scroll-animation show-on-scroll res---mt---10px">

					<div class="technology-item-list">
						<img src="images/tech-logo/logo-dotnet-core.png" alt="">
					</div>
					<div class="technology-item-list">
						<img src="images/tech-logo/logo-aspnet.png" alt="">
					</div>
					<div class="technology-item-list">
						<img src="images/tech-logo/logo-blazor.png" alt="">
					</div>
					<div class="technology-item-list">
						<img src="images/tech-logo/logo-angular.png" alt="">
					</div>
					<div class="technology-item-list">
						<img src="images/tech-logo/logo-react.png" alt="">
					</div>
					<div class="technology-item-list">
						<img src="images/tech-logo/logo-vuejs.png" alt="">
					</div>


					<div class="technology-item-list">
						<img src="images/tech-logo/logo-Ionic.png" alt="">
					</div>
					<div class="technology-item-list">
						<img src="images/tech-logo/logo-flutter.png" alt="">
					</div>
					<div class="technology-item-list">
						<img src="images/tech-logo/logo-python.png" alt="">
					</div>
					<div class="technology-item-list">
						<img src="images/tech-logo/logo-iis.png" alt="">
					</div>
					<div class="technology-item-list">
						<img src="images/tech-logo/logo-node.png" alt="">
					</div>
					<div class="technology-item-list">
						<img src="images/tech-logo/logo-nginx.png" alt="">
					</div>


					<div class="technology-item-list">
						<img src="images/tech-logo/logo-mongo-db.png" alt="">
					</div>
					<div class="technology-item-list">
						<img src="images/tech-logo/logo-mysql-server.jpg" alt="">
					</div>
					<div class="technology-item-list">
						<img src="images/tech-logo/logo-oracle.png" alt="">
					</div>
					<div class="technology-item-list">
						<img src="images/tech-logo/logo-mysql.png" alt="">
					</div>
					<div class="technology-item-list">
						<img src="images/tech-logo/logo-azure.png" alt="">
					</div>
					<div class="technology-item-list">
						<img src="images/tech-logo/logo-aws.png" alt="">
					</div>
				</div>

				<div id="showAllData" style="display: none;">
					<div class="technology-item-row on-scroll-animation show-on-scroll res---mt---10px mt-3">
						<div class="technology-item-list">
							<img src="images/tech-logo/logo-jenkins.png" alt="">
						</div>
						<div class="technology-item-list">
							<img src="images/tech-logo/logo-atlassian.png" alt="">
						</div>
						<div class="technology-item-list">
							<img src="images/tech-logo/logo-js.png" alt="">
						</div>
						<div class="technology-item-list">
							<img src="images/tech-logo/logo-css3.png" alt="">
						</div>
						<div class="technology-item-list">
							<img src="images/tech-logo/logo-html.png" alt="">
						</div>
						<div class="technology-item-list">
							<img src="images/tech-logo/logo-ios.png" alt="">
						</div>


						<div class="technology-item-list">
							<img src="images/tech-logo/logo-android.png" alt="">
						</div>
						<div class="technology-item-list">
							<img src="images/tech-logo/logo-figma.png" alt="">
						</div>
						<div class="technology-item-list">
							<img src="images/tech-logo/logo-source-tree.png" alt="">
						</div>
						<div class="technology-item-list">
							<img src="images/tech-logo/logo-visual-studio.png" alt="">
						</div>
						<div class="technology-item-list">
							<img src="images/tech-logo/logo-power-bi.png" alt="">
						</div>
						<div class="technology-item-list">
							<img src="images/tech-logo/logo-grafaba.png" alt="">
						</div>
					</div>
				</div>

				<div class="d-flex justify-content-center pt-4 on-scroll-animation show-on-scroll">
					<button id="showMoreBtn" class="btn btn-primary show-hide-btn" type="submit">View More</button>
					<button id="hideMoreBtn" style="display: none;" class="btn btn-primary show-hide-btn" type="submit">View Less</button>
				</div>


			</div>
		</div>

		<div class="container-fluid pt-80 res---pl---0px res---pr---0px res---pt---20px res---pb---20px">
			<div class="container minus-margin-left">
				<div class="row">
					<div class="col-md-12 felizeek-vision-mission iPadMini---width---100per">
						<h4 class="text-linear-gradient">Vision</h4>
						<div id="vision-body-container-parent" class="d-flex flex---direction---column">
							<div class="vision-card on-scroll-animation show-on-scroll res---mb---15px res---mt---15px">
								<h5>Empowering Innovation, Elevating Excellence:</h5>
								<p>At FeliZeek Technologies, we envision a dynamic ecosystem where passionate developers thrive, unleashing their creativity to <br class="res---br---none" />build cutting-edge solutions.</p>
							</div>
							<div class="vision-card vision-right-card on-scroll-animation show-on-scroll">
								<p>"Fueled by a culture of <strong>unrestricted innovation,</strong> we pledge to craft <strong>bespoke software</strong> that not only meets but <strong>exceeds client expectations</strong>. <strong>Join us</strong> on a journey where technology and <strong>imagination converge</strong>, shaping a future where <strong>possibilities are limitless</strong>."</p>
							</div>

							@*<div class="vision-body-container mb-3">
									<span style="transition-delay: 20ms">"Empowering</span>
									<span style="transition-delay: 20ms">Innovation,</span>
									<span style="transition-delay: 20ms">Elevating</span>
									<span style="transition-delay: 20ms">Excellence:</span>
									<span style="transition-delay: 20ms">At</span>
									<span style="transition-delay: 20ms">FeliZeek</span>
									<span style="transition-delay: 20ms">Technologies,</span>
									<span style="transition-delay: 20ms">we</span>
									<span style="transition-delay: 20ms">envision</span>
									<span style="transition-delay: 20ms">a</span>
									<span style="transition-delay: 20ms">dynamic</span>
									<span style="transition-delay: 20ms">ecosystem</span>
									<span style="transition-delay: 20ms">where</span>
									<span style="transition-delay: 20ms">passionate</span>
									<span style="transition-delay: 20ms">developers</span>
									<span style="transition-delay: 20ms">thrive,</span>
									<span style="transition-delay: 20ms">unleashing</span>
									<span style="transition-delay: 20ms">their</span>
									<span style="transition-delay: 20ms">creativity</span>
									<span style="transition-delay: 20ms">to</span>
									<span style="transition-delay: 20ms">build</span>
									<span style="transition-delay: 20ms">cutting-edge</span>
									<span style="transition-delay: 20ms">solutions.</span>
								</div>
								<div class="vision-body-container">
									<span style="transition-delay: 20ms">Fueled</span>
									<span style="transition-delay: 20ms">by</span>
									<span style="transition-delay: 20ms">a</span>
									<span style="transition-delay: 20ms">culture</span>
									<span style="transition-delay: 20ms">of</span>
									<span style="transition-delay: 20ms">unrestricted</span>
									<span style="transition-delay: 20ms">innovation,</span>
									<span style="transition-delay: 20ms">we</span>
									<span style="transition-delay: 20ms">pledge</span>
									<span style="transition-delay: 20ms">to</span>
									<span style="transition-delay: 20ms">craft</span>
									<span style="transition-delay: 20ms">bespoke</span>
									<span style="transition-delay: 20ms">software</span>
									<span style="transition-delay: 20ms">that</span>
									<span style="transition-delay: 20ms">not</span>
									<span style="transition-delay: 20ms">only</span>
									<span style="transition-delay: 20ms">meets</span>
									<span style="transition-delay: 20ms">but</span>
									<span style="transition-delay: 20ms">exceeds</span>
									<span style="transition-delay: 20ms">client</span>
									<span style="transition-delay: 20ms">expectations.</span>
									<span style="transition-delay: 20ms">Join</span>
									<span style="transition-delay: 20ms">us</span>
									<span style="transition-delay: 20ms">on</span>
									<span style="transition-delay: 20ms">a</span>
									<span style="transition-delay: 20ms">journey</span>
									<span style="transition-delay: 20ms">where</span>
									<span style="transition-delay: 20ms">technology</span>
									<span style="transition-delay: 20ms">and</span>
									<span style="transition-delay: 20ms">imagination</span>
									<span style="transition-delay: 20ms">converge,</span>
									<span style="transition-delay: 20ms">shaping</span>
									<span style="transition-delay: 20ms">a</span>
									<span style="transition-delay: 20ms">future</span>
									<span style="transition-delay: 20ms">where</span>
									<span style="transition-delay: 20ms">possibilities</span>
									<span style="transition-delay: 20ms">are</span>
									<span style="transition-delay: 20ms">limitless."</span>
								</div>*@
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid years-of-experience pt-80 res---pl---0px res---pr---0px res---pt---20px ">
			<div class="container minus-margin-left">
				<div class="row">
					<div class="col-md-12">
						<div class="meet-founder-section">
							<div class="founder-pic-section position-relative">
								<img src="images/paramjit-kaur.png" class="border-radius-30 img-responsive iPadMini-img-responsive" alt="" width="230" />
								<a class="btn---linkedin---outline" href="https://www.linkedin.com/in/paramkaurpmp/" target="_blank"><img src="https://www.felizeek.com/images/linkedin-icon.svg" alt="" width="18" /></a>
							</div>
							<div class="meet-founder-col2 res---width---100per on-scroll-animation show-on-scroll">
								<h4>Paramjit Kaur</h4>
								<h6>Co-Founder and CEO</h6>
								<p>With over two decades of extensive experience in software design and project management, Paramjit Kaur is a tech trailblazer. Her journey, steeped in AI and cutting-edge technology, revolved around crafting custom applications, especially in healthcare.</p>
								<p>In 2018, she co-founded FeliZeek Technologies, aiming to foster a community of brilliant minds. She aims to provide a seamless augmentation of development teams to businesses for their digitalization efforts.</p>
								<p class="mb-0">Passionate about the developer experience, Paramjit actively shapes a tech environment that's exciting and fulfilling. She keeps the team motivated, creating an open, supportive, and enjoyable atmosphere.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid pt-80 pb-80 res---pl---0px res---pr---0px res---pt---20px res---pb---20px">
			<div class="container minus-margin-left">
				<div class="row">
					<div class="col-md-12">
						<div class="client-voices">
							<div class="row">
								<div class="col-md-12 text-center iPadMini---width---100per res---mb---15px sticky">
									<h4>Client <span class="text-linear-gradient">Voices</span></h4>
								</div>
								<div class="col-md-12 d-flex flex-md-column flex---direction---column" style="gap: 24px;">
									<div class="client-voices-item client-voices-reveal">
										<div class="client-voices-item-section">
											<p>Paramjit Kaur has over 20 years of experience leading all aspects of the software development process for US based firms. I worked with Paramjit throughout their careers.</p>
											<p>Paramjit is a great communicator and innovator and will be impactful on any project she works on.</p>
										</div>
										<div class="client-voices-footer  align-items-center d-flex">
											<img src="images/testimonial/mathew-nachtrab.jpg" alt="Mathew Nachtrab" width="56" class="border-radius-100 user-img-testim" />
											Mathew Nachtrab
											<span>
												Owner <i class="ml-1 mr-1">-</i> Nemsys LLC
											</span>
										</div>
									</div>

									<div class="client-voices-item client-voices-reveal">
										<div class="client-voices-item-section">
											<p>As a US company the decision to hire an offshore development company came from several needs, cost and time saving, scalability, performance and the ability to access a diverse knowledge pool. FeliZeek Technologies came highly recommended and exceeded our expectations.</p>
											<p>We were initially concerned that there could be communications barriers, time zone issues and a difficulty understanding our vision. Paramjit was able to overcome all of these obstacles.  As Founder and our personal project lead she has been able to bridge the gap between continents, languages, and technical and non technical staff. Her years of experience in handling offshore clients shows and we couldn’t have done it without her teams expertise.</p>
											<p>Not only are they great developers the way project management was handled informed us about both the ups and the downs: There is nothing wrong in talking about challenges. They always  came to us with plans on how to turn these encountered challenges into solutions.</p>
											<p>I would recommend FeliZeek Technologies for anyone looking for the a development team that comes with full service project management.</p>
										</div>
										<div class="client-voices-footer  align-items-center d-flex">
											<img src="images/testimonial/james-griffin.jpg" alt="James Griffin" width="46" class="border-radius-100 user-img-testim" />
											James Griffin
											<span>
												COO and Co-founder <i class="ml-1 mr-1">-</i> Griffin IT
											</span>
										</div>
									</div>

									<div class="client-voices-item client-voices-reveal">
										<div class="client-voices-item-section">
											<p>"We were looking for an outsource development solution that mitigated the communications issues typically found when offshoring development. The FeliZeek Technologies management team has worked extensively in the US and has excellent communication skills and is familiar with US development practices. They have the experience to identify gaps and assumptions in Requirements and address them appropriately without significant back and forth. The product had a great User Interface and our end users love using the solution.</p>
											<p>I absolutely recommend FeliZeek Technologies to anyone who needs a fantastic offshore development team."</p>
										</div>
										<div class="client-voices-footer  align-items-center d-flex">
											<img src="images/testimonial/drew-mccallum.jpg" alt="Drew McCallum" width="46" class="border-radius-100 user-img-testim" />
											Drew McCallum
											<span class="res-line-height-16px">
												Founder <i class="ml-1 mr-1">-</i> Drews Utilities | Co-Founder <i class="ml-1 mr-1">-</i> Labtech Software LLC
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid felizeek-footer pt-80 pb-80 res---pl---0px res---pr---0px res---pt---20px ">
			<div class="container minus-margin-left">
				<div class="row">
					<div class="col-md-8 res---mb---15px iPadMini---width---100per on-scroll-animation show-on-scroll">
						<img src="images/felizeek-logomark-footer.svg" class="mb-3" alt="" width="150" />
						<p class="contact-sub-title">
							Unlock the potential of your organization with our swift,<br />
							innovative, and solution-oriented services.
						</p>
						<p class="footer-text-color color-opecity get-in-touch-text">GET IN TOUCH</p>
						<p class="footer-contact footer-text-color font-size-18px line-height-24px"><img src="images/contact-icon-1.svg" class="mr-10px icon-fit-20" alt="" width="18" /><a href="tel:011-35595225">011-35595225</a></p>
						<p class="footer-text-color font-size-18px line-height-24px"><img src="images/contact-icon-2.svg" class="mr-10px icon-fit-20" alt="" width="18" /><a class="email-text" href="mailto:info@felizeek.com" target="_blank">info@felizeek.com</a></p>
						<p class="footer-address font-size-18px res-map-arrow-row line-height-24px mb-0 res---pt---0px display-flex-only gap-inherit">
							<img src="images/contact-icon-3.svg" class="mr-10px icon-fit-20 location-icon" alt="" width="18" />Invento Coworking, Plot no. 8, 2nd Floor <br />
							Sector 12B, Dwarka, New Delhi, Pincode - 110078 <span id="showModalMap" class="map-arrow"><a href="">Map <img src="images/map-arrow.svg" class="" alt="" width="12" /></a></span>
						</p>
					</div>

					<div class="col-md-4 iPadMini---width---100per on-scroll-animation show-on-scroll">
						<div class="schedule-a-call">
							<div class="schedule-a-call-card">
								<h4 class="width-100">
									Ready to get<br class="res---br---none" />
									started?
								</h4>

								<p>Let's start with a conversation about how we can help you!</p>
								<button id="showModalContact" class="btn btn-primary btn-schedule-a-call" type="submit">Schedule a Call <img src="images/schedule-a-call.svg" alt="" width="24" class="" /></button>
							</div>
							<div class="follow-us-on">
								Follow us on: <a href="https://www.linkedin.com/company/felizeek/" target="_blank">
									<div class="btn btn-primary btn-linkedin"><img src="images/fllow-us-linkdin.svg" alt="" width="16" class="fllow-us-linkdin-img mr-2" />LinkedIn</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end contact us here-->
		<div class="container-fluid felizeek-copyright res---pl---0px res---pr---0px">
			<div class="container minus-margin-left pt-3 pb-3">
				<div class="row">
					<div class="col-md-12 text-center res---text---align---center" id="bottom">
						<p>Copyright &copy; 2024. All rights reserved by <a class="felizeek-url" href="https://www.felizeek.com" target="_self">FeliZeek Technologies</a> Pvt. Ltd.</p>
					</div>
				</div>
			</div>
		</div>

		@*<div class="box">
				<button type="button" class="slide-toggle-in button-focus"><img src="images/linkedin.svg" alt="" width="36" class="icon-fit-20 in-icon" /> LinkedIn</button>
				<div class="align-items-center box-inner flex-column text-center" style="display: none;">
					<button type="button" class="slide-toggle-out button-focus"><img src="images/linkedin.svg" alt="" width="36" class="icon-fit-20 in-icon" /> LinkedIn</button>

					<div><img src="images/qr-code.svg" alt="" width="150" class="" /></div>
					<div class="scan-to-view">
						Scan to view <br />LinkedIn profile
					</div>
					<div class="or-text">or</div>
					<div>
						<a target="_blank" class="pl-4 pr-4 view-profile d-flex button-focus" href="https://www.linkedin.com/company/felizeek/">
							View Profile
						</a>
					</div>
				</div>
			</div>*@

		<button type="button" id="showLinkedIn" class="button-focus"><img src="images/linkedin.svg" alt="" width="36" class="icon-fit-16 in-icon" /> LinkedIn</button>
		<div class="align-items-center box-inner flex-column text-center dismiss-right" style="display: none;">
			<button type="button" id="closeLinkedIn" class="button-focus"><img src="images/linkedin.svg" alt="" width="36" class="icon-fit-16 in-icon" /> LinkedIn</button>
			<div><img src="images/qr-code.svg" alt="" width="150" class="" /></div>
			<div class="scan-to-view">
				Scan to view <br />LinkedIn profile
			</div>
			<div class="or-text">or</div>
			<div>
				<a target="_blank" class="pl-4 pr-4 view-profile d-flex button-focus" href="https://www.linkedin.com/company/felizeek/">
					View Profile
				</a>
			</div>
		</div>


	</section>

	<div class="overlay-outer closeFilePanel closeContactModal"></div>
	<div class="slider-container contactmap dismiss" style="display: none;">
		<div class="container-fluid height-100">
			<div class="row">
				<div class="col-md-12"><a class="closeFilePanel"><img src="images/modal-down-arrow.svg" class="" alt="" width="50" /></a></div>
				<div class="col-md-12 contact-modal text-center">
					<h4 class=""><span class="text-linear-gradient">Reach Out</span> To Us</h4>
				</div>
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-5 display-flex-only res---mb---15px">
							<div class="contact-bg-modal">
								<p class="footer-text-color color-opecity get-in-touch-text">GET IN TOUCH</p>
								<p class="footer-contact footer-text-color font-size-18px line-height-24px"><img src="images/contact-icon-1.svg" class="mr-10px icon-fit-20" alt="" width="18" /><a href="tel:011-35595225">011-35595225</a></p>
								<p class="footer-text-color font-size-18px line-height-24px "><img src="images/contact-icon-2.svg" class="mr-10px icon-fit-20" alt="" width="18" /><a class="email-text white-text" href="mailto:info@felizeek.com" target="_blank">info@felizeek.com</a></p>
								<p class="footer-address font-size-18px line-height-24px mb-0 res---pt---0px display-flex-only gap-inherit">
									<img src="images/contact-icon-3.svg" class="mr-10px icon-fit-20 location-icon" alt="" width="18" />Invento Coworking, Plot no. 8, <br class="res-br-none" />
									2nd Floor Sector 12B, Dwarka, <br class="res-br-none" />
									New Delhi, Pincode - 110078
								</p>
							</div>

						</div>
						<div class="col-md-7 contact-modal-map res---mt---15px">
							<iframe frameborder="0"
									src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3503.179550802014!2d77.03670881688593!3d28.594389882064224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d1b34c19a7639%3A0x49291c74c91a54ac!2sInvento%20Coworking%20Office%20Space%2012B!5e0!3m2!1sen!2sin!4v1711954373994!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="slider-container contactform dismiss" style="display: none;">
		<div class="container-fluid height-100">
			<div class="row">
				<div class="col-md-12"><a class="closeContactModal"><img src="images/modal-down-arrow.svg" class="" alt="" width="50" /></a></div>
				<div class="col-md-12">
					<div class="row felizeek-footer contatc-form-bg-row">
						<div id="idcontact" class="contatc-form-bg">
							<div class="col-md-4 form-group">
								<label for="">Full name</label>
								<input type="text" class="form-control" max="200" onkeyup="checkValidation('name')" id="idname" placeholder="Full name" required>
								<div id="idnamereq" style="display:none" class="invalid-feedback">Name is required</div>
								<div id="idnamemin" style="display:none" class="invalid-feedback">Minimum 2 char is required</div>
								<div id="idnamemax" style="display:none" class="invalid-feedback">Maximum 200 char</div>
								<div id="idnamespecial" style="display:none" class="invalid-feedback">Special char not allowed</div>
							</div>
							<div class="col-md-4 form-group">
								<label for="">Email address</label>
								<input type="text" class="form-control" max="200" id="idemail" onkeyup="checkValidation('email')" placeholder="Email address" required>
								<div id="idemailreq" style="display:none" class="invalid-feedback">Email is required</div>
								<div id="idemailmax" style="display:none" class="invalid-feedback">Maximum 200 char</div>
								<div id="idemailvalid" style="display:none" class="invalid-feedback">Invalid Email</div>
							</div>
							<div class="col-md-4 form-group">
								<label for="">Phone number</label>
								<input type="text" class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57' onkeyup="checkValidation('phone')" max="15" id="idphone" placeholder="Phone number" required>
								<div id="idphonereq" style="display:none" class="invalid-feedback">Phone Number is required</div>
								<div id="idphonemin" style="display:none" class="invalid-feedback">Minimum 10 char is required</div>
								<div id="idphonespecial" style="display:none" class="invalid-feedback">Only number allowed</div>
							</div>
							<div class="col-md-4 form-group">
								<label for="">Company name</label>
								<input type="text" class="form-control" max="200" id="idcompany" onkeyup="checkValidation('company')" placeholder="Company name" required>
								<div id="idcompanyreq" style="display:none" class="invalid-feedback">Company Name is required</div>
								<div id="idcompanymin" style="display:none" class="invalid-feedback">Minimum 2 char is required</div>
								<div id="idcompanymax" style="display:none" class="invalid-feedback">Maximum 200 char</div>
								<div id="idcompanyspecial" style="display:none" class="invalid-feedback">Special char not allowed</div>
							</div>
							<div class="col-md-4 form-group ">
								<label for="">Location</label>
								<input type="text" class="form-control" max="200" id="idlocation" onkeyup="checkValidation('location')" placeholder="Location" required>
								<div id="idlocationreq" style="display:none" class="invalid-feedback">Location is required</div>
								<div id="idlocationmin" style="display:none" class="invalid-feedback">Minimum 2 char is required</div>
								<div id="idlocationmax" style="display:none" class="invalid-feedback">Maximum 200 char</div>
								<div id="idlocationspecial" style="display:none" class="invalid-feedback">Special char not allowed</div>
							</div>
							<div class="col-md-12 form-group">
								<label for="">Enter your message</label>
								<textarea id="idmessage" name="message" max="1000" cols="30" rows="2" onkeyup="checkValidation('message')" required class="form-control message pt-3" placeholder="Enter your message"></textarea>
								<div id="idmessagreq" style="display:none" class="invalid-feedback">Message is required</div>
								<div id="idmessagemin" style="display:none" class="invalid-feedback">Minimum 2 char is required</div>
								<div id="idmessagemax" style="display:none" class="invalid-feedback">Maximum 1000 char</div>
							</div>
							<div class="col-md-12">
								<div class="row mt-3 justify-content-center">
									<button id="submit" onclick="sendmail()" class="btn btn-primary btn-submit " type="submit">Submit <img src="https://www.felizeek.com/images/submit-arrow.svg" alt="" width="20" class="" /></button>
									<div id="idthanks" style="display: none;" class="ml-3 res---mt---20px">
										<h3 class="thanks-hartek font-size-13px"><img src="images/thanks-message-icon.svg" class="mr-10px" alt="" width="35" /> Thanks for contacting FeliZeek Technologies! <br />We will get back to you soon.</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- end copyright here-->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

	<script>
		$(document).ready(function () {
			$('#showModalMap').click(function (event) {
				if ($('.slider-container.contactmap').hasClass('dismiss')) {
					$('.slider-container.contactmap').removeClass('dismiss').addClass('selected').show();
					$('.overlay-outer').fadeIn();
				}
				event.preventDefault();
			});

			$('.closeFilePanel').click(function (event) {
				if ($('.slider-container.contactmap').hasClass('selected')) {
					$('.slider-container.contactmap').removeClass('selected').addClass('dismiss');
					$('.overlay-outer').fadeOut();
				}
				event.preventDefault();
			});

			$('#showModalContact').click(function (event) {
				if ($('.slider-container.contactform').hasClass('dismiss')) {
					$('.slider-container.contactform').removeClass('dismiss').addClass('selected').show();
					$('.overlay-outer').fadeIn();
				}
				event.preventDefault();
			});

			$('.closeContactModal').click(function (event) {
				if ($('.slider-container.contactform').hasClass('selected')) {
					$('.slider-container.contactform').removeClass('selected').addClass('dismiss');
					$('.overlay-outer').fadeOut();
				}
				event.preventDefault();
			});

		});
	</script>
	<script src="Scripts/main.js"></script>
	@*<script src="Scripts/card-slide-down.js"></script>*@
	<script type="text/javascript">
		var submit = false;
		function sendmail() {
			var error = false;
			var name = $("#idname").val();
			var email = $("#idemail").val();
			var phone = $("#idphone").val();
			var company = $("#idcompany").val();
			/*var subject = $("#idsubject").val();*/
			var location = $("#idlocation").val();
			var message = $("#idmessage").val();
			var format = /[!@@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]+/;
			$("#idname, #idemail, #idphone, #idcompany, #idlocation, #idmessage").removeClass("is-invalid");
			//name
			if (name == '') {
				error = true;
				$('#idname').addClass('is-invalid');
				$('#idnamereq').show();
				$("#idnamemin, #idnamemax, #idnamespecial").hide();
			}
			else if (format.test(name)) {
				error = true;
				$('#idname').addClass('is-invalid');
				$('#idnamespecial').show();
				$("#idnamemin, #idnamemax, #idnamereq").hide();
			}
			else if (name.length < 2) {
				error = true;
				$('#idname').addClass('is-invalid');
				$('#idnamemin').show();
				$("#idnamereq, #idnamemax, #idnamespecial").hide();
			}
			else if (name.length > 200) {
				error = true;
				$('#idname').addClass('is-invalid');
				$('#idnamemax').show();
				$("#idnamemin, #idnamereq, #idnamespecial").hide();
			}

			//email
			if (email == '') {
				error = true;
				$('#idemail').addClass('is-invalid');
				$('#idemailreq').show();
				$("#idemailmax, #idemailvalid").hide();
			}
			else if (email.length > 200) {
				error = true;
				$('#idemail').addClass('is-invalid');
				$('#idemailmax').show();
				$("#idemailreq, #idemailvalid").hide();
			}
			else if (!(/^(([^<>()[\]\\.,;:\s@@"]+(\.[^<>()[\]\\.,;:\s@@"]+)*)|.(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(email))) {
				error = true;
				$('#idemail').addClass('is-invalid');
				$('#idemailvalid').show();
				$("#idemailmax, #idemailreq").hide();
			}

			//phone
			if (phone == '') {
				error = true;
				$('#idphone').addClass('is-invalid');
				$('#idphonereq').show();
				$("#idphonemin, #idphonespecial").hide();
			}
			else if (!phone.match(/^\d+$/)) {
				error = true;
				$('#idphone').addClass('is-invalid');
				$('#idphonespecial').show();
				$("#idphonemin, #idphonereq").hide();
			}
			else if (phone.length < 10) {
				error = true;
				$('#idphone').addClass('is-invalid');
				$('#idphonemin').show();
				$("#idphonereq, #idphonespecial").hide();
			}


			//Company name
			if (company == '') {
				error = true;
				$('#idcompany').addClass('is-invalid');
				$('#idcompanyreq').show();
				$("#idcompanyspecial, #idcompanymin, #idcompanymax").hide();
			}
			else if (format.test(company)) {
				error = true;
				$('#idcompany').addClass('is-invalid');
				$('#idcompanyspecial').show();
				$("#idcompanyreq, #idcompanymin, #idcompanymax").hide();
			}
			else if (company.length < 2) {
				error = true;
				$('#idcompany').addClass('is-invalid');
				$('#idcompanymin').show();
				$("#idcompanyspecial, #idcompanyreq, #idcompanymax").hide();
			}
			else if (company.length > 200) {
				error = true;
				$('#idcompany').addClass('is-invalid');
				$('#idcompanymax').show();
				$("#idcompanyspecial, #idcompanymin, #idcompanyreq").hide();
			}

			//Location
			if (location == '') {
				error = true;
				$('#idlocation').addClass('is-invalid');
				$('#idlocationreq').show();
				$("#idlocationmin, #idlocationspecial, #idlocationmax").hide();
			}
			else if (format.test(location)) {
				error = true;
				$('#idlocation').addClass('is-invalid');
				$('#idlocationspecial').show();
				$("#idlocationreq, #idlocationmax, #idlocationmin").hide();
			}
			else if (location.length < 2) {
				error = true;
				$('#idlocation').addClass('is-invalid');
				$('#idlocationmin').show();
				$("#idlocationreq, #idlocationmax, #idlocationspecial").hide();
			}
			else if (location.length > 200) {
				error = true;
				$('#idlocation').addClass('is-invalid');
				$('#idlocationmax').show();
				$("#idlocationreq, #idlocationmin, #idlocationspecial").hide();
			}

			//message
			if (message == '') {
				error = true;
				$('#idmessage').addClass('is-invalid');
				$('#idmessagreq').show();
				$("#idmessagemin, #idmessagemax").hide();
			}

			else if (message.length < 2) {
				error = true;
				$('#idmessage').addClass('is-invalid');
				$('#idmessagemin').show();
				$("#idmessagreq, #idmessagemax").hide();
			}
			else if (message.length > 1000) {
				error = true;
				$('#idmessage').addClass('is-invalid');
				$('#idmessagemax').show();
				$("#idmessagemin, #idmessagreq").hide();
			}
			if (error) {
				submit = true;
				return false;
			}
			submit = false;
			$('#idthanks').show();
			document.getElementById("idname").value = "";
			document.getElementById("idemail").value = "";
			document.getElementById("idphone").value = "";
			document.getElementById("idcompany").value = "";
			document.getElementById("idlocation").value = "";
			document.getElementById("idmessage").value = "";
			$("#idnamemin, #idnamemax, #idnamespecial, #idnamereq, #idemailreq, #idemailmax, #idemailvalid, #idphonereq, #idphonespecial, #idphonemin, #idcompanyreq, #idcompanyspecial, #idcompanymin, #idcompanymax, #idlocationreq, #idlocationspecial, #idlocationmin, #idlocationmax, #idmessagreq , #idmessagemin, #idmessagemax").hide();

			var data = {
				'companyname': company, 'username': name, 'phone': phone, 'location': location, 'email': email, 'message': message
			}

			$.ajax({

				type: "POST",
				contentType: "application/json; charset=utf-8",
				url: '../Home/SendMail',
				data: JSON.stringify(data),
				dataType: "json",
				async: true,
				success: function (result) {

					if (result == 1) {
						return true;

					}
					else {

						return false;
					}
				}
			});
			/*}*/
		}
		function checkValidation(lbl) {
			var error = false;
			var name = $("#idname").val();
			var email = $("#idemail").val();
			var phone = $("#idphone").val();
			var company = $("#idcompany").val();
			/*var subject = $("#idsubject").val();*/
			var location = $("#idlocation").val();
			var message = $("#idmessage").val();
			var format = /[!@@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]+/;

			//name

			if (lbl == 'name' && submit == true) {
				if (name == '') {
					error = true;
					$('#idname').addClass('is-invalid');
					$('#idnamereq').show();
					$("#idnamemin, #idnamemax, #idnamespecial").hide();
				}
				else if (format.test(name)) {
					error = true;
					$('#idname').addClass('is-invalid');
					$('#idnamespecial').show();
					$("#idnamemin, #idnamemax, #idnamereq").hide();
				}
				else if (name.length < 2) {
					error = true;
					$('#idname').addClass('is-invalid');
					$('#idnamemin').show();
					$("#idnamereq, #idnamemax, #idnamespecial").hide();
				}
				else if (name.length > 200) {
					error = true;
					$('#idname').addClass('is-invalid');
					$('#idnamemax').show();
					$("#idnamemin, #idnamereq, #idnamespecial").hide();
				}
				else {
					$('#idname').removeClass('is-invalid');
					$("#idnamemin,#idnamemax, #idnamereq, #idnamespecial").hide();
				}
			}
			//email
			if (lbl == 'email' && submit == true) {
				if (email == '') {
					error = true;
					$('#idemail').addClass('is-invalid');
					$('#idemailreq').show();
					$("#idemailmax, #idemailvalid").hide();
				}
				else if (email.length > 200) {
					error = true;
					$('#idemail').addClass('is-invalid');
					$('#idemailmax').show();
					$("#idemailreq, #idemailvalid").hide();
				}
				else if (!(/^(([^<>()[\]\\.,;:\s@@"]+(\.[^<>()[\]\\.,;:\s@@"]+)*)|.(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(email))) {
					error = true;
					$('#idemail').addClass('is-invalid');
					$('#idemailvalid').show();
					$("#idemailmax, #idemailreq").hide();
				} else {
					$('#idemail').removeClass('is-invalid');
					$("#idemailvalid, #idemailmax, #idemailreq").hide();
				}
			}
			//phone
			if (lbl == 'phone' && submit == true) {
				if (phone == '') {
					error = true;
					$('#idphone').addClass('is-invalid');
					$('#idphonereq').show();
					$("#idphonemin, #idphonespecial").hide();
				}
				else if (!phone.match(/^\d+$/)) {
					error = true;
					$('#idphone').addClass('is-invalid');
					$('#idphonespecial').show();
					$("#idphonemin, #idphonereq").hide();
				}
				else if (phone.length < 10) {
					error = true;
					$('#idphone').addClass('is-invalid');
					$('#idphonemin').show();
					$("#idphonereq, #idphonespecial").hide();
				} else {
					$('#idphone').removeClass('is-invalid');
					$("#idphonemin,#idphonereq, #idphonespecial").hide();
				}

			}
			//Company name
			if (lbl == 'company' && submit == true) {
				if (company == '') {
					error = true;
					$('#idcompany').addClass('is-invalid');
					$('#idcompanyreq').show();
					$("#idcompanyspecial, #idcompanymin, #idcompanymax").hide();
				}
				else if (format.test(company)) {
					error = true;
					$('#idcompany').addClass('is-invalid');
					$('#idcompanyspecial').show();
					$("#idcompanyreq, #idcompanymin, #idcompanymax").hide();
				}
				else if (company.length < 2) {
					error = true;
					$('#idcompany').addClass('is-invalid');
					$('#idcompanymin').show();
					$("#idcompanyspecial, #idcompanyreq, #idcompanymax").hide();
				}
				else if (company.length > 200) {
					error = true;
					$('#idcompany').addClass('is-invalid');
					$('#idcompanymax').show();
					$("#idcompanyspecial, #idcompanymin, #idcompanyreq").hide();
				} else {
					$('#idcompany').removeClass('is-invalid');
					$("#idcompanymax, #idcompanyspecial, #idcompanymin, #idcompanyreq").hide();
				}
			}
			//Location
			if (lbl == 'location' && submit == true) {
				if (location == '') {
					error = true;
					$('#idlocation').addClass('is-invalid');
					$('#idlocationreq').show();
					$("#idlocationmin, #idlocationspecial, #idlocationmax").hide();
				}
				else if (format.test(location)) {
					error = true;
					$('#idlocation').addClass('is-invalid');
					$('#idlocationspecial').show();
					$("#idlocationreq, #idlocationmax, #idlocationmin").hide();
				}
				else if (location.length < 2) {
					error = true;
					$('#idlocation').addClass('is-invalid');
					$('#idlocationmin').show();
					$("#idlocationreq, #idlocationmax, #idlocationspecial").hide();
				}
				else if (location.length > 200) {
					error = true;
					$('#idlocation').addClass('is-invalid');
					$('#idlocationmax').show();
					$("#idlocationreq, #idlocationmin, #idlocationspecial").hide();
				} else {
					$('#idlocation').removeClass('is-invalid');
					$("#idlocationmax, #idlocationreq, #idlocationmin, #idlocationspecial").hide();
				}
			}
			if (lbl == 'message' && submit == true) {
				if (message == '') {
					error = true;
					$('#idmessage').addClass('is-invalid');
					$('#idmessagreq').show();
					$("#idmessagemin, #idmessagemax").hide();
				}

				else if (message.length < 2) {
					error = true;
					$('#idmessage').addClass('is-invalid');
					$('#idmessagemin').show();
					$("#idmessagreq, #idmessagemax").hide();
				}
				else if (message.length > 1000) {
					error = true;
					$('#idmessage').addClass('is-invalid');
					$('#idmessagemax').show();
					$("#idmessagemin, #idmessagreq").hide();
				} else {
					$('#idmessage').removeClass('is-invalid');
					$("#idmessagemax,#idmessagemin, #idmessagreq").hide();
				}
			}

		}


	</script>

	<script>
		function isElementInViewport(el) {
			if (typeof jQuery === "function" && el instanceof jQuery) {
				el = el[0];
			}

			var rect = el.getBoundingClientRect();

			return (
				rect.top >= 0 &&
				rect.left >= 0 &&
				rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) && /* or $(window).height() */
				rect.right <= (window.innerWidth || document.documentElement.clientWidth) /* or $(window).width() */
			);
		}

		function handleClientVoiceRevel() {
			var elems = document.querySelectorAll(".client-voices-reveal");

			for (var i = 0; i < elems.length; i++) {
				var windowHeight = window.innerHeight;
				var elementTop = elems[i].getBoundingClientRect().top;
				const clientVoiceCardHeight = document.getElementsByClassName('client-voices-item')[0].clientHeight;
				var elementVisible = clientVoiceCardHeight;
				const clientVoicesContainerHeight = document.getElementsByClassName('client-voices')[0].clientHeight;

				let scale = window.Math.cos((elementVisible - elementTop - clientVoiceCardHeight) / clientVoicesContainerHeight);

				if (scale <= 0.8) {
					scale = 0.7;
				}

				if (isElementInViewport(elems[i])
					&& elementTop < windowHeight - elementVisible) {
					elems[i].classList.add("active");
					const tStr = 'scale(' + scale
						+ ','
						+ scale
						+ ')';
					elems[i].style.transform = tStr;
				} else {
					elems[i].classList.remove("active");
					const tStr = 'scale(' + scale
						+ ','
						+ scale
						+ ')';
					elems[i].style.transform = tStr;
				}
			}
		}

		function handleVisionWaves() {
			var elems = document.querySelectorAll("#vision-body-container-parent");
			console.log(elems);
			for (var i = 0; i < elems.length; i++) {
				if (isElementInViewport(elems[i])) {
					elems[i].classList.add('wave');
				} else {
					elems[i].classList.remove('wave');
				}
			}
		}

		function handleScrollEvent(event) {
			handleClientVoiceRevel();
			handleVisionWaves();
		}

		window.addEventListener("scroll", handleScrollEvent);
	</script>

	<script>
		// Detect request animation frame
		var scroll = window.requestAnimationFrame ||
			// IE Fallback
			function (callback) { window.setTimeout(callback, 1000 / 60) };
		var elementsToShow = document.querySelectorAll('.show-on-scroll');

		function loop() {

			Array.prototype.forEach.call(elementsToShow, function (element) {
				if (isElementInViewport(element)) {
					element.classList.add('is-visible');
				} else {
					element.classList.remove('is-visible');
				}
			});

			scroll(loop);
		}

		// Call the loop for the first time
		loop();

		// Helper function from: http://stackoverflow.com/a/7557433/274826
		function isElementInViewport(el) {
			// special bonus for those using jQuery
			if (typeof jQuery === "function" && el instanceof jQuery) {
				el = el[0];
			}
			var rect = el.getBoundingClientRect();
			return (
				(rect.top <= 0
					&& rect.bottom >= 0)
				||
				(rect.bottom >= (window.innerHeight || document.documentElement.clientHeight) &&
					rect.top <= (window.innerHeight || document.documentElement.clientHeight))
				||
				(rect.top >= 0 &&
					rect.bottom <= (window.innerHeight || document.documentElement.clientHeight))
			);
		}
	</script>

</body>
</html>