﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
	<title>Team</title>
	<link rel="canonical" href="https://www.felizeek.com/" />
	<link rel="shortcut icon" href="https://www.felizeek.com/images/favicon.ico" type="image/x-icon" />
	<!-- meta tags -->
	<meta name="description" content="Project Management">
	<meta name="keywords" content="Software, Development, Project Management Professional, Consulting Services, Business Analysis, Project Management, Co-Development, Legacy Platform Maintenance">
	<meta name="author" content="FeliZeek Technologies">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style-custom.css">
	
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
	@*<link rel="stylesheet" href="css/animation.css">*@
	@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />*@
</head>

<body>
	<div class="full-area">
		<header id="header" class="header-section">
			<div id="header-fixed" class="container-fluid res---pl---0px res---pr---0px">
				<div class="container minus-margin-left">
					<div class="row ">
						<div class="col-md-12">
							<div id="brand-navigation-row" class="brand-navigation-row">
								<div class="row">
									<div class="col-md-3 logo-pl-only">
										<a href="https://www.felizeek.com"><img src="https://www.felizeek.com/images/felizeek-logo.svg" alt="FeliZeek Technologies" width="180" class="logo_wid" /></a>
									</div>
									<div class="col-md-9">
										<nav class="navbar navbar-expand-lg navbar-light ">
											<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
												<span class="navbar-toggler-icon"></span>
											</button>
											<div class="collapse navbar-collapse" id="navbarSupportedContent">
												<ul class="navbar-nav ml-auto">
													<li class="nav-item">
														<a class="nav-link smoothScroll" href="https://www.felizeek.com"><img src="images/icon-home.svg" alt="" width="18" />Home <span class="sr-only">(current)</span></a>
													</li>

													<li class="nav-item">
														<a class="nav-link smoothScroll" href="https://www.felizeek.com/about-us"><img src="images/icon-overview.svg" alt="" width="18" />Overview</a>
													</li>

													<li class="nav-item active">
														<a class="nav-link smoothScroll" href="https://www.felizeek.com/our-team"><img src="images/icon-team.svg" alt="" width="18" />Team</a>
													</li>
													<li class="nav-item">
														<a class="nav-link smoothScroll" href="https://www.felizeek.com/contact-us"><img src="images/icon-contact.svg" alt="" width="18" />Connect</a>
													</li>
												</ul>
											</div>
										</nav>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
	</div>

	<section class="full-area">
		@*<header id="header" class="header-section">
			<div class="container-fluid res---pl---0px res---pr---0px">
				<div class="container minus-margin-left">
					<div class="row ">
						<div class="col-md-3 logo-pl-only">
							<a href="https://www.felizeek.com/" id="#top"><img src="https://www.felizeek.com/images/felizeek-logo.svg" alt="FeliZeek Technologies" width="250" class="logo_wid" /></a>
						</div>
						<div class="col-md-9 pr-0">
							<nav class="navbar navbar-expand-lg navbar-light ">
								<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
									<span class="navbar-toggler-icon"></span>
								</button>
								<div class="collapse navbar-collapse" id="navbarSupportedContent">
									<ul class="navbar-nav ml-auto">
										<li class="nav-item ">
											<a class="nav-link smoothScroll" href="https://www.felizeek.com">Home <span class="sr-only">(current)</span></a>
										</li>

										<li class="nav-item">
											<a class="nav-link smoothScroll" href="https://www.felizeek.com/about-us">Overview</a>
										</li>

										<li class="nav-item active">
											<a class="nav-link smoothScroll" href="https://www.felizeek.com/our-team">Team</a>
										</li>

										<li class="nav-item">
											<a class="nav-link smoothScroll" href="https://www.felizeek.com/contact-us">Connect</a>
										</li>
									</ul>
								</div>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</header>*@

		<div class="container-fluid pt-100 pb-80 res---pl---0px res---pr---0px">
			<div class="container minus-margin-left">
				<div class="row">
					<div class="col-md-12 index-header secondary-title text-center res---br---none">
						<h1 class="text-center res---mt---10px">
							Our <span>Team</span>
						</h1>
						<p class="mb-0">Guided by our visionary CEO and founder, our cohesive teams collaborate<br /> tirelessly to deliver impeccably integrated services, ensuring a seamless experience <br />for our valued customers.</p>
					</div>
				</div>
			</div>
		</div>

		<div class="container minus-margin-left mb-5 res---mb---15px">
			<div class="row">
				<div class="col-md-12">
					<div class="meet-founder-section">
						<div class="founder-pic-section position-relative">
							<img src="images/paramjit-kaur.png" class="border-radius-30 img-responsive iPadMini-img-responsive" alt="" width="230" />
							<a class="btn---linkedin---outline" href="https://www.linkedin.com/in/paramkaurpmp/" target="_blank"><img src="https://www.felizeek.com/images/linkedin-icon.svg" alt="" width="18" /></a>
						</div>
						<div class="meet-founder-col2 res---width---100per on-scroll-animation show-on-scroll">
							<h4>Paramjit Kaur</h4>
							<h6>Co-Founder and CEO</h6>
							<p>With over two decades of extensive experience in software design and project management, Paramjit Kaur is a tech trailblazer. Her journey, steeped in AI and cutting-edge technology, revolved around crafting custom applications, especially in healthcare.</p>
							<p>In 2018, she co-founded FeliZeek Technologies, aiming to foster a community of brilliant minds. She aims to provide a seamless augmentation of development teams to businesses for their digitalization efforts.</p>
							<p class="mb-0">Passionate about the developer experience, Paramjit actively shapes a tech environment that's exciting and fulfilling. She keeps the team motivated, creating an open, supportive, and enjoyable atmosphere.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container minus-margin-left mb-5 res---mb---15px">
			<div class="row">
				<div class="col-md-12">
					<div class="meet-founder-section bg-with-radius bg-light-purple iPadMini-flex-direction-column">
						<div class="founder-pic-section res---width---100per iPadMini-width-inherit position-relative">
							<img src="images/teams/ananya-mehta.png" alt="" class="border-radius-30 img-responsive iPadMini-img-responsive" width="230" />
							<a class="btn---linkedin---outline hr-linkedin---outline" href="https://www.linkedin.com/in/ananya-mehta-575236192/" target="_blank"><img src="https://www.felizeek.com/images/linkedin-icon.svg" alt="" width="18" class="hr-linkedin-icon-0" /></a>
						</div>
						<div class="meet-founder-col2 res---width---100per on-scroll-animation show-on-scroll">
							<h4 class="blue-color">Ananya Mehta</h4>
							<h6 class="purple-color">Culture Curator</h6>
							<p class="paragraph-color">Meet Ananya, our dedicated People Manager, who plays a crucial role in shaping our vibrant workplace culture at FeliZeek. She's the driving force behind finding and attracting top talent to our team, ensuring we have the brightest minds on board. Ananya is passionate about fostering an environment where every team member can grow and succeed, making our people our most valuable asset.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container minus-margin-left mb-4 res---mb---15px">
			<div class="row">
				<div class="col-md-6 padding-right-8px res---pr---15px res---mb---15px">
					<div class="team-card-section res---width---100per on-scroll-animation show-on-scroll">
						<div class="team-item-title">Technical Architects</div>
						<div class="team-card flex---direction---row iPadMini-flex-direction-column">
							<div class="team-item hover-shine">
								<img src="images/teams/prakash.png" alt="" class="img-responsive iPadMini-img-responsive" />
								<h6>Chandra Prakash</h6>
							</div>
							<div class="team-item hover-shine">
								<img src="images/teams/heyramb.png" alt="" class="img-responsive iPadMini-img-responsive" />
								<h6>Heyramb Goyal</h6>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6 padding-left-8px res---pl---15px">
					<div class="team-card-section res---width---100per on-scroll-animation show-on-scroll">
						<div class="team-item-title">Innovation Engineers</div>
						<div class="team-card flex---direction---row iPadMini-flex-direction-column">
							<div class="team-item hover-shine">
								<img src="images/teams/dhananjay.png" alt="" class="img-responsive iPadMini-img-responsive" />
								<h6>Dhananjay Verma</h6>
							</div>
							<div class="team-item hover-shine">
								<img src="images/teams/anilv.png" alt="" class="img-responsive iPadMini-img-responsive" />
								<h6>Anil Vadlamudi</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container minus-margin-left mb-4 res---mb---15px">
			<div class="row">
				<div class="col-md-12">
					<div class="team-card-section display-another res---width---100per on-scroll-animation show-on-scroll">
						<div class="team-item-title">Innovation Engineers</div>
						<div class="team-card flex---direction---row iPadMini-flex-direction-column col-md-6 padding-right-8px res---pr---0px pl-0 res---mb---15px">
							<div class="team-item hover-shine">
								<img src="images/teams/pradeep.png" alt="" class="img-responsive iPadMini-img-responsive" width="250" />
								<h6>Pradeep Kumar</h6>
							</div>
							<div class="team-item hover-shine">
								<img src="images/teams/deepak.png" alt="" class="img-responsive iPadMini-img-responsive" width="250" />
								<h6>Deepak Talwar</h6>
							</div>
						</div>

						<div class="team-card flex---direction---row iPadMini-flex-direction-column col-md-6 padding-left-8px pr-0 res---pl---0px on-scroll-animation show-on-scroll">
							<div class="team-item hover-shine">
								<img src="images/teams/ari.png" alt="" class="img-responsive iPadMini-img-responsive" width="250" />
								<h6>Arivarasan</h6>
							</div>
							<div class="team-item hover-shine">
								<img src="images/teams/amit.png" alt="" class="img-responsive iPadMini-img-responsive" width="250" />
								<h6>Amitendra Dhuriya</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container minus-margin-left mb-4 res---mb---15px">
			<div class="row">
				<div class="col-md-6 padding-right-8px res---pr---15px res---mb---15px">
					<div class="team-card-section res---width---100per on-scroll-animation show-on-scroll">
						<div class="team-item-title">Data Guardians</div>
						<div class="team-card flex---direction---row iPadMini-flex-direction-column">
							<div class="team-item hover-shine">
								<img src="images/teams/jatinsingh.png" alt="" class="img-responsive iPadMini-img-responsive" width="250" />
								<h6>Jatin Singh</h6>
							</div>
							@*<div class="team-item hover-shine">
								<img src="images/teams/navdeep.png" alt="" class="img-responsive iPadMini-img-responsive" width="250" />
								<h6>Navdeep Walia</h6>
							</div>*@
						</div>
					</div>
				</div>
				<div class="col-md-6 padding-left-8px res---pl---15px">
					<div class="team-card-section res---width---100per on-scroll-animation show-on-scroll">
						<div class="team-item-title">Creative Catalysts</div>
						<div class="team-card flex---direction---row iPadMini-flex-direction-column">
							<div class="team-item hover-shine">
								<img src="images/teams/ankit.jpeg" alt="" class="img-responsive iPadMini-img-responsive" width="250" />
								<h6>Ankit Vashisth</h6>
							</div>
							<div class="team-item hover-shine">
								<img src="images/teams/anshul.jpeg" alt="" class="img-responsive iPadMini-img-responsive" width="250" />
								<h6>Anshul Garg</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container minus-margin-left mb-0 res---mb---15px">
			<div class="row">
				<div class="col-md-12">
					<div class="team-card-section res---width---100per iPadPro---width---max-content on-scroll-animation show-on-scroll">
						<div class="team-item-title">QA Sentries</div>
						<div class="team-card flex---direction---column iPadMini-flex-direction-column">
							<div class="res-only-two-view display-flex-only">
								<div class="team-item hover-shine">
									<img src="images/teams/gaurav.png" alt="" class="img-responsive iPadMini-img-responsive" width="250" />
									<h6>Gaurav Batra</h6>
								</div>
								<div class="team-item hover-shine">
									<img src="images/teams/snehasis.png" alt="" class="img-responsive iPadMini-img-responsive" width="250" />
									<h6>Snehasis Das</h6>
								</div>
							</div>
							<div class="team-item hover-shine res---width---48per">
								<img src="images/teams/vidya.png" alt="" class="img-responsive iPadMini-img-responsive" width="250" />
								<h6>Vidya Bansode</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="container-fluid pt-80 pb-80 res---pl---0px res---pr---0px res---pt---0px res---pb---20px res---pt---0px---journey">
			<div class="container minus-margin-left">
				<div class="row">
					<div class="col-md-12 felizeek-vision-mission iPadMini---width---100per">
						<h4 class="text-linear-gradient">Journey</h4>
						<div id="vision-body-container-parent" class="padding-top-margin-bottom-20">
							<div class="vision-body-container mb-3">
								<span style="transition-delay: 20ms">"Drawing</span>
								<span style="transition-delay: 20ms">from</span>
								<span style="transition-delay: 20ms">over</span>
								<span style="transition-delay: 20ms">two</span>
								<span style="transition-delay: 20ms">decades</span>
								<span style="transition-delay: 20ms">of</span>
								<span style="transition-delay: 20ms">mastery</span>
								<span style="transition-delay: 20ms">in</span>
								<span style="transition-delay: 20ms">Design,</span>
								<span style="transition-delay: 20ms">Development,</span>
								<span style="transition-delay: 20ms">and</span>
								<span style="transition-delay: 20ms">expert</span>
								<span style="transition-delay: 20ms">Project</span>
								<span style="transition-delay: 20ms">Management,</span>
								<span style="transition-delay: 20ms">our</span>
								<span style="transition-delay: 20ms">journey</span>
								<span style="transition-delay: 20ms">is</span>
								<span style="transition-delay: 20ms">marked</span>
								<span style="transition-delay: 20ms">by</span>
								<span style="transition-delay: 20ms">a</span>
								<span style="transition-delay: 20ms">relentless</span>
								<span style="transition-delay: 20ms">pursuit</span>
								<span style="transition-delay: 20ms">of</span>
								<span style="transition-delay: 20ms">excellence.</span>
								<span style="transition-delay: 20ms">In</span>
								<span style="transition-delay: 20ms">the</span>
								<span style="transition-delay: 20ms">ever-evolving</span>
								<span style="transition-delay: 20ms">landscape</span>
								<span style="transition-delay: 20ms">of</span>
								<span style="transition-delay: 20ms">technology,</span>
								<span style="transition-delay: 20ms">we</span>
								<span style="transition-delay: 20ms">curate</span>
								<span style="transition-delay: 20ms">bespoke</span>
								<span style="transition-delay: 20ms">solutions,</span>
								<span style="transition-delay: 20ms">meticulously</span>
								<span style="transition-delay: 20ms">selecting</span>
								<span style="transition-delay: 20ms">proven</span>
								<span style="transition-delay: 20ms">technology</span>
								<span style="transition-delay: 20ms">stacks</span>
								<span style="transition-delay: 20ms">for</span>
								<span style="transition-delay: 20ms">each</span>
								<span style="transition-delay: 20ms">project.</span>
							</div>
							<div class="vision-body-container">
								<span style="transition-delay: 20ms">Elevate</span>
								<span style="transition-delay: 20ms">your</span>
								<span style="transition-delay: 20ms">organization</span>
								<span style="transition-delay: 20ms">with</span>
								<span style="transition-delay: 20ms">our</span>
								<span style="transition-delay: 20ms">agile,</span>
								<span style="transition-delay: 20ms">innovative,</span>
								<span style="transition-delay: 20ms">and</span>
								<span style="transition-delay: 20ms">results-driven</span>
								<span style="transition-delay: 20ms">services—where</span>
								<span style="transition-delay: 20ms">every</span>
								<span style="transition-delay: 20ms">milestone</span>
								<span style="transition-delay: 20ms">is</span>
								<span style="transition-delay: 20ms">a</span>
								<span style="transition-delay: 20ms">testament</span>
								<span style="transition-delay: 20ms">to</span>
								<span style="transition-delay: 20ms">our</span>
								<span style="transition-delay: 20ms">commitment</span>
								<span style="transition-delay: 20ms">to</span>
								<span style="transition-delay: 20ms">your</span>
								<span style="transition-delay: 20ms">success."</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid felizeek-footer pt-80 pb-80 res---pl---0px res---pr---0px res---pt---20px ">
			<div class="container minus-margin-left">
				<div class="row">
					<div class="col-md-8 res---mb---15px iPadMini---width---100per on-scroll-animation show-on-scroll">
						<img src="images/felizeek-logomark-footer.svg" class="mb-3" alt="" width="150" />
						<p class="contact-sub-title">
							Unlock the potential of your organization with our swift,<br />
							innovative, and solution-oriented services.
						</p>
						<p class="footer-text-color color-opecity get-in-touch-text">GET IN TOUCH</p>
						<p class="footer-contact footer-text-color font-size-18px line-height-24px"><img src="images/contact-icon-1.svg" class="mr-10px icon-fit-20" alt="" width="18" /><a href="tel:011-35595225">011-35595225</a></p>
						<p class="footer-text-color font-size-18px line-height-24px"><img src="images/contact-icon-2.svg" class="mr-10px icon-fit-20" alt="" width="18" /><a class="email-text" href="mailto:info@felizeek.com" target="_blank">info@felizeek.com</a></p>
						<p class="footer-address font-size-18px res-map-arrow-row line-height-24px mb-0 res---pt---0px display-flex-only gap-inherit">
							<img src="images/contact-icon-3.svg" class="mr-10px icon-fit-20 location-icon" alt="" width="18" />Invento Coworking, Plot no. 8, 2nd Floor <br />
							Sector 12B, Dwarka, New Delhi, Pincode - 110078 <span id="showModalMap" class="map-arrow"><a href="">Map <img src="images/map-arrow.svg" class="" alt="" width="12" /></a></span>
						</p>
					</div>

					<div class="col-md-4 iPadMini---width---100per on-scroll-animation show-on-scroll">
						<div class="schedule-a-call">
							<div class="schedule-a-call-card">
								<h4 class="width-100">
									Ready to get<br class="res---br---none" />
									started?
								</h4>

								<p>Let's start with a conversation about how we can help you!</p>
								<button id="showModalContact" class="btn btn-primary btn-schedule-a-call" type="submit">Schedule a Call <img src="images/schedule-a-call.svg" alt="" width="24" class="" /></button>
							</div>
							<div class="follow-us-on">
								Follow us on: <a href="https://www.linkedin.com/company/felizeek/" target="_blank">
									<div class="btn btn-primary btn-linkedin"><img src="images/fllow-us-linkdin.svg" alt="" width="16" class="fllow-us-linkdin-img mr-2" />LinkedIn</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end contact us here-->
		<div class="container-fluid felizeek-copyright res---pl---0px res---pr---0px">
			<div class="container minus-margin-left pt-3 pb-3">
				<div class="row">
					<div class="col-md-12 text-center res---text---align---center" id="bottom">
						<p>Copyright &copy; 2024. All rights reserved by <a class="felizeek-url" href="https://www.felizeek.com" target="_self">FeliZeek Technologies</a> Pvt. Ltd.</p>
					</div>
				</div>
			</div>
		</div>

		<div id="idloader" style="display:none" class="container-fluid loader-col">
			<div class="spinner-border text-primary"></div>
		</div>


		<button type="button" id="showLinkedIn" class="slide-toggle-in-0 button-focus"><img src="images/linkedin.svg" alt="" width="36" class="icon-fit-16 in-icon" /> LinkedIn</button>
		<div class="align-items-center box-inner flex-column text-center dismiss-right" style="display: none;">
			<button type="button" id="closeLinkedIn" class="button-focus"><img src="images/linkedin.svg" alt="" width="36" class="icon-fit-16 in-icon" /> LinkedIn</button>
			<div><img src="images/qr-code.svg" alt="" width="150" class="" /></div>
			<div class="scan-to-view">
				Scan to view <br />LinkedIn profile
			</div>
			<div class="or-text">or</div>
			<div>
				<a target="_blank" class="pl-4 pr-4 view-profile d-flex button-focus" href="https://www.linkedin.com/company/felizeek/">
					View Profile
				</a>
			</div>
		</div>
	</section>


	<div class="overlay-outer closeFilePanel closeContactModal"></div>
	<div class="slider-container contactmap dismiss" style="display: none;">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12"><a class="closeFilePanel"><img src="images/modal-down-arrow.svg" class="" alt="" width="50" /></a></div>
				<div class="col-md-12 contact-modal text-center">
					<h4 class=""><span class="text-linear-gradient">Reach Out</span> To Us</h4>
				</div>
				<div class="col-md-12 mb-5 ">
					<div class="row">
						<div class="col-md-5 display-flex-only res---mb---15px">
							<div class="contact-bg-modal">
								<p class="footer-text-color color-opecity get-in-touch-text">GET IN TOUCH</p>
								<p class="footer-contact footer-text-color font-size-18px line-height-24px"><img src="images/contact-icon-1.svg" class="mr-10px icon-fit-20" alt="" width="18" /><a href="tel:011-35595225">011-35595225</a></p>
								<p class="footer-text-color font-size-18px line-height-24px "><img src="images/contact-icon-2.svg" class="mr-10px icon-fit-20" alt="" width="18" /><a class="email-text white-text" href="mailto:info@felizeek.com" target="_blank">info@felizeek.com</a></p>
								<p class="footer-address font-size-18px line-height-24px mb-0 res---pt---0px display-flex-only gap-inherit">
									<img src="images/contact-icon-3.svg" class="mr-10px icon-fit-20 location-icon" alt="" width="18" />Invento Coworking, Plot no. 8, <br class="res-br-none" />
									2nd Floor Sector 12B, Dwarka, <br class="res-br-none" />
									New Delhi, Pincode - 110078
								</p>
							</div>

						</div>
						<div class="col-md-7 contact-modal-map res---mt---15px">
							<iframe frameborder="0"
									src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3503.179550802014!2d77.03670881688593!3d28.594389882064224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d1b34c19a7639%3A0x49291c74c91a54ac!2sInvento%20Coworking%20Office%20Space%2012B!5e0!3m2!1sen!2sin!4v1711954373994!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="slider-container contactform dismiss" style="display: none;">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12"><a class="closeContactModal"><img src="images/modal-down-arrow.svg" class="" alt="" width="50" /></a></div>
				<div class="col-md-12 mb-5">
					<div class="row felizeek-footer contatc-form-bg-row">
						<div id="idcontact" class="contatc-form-bg">
							<div class="col-md-4 form-group">
								<label for="">Full name</label>
								<input type="text" class="form-control" max="200" onkeyup="checkValidation('name')" id="idname" placeholder="Full name" required>
								<div id="idnamereq" style="display:none" class="invalid-feedback">Name is required</div>
								<div id="idnamemin" style="display:none" class="invalid-feedback">Minimum 2 char is required</div>
								<div id="idnamemax" style="display:none" class="invalid-feedback">Maximum 200 char</div>
								<div id="idnamespecial" style="display:none" class="invalid-feedback">Special char not allowed</div>
							</div>
							<div class="col-md-4 form-group">
								<label for="">Email address</label>
								<input type="text" class="form-control" max="200" id="idemail" onkeyup="checkValidation('email')" placeholder="Email address" required>
								<div id="idemailreq" style="display:none" class="invalid-feedback">Email is required</div>
								<div id="idemailmax" style="display:none" class="invalid-feedback">Maximum 200 char</div>
								<div id="idemailvalid" style="display:none" class="invalid-feedback">Invalid Email</div>
							</div>
							<div class="col-md-4 form-group">
								<label for="">Phone number</label>
								<input type="text" class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57' onkeyup="checkValidation('phone')" max="15" id="idphone" placeholder="Phone number" required>
								<div id="idphonereq" style="display:none" class="invalid-feedback">Phone Number is required</div>
								<div id="idphonemin" style="display:none" class="invalid-feedback">Minimum 10 char is required</div>
								<div id="idphonespecial" style="display:none" class="invalid-feedback">Only number allowed</div>
							</div>
							<div class="col-md-4 form-group">
								<label for="">Company name</label>
								<input type="text" class="form-control" max="200" id="idcompany" onkeyup="checkValidation('company')" placeholder="Company name" required>
								<div id="idcompanyreq" style="display:none" class="invalid-feedback">Company Name is required</div>
								<div id="idcompanymin" style="display:none" class="invalid-feedback">Minimum 2 char is required</div>
								<div id="idcompanymax" style="display:none" class="invalid-feedback">Maximum 200 char</div>
								<div id="idcompanyspecial" style="display:none" class="invalid-feedback">Special char not allowed</div>
							</div>
							<div class="col-md-4 form-group ">
								<label for="">Location</label>
								<input type="text" class="form-control" max="200" id="idlocation" onkeyup="checkValidation('location')" placeholder="Location" required>
								<div id="idlocationreq" style="display:none" class="invalid-feedback">Location is required</div>
								<div id="idlocationmin" style="display:none" class="invalid-feedback">Minimum 2 char is required</div>
								<div id="idlocationmax" style="display:none" class="invalid-feedback">Maximum 200 char</div>
								<div id="idlocationspecial" style="display:none" class="invalid-feedback">Special char not allowed</div>
							</div>
							<div class="col-md-12 form-group">
								<label for="">Enter your message</label>
								<textarea id="idmessage" name="message" max="1000" cols="30" rows="2" onkeyup="checkValidation('message')" required class="form-control message pt-3" placeholder="Enter your message"></textarea>
								<div id="idmessagreq" style="display:none" class="invalid-feedback">Message is required</div>
								<div id="idmessagemin" style="display:none" class="invalid-feedback">Minimum 2 char is required</div>
								<div id="idmessagemax" style="display:none" class="invalid-feedback">Maximum 1000 char</div>
							</div>
							<div class="col-md-12">
								<div class="row mt-3 justify-content-center">
									<button id="submit" onclick="sendmail()" class="btn btn-primary btn-submit " type="submit">Submit <img src="https://www.felizeek.com/images/submit-arrow.svg" alt="" width="20" class="" /></button>
									<div id="idthanks" style="display: none;" class="ml-3 res---mt---20px">
										<h3 class="thanks-hartek font-size-13px"><img src="images/thanks-message-icon.svg" class="mr-10px" alt="" width="35" /> Thanks for contacting FeliZeek Technologies! <br />We will get back to you soon.</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

	<script>
		$(document).ready(function () {
			$('#showModalMap').click(function (event) {
				if ($('.slider-container').hasClass('dismiss')) {
					$('.slider-container.contactmap').removeClass('dismiss').addClass('selected').show();
					$('.overlay-outer').fadeIn();
				}
				event.preventDefault();
			});

			$('.closeFilePanel').click(function (event) {
				if ($('.slider-container.contactmap').hasClass('selected')) {
					$('.slider-container.contactmap').removeClass('selected').addClass('dismiss');
					$('.overlay-outer').fadeOut();
				}
				event.preventDefault();
			});

			$('#showModalContact').click(function (event) {
				if ($('.slider-container.contactform').hasClass('dismiss')) {
					$('.slider-container.contactform').removeClass('dismiss').addClass('selected').show();
					$('.overlay-outer').fadeIn();
				}
				event.preventDefault();
			});

			$('.closeContactModal').click(function (event) {
				if ($('.slider-container.contactform').hasClass('selected')) {
					$('.slider-container.contactform').removeClass('selected').addClass('dismiss');
					$('.overlay-outer').fadeOut();
				}
				event.preventDefault();
			});

		});
	</script>

	<script src="Scripts/main.js"></script>
	<script type="text/javascript">
		var submit = false;
		function sendmail() {
			var error = false;
			var name = $("#idname").val();
			var email = $("#idemail").val();
			var phone = $("#idphone").val();
			var company = $("#idcompany").val();
			/*var subject = $("#idsubject").val();*/
			var location = $("#idlocation").val();
			var message = $("#idmessage").val();
			var format = /[!@@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]+/;
			$("#idname, #idemail, #idphone, #idcompany, #idlocation, #idmessage").removeClass("is-invalid");
			//name
			if (name == '') {
				error = true;
				$('#idname').addClass('is-invalid');
				$('#idnamereq').show();
				$("#idnamemin, #idnamemax, #idnamespecial").hide();
			}
			else if (format.test(name)) {
				error = true;
				$('#idname').addClass('is-invalid');
				$('#idnamespecial').show();
				$("#idnamemin, #idnamemax, #idnamereq").hide();
			}
			else if (name.length < 2) {
				error = true;
				$('#idname').addClass('is-invalid');
				$('#idnamemin').show();
				$("#idnamereq, #idnamemax, #idnamespecial").hide();
			}
			else if (name.length > 200) {
				error = true;
				$('#idname').addClass('is-invalid');
				$('#idnamemax').show();
				$("#idnamemin, #idnamereq, #idnamespecial").hide();
			}

			//email
			if (email == '') {
				error = true;
				$('#idemail').addClass('is-invalid');
				$('#idemailreq').show();
				$("#idemailmax, #idemailvalid").hide();
			}
			else if (email.length > 200) {
				error = true;
				$('#idemail').addClass('is-invalid');
				$('#idemailmax').show();
				$("#idemailreq, #idemailvalid").hide();
			}
			else if (!(/^(([^<>()[\]\\.,;:\s@@"]+(\.[^<>()[\]\\.,;:\s@@"]+)*)|.(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(email))) {
				error = true;
				$('#idemail').addClass('is-invalid');
				$('#idemailvalid').show();
				$("#idemailmax, #idemailreq").hide();
			}

			//phone
			if (phone == '') {
				error = true;
				$('#idphone').addClass('is-invalid');
				$('#idphonereq').show();
				$("#idphonemin, #idphonespecial").hide();
			}
			else if (!phone.match(/^\d+$/)) {
				error = true;
				$('#idphone').addClass('is-invalid');
				$('#idphonespecial').show();
				$("#idphonemin, #idphonereq").hide();
			}
			else if (phone.length < 10) {
				error = true;
				$('#idphone').addClass('is-invalid');
				$('#idphonemin').show();
				$("#idphonereq, #idphonespecial").hide();
			}


			//Company name
			if (company == '') {
				error = true;
				$('#idcompany').addClass('is-invalid');
				$('#idcompanyreq').show();
				$("#idcompanyspecial, #idcompanymin, #idcompanymax").hide();
			}
			else if (format.test(company)) {
				error = true;
				$('#idcompany').addClass('is-invalid');
				$('#idcompanyspecial').show();
				$("#idcompanyreq, #idcompanymin, #idcompanymax").hide();
			}
			else if (company.length < 2) {
				error = true;
				$('#idcompany').addClass('is-invalid');
				$('#idcompanymin').show();
				$("#idcompanyspecial, #idcompanyreq, #idcompanymax").hide();
			}
			else if (company.length > 200) {
				error = true;
				$('#idcompany').addClass('is-invalid');
				$('#idcompanymax').show();
				$("#idcompanyspecial, #idcompanymin, #idcompanyreq").hide();
			}

			//Location
			if (location == '') {
				error = true;
				$('#idlocation').addClass('is-invalid');
				$('#idlocationreq').show();
				$("#idlocationmin, #idlocationspecial, #idlocationmax").hide();
			}
			else if (format.test(location)) {
				error = true;
				$('#idlocation').addClass('is-invalid');
				$('#idlocationspecial').show();
				$("#idlocationreq, #idlocationmax, #idlocationmin").hide();
			}
			else if (location.length < 2) {
				error = true;
				$('#idlocation').addClass('is-invalid');
				$('#idlocationmin').show();
				$("#idlocationreq, #idlocationmax, #idlocationspecial").hide();
			}
			else if (location.length > 200) {
				error = true;
				$('#idlocation').addClass('is-invalid');
				$('#idlocationmax').show();
				$("#idlocationreq, #idlocationmin, #idlocationspecial").hide();
			}

			//message
			if (message == '') {
				error = true;
				$('#idmessage').addClass('is-invalid');
				$('#idmessagreq').show();
				$("#idmessagemin, #idmessagemax").hide();
			}

			else if (message.length < 2) {
				error = true;
				$('#idmessage').addClass('is-invalid');
				$('#idmessagemin').show();
				$("#idmessagreq, #idmessagemax").hide();
			}
			else if (message.length > 1000) {
				error = true;
				$('#idmessage').addClass('is-invalid');
				$('#idmessagemax').show();
				$("#idmessagemin, #idmessagreq").hide();
			}
			if (error) {
				submit = true;
				return false;
			}
			submit = false;
			$('#idthanks').show();
			document.getElementById("idname").value = "";
			document.getElementById("idemail").value = "";
			document.getElementById("idphone").value = "";
			document.getElementById("idcompany").value = "";
			document.getElementById("idlocation").value = "";
			document.getElementById("idmessage").value = "";
			$("#idnamemin, #idnamemax, #idnamespecial, #idnamereq, #idemailreq, #idemailmax, #idemailvalid, #idphonereq, #idphonespecial, #idphonemin, #idcompanyreq, #idcompanyspecial, #idcompanymin, #idcompanymax, #idlocationreq, #idlocationspecial, #idlocationmin, #idlocationmax, #idmessagreq , #idmessagemin, #idmessagemax").hide();

			var data = {
				'companyname': company, 'username': name, 'phone': phone, 'location': location, 'email': email, 'message': message
			}

			$.ajax({

				type: "POST",
				contentType: "application/json; charset=utf-8",
				url: '../Home/SendMail',
				data: JSON.stringify(data),
				dataType: "json",
				async: true,
				success: function (result) {

					if (result == 1) {
						return true;

					}
					else {

						return false;
					}
				}
			});
			/*}*/
		}
		function checkValidation(lbl) {
			var error = false;
			var name = $("#idname").val();
			var email = $("#idemail").val();
			var phone = $("#idphone").val();
			var company = $("#idcompany").val();
			/*var subject = $("#idsubject").val();*/
			var location = $("#idlocation").val();
			var message = $("#idmessage").val();
			var format = /[!@@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]+/;

			//name

			if (lbl == 'name' && submit == true) {
				if (name == '') {
					error = true;
					$('#idname').addClass('is-invalid');
					$('#idnamereq').show();
					$("#idnamemin, #idnamemax, #idnamespecial").hide();
				}
				else if (format.test(name)) {
					error = true;
					$('#idname').addClass('is-invalid');
					$('#idnamespecial').show();
					$("#idnamemin, #idnamemax, #idnamereq").hide();
				}
				else if (name.length < 2) {
					error = true;
					$('#idname').addClass('is-invalid');
					$('#idnamemin').show();
					$("#idnamereq, #idnamemax, #idnamespecial").hide();
				}
				else if (name.length > 200) {
					error = true;
					$('#idname').addClass('is-invalid');
					$('#idnamemax').show();
					$("#idnamemin, #idnamereq, #idnamespecial").hide();
				}
				else {
					$('#idname').removeClass('is-invalid');
					$("#idnamemin,#idnamemax, #idnamereq, #idnamespecial").hide();
				}
			}
			//email
			if (lbl == 'email' && submit == true) {
				if (email == '') {
					error = true;
					$('#idemail').addClass('is-invalid');
					$('#idemailreq').show();
					$("#idemailmax, #idemailvalid").hide();
				}
				else if (email.length > 200) {
					error = true;
					$('#idemail').addClass('is-invalid');
					$('#idemailmax').show();
					$("#idemailreq, #idemailvalid").hide();
				}
				else if (!(/^(([^<>()[\]\\.,;:\s@@"]+(\.[^<>()[\]\\.,;:\s@@"]+)*)|.(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(email))) {

					error = true;
					$('#idemail').addClass('is-invalid');
					$('#idemailvalid').show();
					$("#idemailmax, #idemailreq").hide();
				} else {
					$('#idemail').removeClass('is-invalid');
					$("#idemailvalid, #idemailmax, #idemailreq").hide();
				}
			}
			//phone
			if (lbl == 'phone' && submit == true) {
				if (phone == '') {
					error = true;
					$('#idphone').addClass('is-invalid');
					$('#idphonereq').show();
					$("#idphonemin, #idphonespecial").hide();
				}
				else if (!phone.match(/^\d+$/)) {
					error = true;
					$('#idphone').addClass('is-invalid');
					$('#idphonespecial').show();
					$("#idphonemin, #idphonereq").hide();
				}
				else if (phone.length < 10) {
					error = true;
					$('#idphone').addClass('is-invalid');
					$('#idphonemin').show();
					$("#idphonereq, #idphonespecial").hide();
				} else {
					$('#idphone').removeClass('is-invalid');
					$("#idphonemin,#idphonereq, #idphonespecial").hide();
				}

			}
			//Company name
			if (lbl == 'company' && submit == true) {
				if (company == '') {
					error = true;
					$('#idcompany').addClass('is-invalid');
					$('#idcompanyreq').show();
					$("#idcompanyspecial, #idcompanymin, #idcompanymax").hide();
				}
				else if (format.test(company)) {
					error = true;
					$('#idcompany').addClass('is-invalid');
					$('#idcompanyspecial').show();
					$("#idcompanyreq, #idcompanymin, #idcompanymax").hide();
				}
				else if (company.length < 2) {
					error = true;
					$('#idcompany').addClass('is-invalid');
					$('#idcompanymin').show();
					$("#idcompanyspecial, #idcompanyreq, #idcompanymax").hide();
				}
				else if (company.length > 200) {
					error = true;
					$('#idcompany').addClass('is-invalid');
					$('#idcompanymax').show();
					$("#idcompanyspecial, #idcompanymin, #idcompanyreq").hide();
				} else {
					$('#idcompany').removeClass('is-invalid');
					$("#idcompanymax, #idcompanyspecial, #idcompanymin, #idcompanyreq").hide();
				}
			}
			//Location
			if (lbl == 'location' && submit == true) {
				if (location == '') {
					error = true;
					$('#idlocation').addClass('is-invalid');
					$('#idlocationreq').show();
					$("#idlocationmin, #idlocationspecial, #idlocationmax").hide();
				}
				else if (format.test(location)) {
					error = true;
					$('#idlocation').addClass('is-invalid');
					$('#idlocationspecial').show();
					$("#idlocationreq, #idlocationmax, #idlocationmin").hide();
				}
				else if (location.length < 2) {
					error = true;
					$('#idlocation').addClass('is-invalid');
					$('#idlocationmin').show();
					$("#idlocationreq, #idlocationmax, #idlocationspecial").hide();
				}
				else if (location.length > 200) {
					error = true;
					$('#idlocation').addClass('is-invalid');
					$('#idlocationmax').show();
					$("#idlocationreq, #idlocationmin, #idlocationspecial").hide();
				} else {
					$('#idlocation').removeClass('is-invalid');
					$("#idlocationmax, #idlocationreq, #idlocationmin, #idlocationspecial").hide();
				}
			}
			if (lbl == 'message' && submit == true) {
				if (message == '') {
					error = true;
					$('#idmessage').addClass('is-invalid');
					$('#idmessagreq').show();
					$("#idmessagemin, #idmessagemax").hide();
				}

				else if (message.length < 2) {
					error = true;
					$('#idmessage').addClass('is-invalid');
					$('#idmessagemin').show();
					$("#idmessagreq, #idmessagemax").hide();
				}
				else if (message.length > 1000) {
					error = true;
					$('#idmessage').addClass('is-invalid');
					$('#idmessagemax').show();
					$("#idmessagemin, #idmessagreq").hide();
				} else {
					$('#idmessage').removeClass('is-invalid');
					$("#idmessagemax,#idmessagemin, #idmessagreq").hide();
				}
			}

		}


	</script>

	<script>
		function isElementInViewport(el) {
			if (typeof jQuery === "function" && el instanceof jQuery) {
				el = el[0];
			}

			var rect = el.getBoundingClientRect();

			return (
				rect.top >= 0 &&
				rect.left >= 0 &&
				rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) && /* or $(window).height() */
				rect.right <= (window.innerWidth || document.documentElement.clientWidth) /* or $(window).width() */
			);
		}

		function handleClientVoiceRevel() {
			var elems = document.querySelectorAll(".client-voices-reveal");

			for (var i = 0; i < elems.length; i++) {
				var windowHeight = window.innerHeight;
				var elementTop = elems[i].getBoundingClientRect().top;
				const clientVoiceCardHeight = document.getElementsByClassName('client-voices-item')[0].clientHeight;
				var elementVisible = clientVoiceCardHeight;
				const clientVoicesContainerHeight = document.getElementsByClassName('client-voices')[0].clientHeight;

				let scale = window.Math.cos((elementVisible - elementTop - clientVoiceCardHeight) / clientVoicesContainerHeight);

				if (scale <= 0.8) {
					scale = 0.7;
				}

				if (isElementInViewport(elems[i])
					&& elementTop < windowHeight - elementVisible) {
					elems[i].classList.add("active");
					const tStr = 'scale(' + scale
						+ ','
						+ scale
						+ ')';
					elems[i].style.transform = tStr;
				} else {
					elems[i].classList.remove("active");
					const tStr = 'scale(' + scale
						+ ','
						+ scale
						+ ')';
					elems[i].style.transform = tStr;
				}
			}
		}

		function handleVisionWaves() {
			var elems = document.querySelectorAll("#vision-body-container-parent");
			console.log(elems);
			for (var i = 0; i < elems.length; i++) {
				if (isElementInViewport(elems[i])) {
					elems[i].classList.add('wave');
				} else {
					elems[i].classList.remove('wave');
				}
			}
		}

		function handleScrollEvent(event) {
			handleClientVoiceRevel();
			handleVisionWaves();
		}

		window.addEventListener("scroll", handleScrollEvent);
	</script>

	<script>
		// Detect request animation frame
		var scroll = window.requestAnimationFrame ||
			// IE Fallback
			function (callback) { window.setTimeout(callback, 1000 / 60) };
		var elementsToShow = document.querySelectorAll('.show-on-scroll');

		function loop() {

			Array.prototype.forEach.call(elementsToShow, function (element) {
				if (isElementInViewport(element)) {
					element.classList.add('is-visible');
				} else {
					element.classList.remove('is-visible');
				}
			});

			scroll(loop);
		}

		// Call the loop for the first time
		loop();

		// Helper function from: http://stackoverflow.com/a/7557433/274826
		function isElementInViewport(el) {
			// special bonus for those using jQuery
			if (typeof jQuery === "function" && el instanceof jQuery) {
				el = el[0];
			}
			var rect = el.getBoundingClientRect();
			return (
				(rect.top <= 0
					&& rect.bottom >= 0)
				||
				(rect.bottom >= (window.innerHeight || document.documentElement.clientHeight) &&
					rect.top <= (window.innerHeight || document.documentElement.clientHeight))
				||
				(rect.top >= 0 &&
					rect.bottom <= (window.innerHeight || document.documentElement.clientHeight))
			);
		}
	</script>

</body>
</html>