﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Our Teams</title>
    <link rel="canonical" href="https://www.felizeek.com/" />
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <!-- meta tags -->
    <meta name="description" content="Project Management">
    <meta name="keywords" content="Software, Development, Project Management Professional, Consulting Services, Business Analysis, Project Management, Co-Development, Legacy Platform Maintenance">
    <meta name="author" content="Felizeek Technologies">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style-custom.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
    <!--<link rel="stylesheet" href="css/animation.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
</head>

<body>
    <section class="full-area">
        <header id="header" class="header-section">
            <div class="container-fluid">
                <div class="row ">
                    <div class="col-md-3 logo-pl-only"><a href="~/" id="#top"><img src="images/felizeek-logo.svg" alt="Felizeek Technologies" width="200" class="logo_wid" /></a></div>
                    <div class="col-md-9">
                        <nav class="navbar navbar-expand-lg navbar-light ">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item "><a class="nav-link smoothScroll" href="~/">Home <span class="sr-only">(current)</span></a> </li>
                                    <li class="nav-item dropdown ">
                                        <div class="pb-0 res-pb-0">
                                            <a href="javascript:void(0);" class="nav-link abt-col active smoothScroll dropdown-toggle" data-toggle="dropdown">About Us <span class="caret"></span></a>
                                            <div class="dropdown-menu">
                                                <a href="~/about-us" class="dropdown-item">About Felizeek</a>
                                                <a href="~/our-team" class="dropdown-item">Our Team</a>
                                                <a href="~/partners" class="dropdown-item active">Partners</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <div class="res-pb-0">
                                            <a href="javascript:void(0);" class="nav-link abt-col smoothScroll dropdown-toggle" data-toggle="dropdown">Why Us <span class="caret"></span></a>
                                            <div class="dropdown-menu">
                                                <a href="~/why-us" class="dropdown-item">Why Felizeek</a>
                                                <a href="~/career" class="dropdown-item">Career</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="nav-item"><a class="nav-link  smoothScroll" href="~/contact-us">Contact Us</a></li>
                                </ul>
                            </div>
                            <div class="social-connect">
                                <ul class="d-flex">
                                    <li><a href="https://www.linkedin.com/company/felizeek/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!--end header here-->

        <div class="container-fluid header-bg pt_90 pl-0 pr-0" id="top">
            <div class="about_us_bg teams-header">
                <h2> <span>Partners</span> </h2>
                <ul class="bread-crumb clearfix">
                    <li class="breadcrumb-item"><a href="~/">Home</a></li>
                    <li class="breadcrumb-item"><a href="~/about-us">About Felizeek</a></li>
                    <li class="breadcrumb-item">Partners</li>
                </ul>
            </div>
        </div>
        <!--end header content here-->

        <div class="container-fluid pb-0" id="Team">
            <div class="container">
                <div class="row">
                    <div class="shaddow-mast-row justify-content-center">
                        <div class="row justify-content-center flex-md-row-reverse justify-content-md-centre align-items-md-centre">
                            <div class="col-md-3 text-right">
                                <svg style="border-top-right-radius: 15px;" class="image-mask" width="97.2%" height="490" viewBox="0 0 603 490" preserveAspectRatio="xMidYMid slice">
                                    <defs>
                                        <mask id="mask3">
                                            <path d="M603 474.871C399.28 503.917 171.274 502.112 63.2662 369.071C-34.9479 248.094 -15.9947 89.1755 100.569 0H603V474.871Z" fill="#fff"></path>
                                        </mask>
                                    </defs>
                                    <image mask="url(#mask3)" xlink:href="images/team-1.jpg" height="100%" width="100%" preserveAspectRatio="xMidYMid slice"></image>
                                </svg>
                            </div>
                            <div class="col-md-9">
                                <div class="experts-pd another">
                                    <h2 class="our-partner-text">Founder - Nemsys LLC</h2>
                                    <h1 class="font-size-30">Matthew Nachtrab</h1>
                                    @*<h1>Matthew Nachtrab <span>| &nbsp; Founder - Nemsys LLC</span></h1>*@
                                    <p>Business Partner - Felizeek Technologies</p>
                                    <div class="case-category-text another">
                                        <!--<p>Mathew Nachtrab is a very successful business owner and a great Entrepreneur with about 20 years of experience in the IT industry setup. He founded Nemsys LLC in 2000. Nemsys created LabTech Software for MSP domain. In 2010, LabTech and Connectwise entered into a joint venture and later merged with Connectwise in 2016. Mathew was instrumental in the growth of the businesses of these organizations. He has a Masters in Business Administration.</p>-->
                                        <p class="mb-0">Matthew Nachtrab is a very successful business owner and a great Entrepreneur with about 20 years of experience in the IT setup. He founded Nemsys LLC in 2000. Nemsys created LabTech Software for the MSP domain. In 2010, LabTech and Connectwise entered into a joint venture and later merged with Connectwise in 2016. Mathew was instrumental in the growth of the businesses of these organizations. He has a Masters in Business Administration</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end Our Partner-->

        <div class="container-fluid pb-0 mb-5" id="Team">
            <div class="container">
                <div class="row">
                    <div class="shaddow-mast-row justify-content-center pt-4">
                        <div class="row justify-content-center flex-md-row-reverse justify-content-md-centre align-items-md-centre">
                            <div class="col-md-9">
                                <div class="experts-pd">
                                    <h2 class="our-partner-text expert-row blue-bg">Founder | Drews Utilities</h2>
                                    <h1 class="font-size-30">Drew McCallum </h1>
                                    <p>Co-Founder | Labtech Software LLC</p>
                                    <div class="case-category-text another">
                                        <p class="mb-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <svg class="image-mask" width="97.2%" height="490" viewBox="0 0 603 490" preserveAspectRatio="xMidYMid slice">
                                    <defs>
                                        <mask id="mask4">
                                            <path d="M0 15.1286C203.72 -13.9173 431.726 -12.1121 539.734 120.929C637.948 241.906 618.995 400.824 502.431 490H0V15.1286Z" fill="#fff"></path>
                                        </mask>
                                    </defs>
                                    <image mask="url(#mask4)" xlink:href="images/testimonial/drew-mccallum.jpg" height="100%" width="100%" preserveAspectRatio="xMidYMid slice"></image>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end Our Expert-->



        <div class="container-fluid pb-4 pt-5" id="Team" style="display: none;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 text-center team">
                        <p class="p_text">Our Team</p>
                        <h3>Meet Our Team</h3>
                        @*<p class="text-light-p pt-3 br-none">
                                At HartekDSS, we pride ourselves on being upfront and transparent regarding the effort and costs associated <br />
                                with projects that we deliver. We work with you through every step of the process<br /> involved with open and honest dialogue.
                            </p>*@
                    </div>
                </div>


                <div class="row justify-content-center pt-4">

                    @*<div class="col-md-12 leadership">
                            <ul class=" tabs-container nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item pb-0">
                                    <a class="nav-link mr-3 heading-tabs active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Our Teams</a>
                                </li>
                            </ul>
                        </div>*@

                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                            <div class="row justify-content-center pt-4">
                                <div class="col-md-3 team-col">
                                    <div class="techno-single-cases-study ">
                                        <div class="case-study-thumb thumbnail-new"> <a href="javascript:void(0)"><img width="100%" src="images/team-placeholder.jpg" alt=""> </a> </div>
                                        <div class="em-cases-study-content ">
                                            <div class="case_category">
                                                <p>demo text</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="inner">
                                        <div class="content mb-2">
                                            <h4 class="title">Team - 1</h4>
                                            <p class="summary">Software Engineer</p>
                                        </div>
                                        @*<ul class="social-transparent">
                                                <li><a href="https://www.linkedin.com/in/paramkaurpmp/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                            </ul>*@
                                    </div>
                                </div>
                                <div class="col-md-3 team-col">
                                    <div class="techno-single-cases-study ">
                                        <div class="case-study-thumb thumbnail-new"> <a href="javascript:void(0)"><img width="100%" src="images/team-placeholder.jpg" alt=""> </a> </div>
                                        <div class="em-cases-study-content ">
                                            <div class="case_category">
                                                <p>demo text</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="inner">
                                        <div class="content mb-2">
                                            <h4 class="title">Team - 2</h4>
                                            <p class="summary">Software Engineer</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 team-col">
                                    <div class="techno-single-cases-study ">
                                        <div class="case-study-thumb thumbnail-new"> <a href="javascript:void(0)"><img width="100%" src="images/team-placeholder.jpg" alt=""> </a> </div>
                                        <div class="em-cases-study-content ">
                                            <div class="case_category">
                                                <p>demo text</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="inner">
                                        <div class="content mb-2">
                                            <h4 class="title">Team - 3</h4>
                                            <p class="summary">Software Engineer</p>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-3 team-col">
                                    <div class="techno-single-cases-study ">
                                        <div class="case-study-thumb thumbnail-new"> <a href="javascript:void(0)"><img width="100%" src="images/team-placeholder.jpg" alt=""> </a> </div>
                                        <div class="em-cases-study-content ">
                                            <div class="case_category">
                                                <p>demo text</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="inner">
                                        <div class="content mb-2">
                                            <h4 class="title">Team - 4</h4>
                                            <p class="summary">Software Engineer</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 team-col">
                                    <div class="techno-single-cases-study ">
                                        <div class="case-study-thumb thumbnail-new"> <a href="javascript:void(0)"><img width="100%" src="images/teams/anilk.jpg" alt=""> </a> </div>
                                        <div class="em-cases-study-content ">
                                            <div class="case_category">
                                                <p>Anil is an UI/UX designer 14 years' experience with great business and design background. His specialize in Web/Mobile app designing, creative direction, user interface design, user experience design, visual design, iOS design, web design, graphic design, brand design and much more.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="inner">
                                        <div class="content mb-2">
                                            <h4 class="title">Anil Kumar</h4>
                                            <p class="summary">Sr. UI/UX Developer</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 team-col">
                                    <div class="techno-single-cases-study ">
                                        <div class="case-study-thumb thumbnail-new"> <a href="javascript:void(0)"><img width="100%" src="images/team-placeholder.jpg" alt=""> </a> </div>
                                        <div class="em-cases-study-content ">
                                            <div class="case_category">
                                                <p>demo text</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="inner">
                                        <div class="content mb-2">
                                            <h4 class="title">Team - 6</h4>
                                            <p class="summary">Software Engineer</p>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="container-fluid border-bottom" id="Team">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center team">
                        <p class="p_text">Our Team</p>
                        <h3>Meet Our Experts</h3>
                        <p class="text-light-p pt-3 br-none">
                            At HartekDSS, we pride ourselves on being upfront and transparent regarding the effort and costs associated <br />
                            with projects that we deliver. We work with you through every step of the process<br /> involved with open and honest dialogue.
                        </p>
                    </div>
                </div>


                <div class="row justify-content-center pt-4">

                    <div class="col-md-12 leadership">
                        <ul class=" tabs-container nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item pb-0">
                                <a class="nav-link mr-3 heading-tabs active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Our Expert</a>
                            </li>
                            <li class="nav-item pb-0">
                                <a class="nav-link mr-3 heading-tabs" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Our Team</a>
                            </li>

                        </ul>
                    </div>

                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                            <div class="row justify-content-center pt-4">
                                <div class="col-md-3 team-col">
                                    <div class="techno-single-cases-study ">
                                        <div class="case-study-thumb thumbnail-new"> <a href="javascript:void(0)"><img width="100%" src="images/team-2.jpg" alt=""> </a> </div>
                                        <div class="em-cases-study-content ">
                                            <div class="case_category">
                                                <p>Paramjit Kaur brings in 20 years of technical experience in software design and development. Before founding Hartek, she managed enterprise-level platform development for top Healthcare organizations in the United States, remotely from India. Her work on the integration of Speech Recognition into the medical transcription workflow gave Heartland a robust platform for medical transcription documentation. In addition, the quality checks and automated workflow enhanced the productivity and quality of the delivered documents many folds.</p>
                                                <p>The fast-tracked prototype development of Nuance's first Virtual Assistant for the physician OPD enabled the organization to showcase the capabilities Nuance had in the field of Artificial Intelligence and Virtual Assistants. Highly skilled in remote management, she successfully brought together the development teams working across waters and steered it to success.</p>
                                                <p>She has a Masters' in Computer Applications and is a Project Management Professional.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="inner">
                                        <div class="content mb-2">
                                            <h4 class="title">Parmjit Kaur</h4>
                                            <p class="designation">Founder - HartekDSS</p>
                                            <p class="summary">Director - Hartek Design and Software Solutions</p>
                                        </div>
                                        <ul class="social-transparent">
                                            <li><a href="https://www.linkedin.com/in/paramkaurpmp/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-3 team-col">
                                    <div class="techno-single-cases-study ">
                                        <div class="case-study-thumb thumbnail-new"> <a href="javascript:void(0)"><img width="100%" src="images/team-1.jpg" alt=""> </a> </div>
                                        <div class="em-cases-study-content ">
                                            <div class="case_category">
                                                <p>Mathew Nachtrab is a very successful business owner and a great Entrepreneur with about 20 years of experience in the IT industry setup. He founded Nemsys LLC in 2000. Nemsys created LabTech Software for MSP domain. In 2010, LabTech and Connectwise entered into a joint venture and later merged with Connectwise in 2016. Mathew was instrumental in the growth of the businesses of these organizations. He has a Masters in Business Administration.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="inner">
                                        <div class="content mb-2">
                                            <h4 class="title">Mathew Nachtrab</h4>
                                            <p class="designation">Founder - Nemsys LLC</p>
                                            <p class="summary">Business Partner - Hartek Design and Software Solutions</p>
                                        </div>
                                        <ul class="social-transparent">
                                            <li><a href="javascript:void(0)"><i class="fab fa-linkedin-in"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                            <div class="row justify-content-center pt-4">
                                <div class="col-md-12">coming soon...</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- end team here-->

        <div class="container-fluid footer-bg border-top-footer-0">
            <div class="container pt-3 pb-2">
                <div class="row">
                    <div class="col-md-12 text-center" id="bottom">
                        <p>Copyright &copy; 2024. All right reserved by Felizeek Technologies Pvt. Ltd.</p>
                    </div>
                </div>
                <div class="row"><a data-scroll="" class="smoothScroll" href="#top" id="scroll-to-top" style="display: none;"><i class="fas fa-chevron-up"></i></a></div>
            </div>
        </div>
        <!-- end copyright here-->
    </section>

    <!--
        <div class="container-fluid loader-col">
            <div class="spinner-border text-primary"></div>
        </div>
         -->
    <!-- end loader here-->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="Scripts/main.js"></script>
</body>
</html>