@charset "utf-8";
/* Custom Style Start here - Anil Gupta -Sep 2020 */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px
}
::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #f70;
}
::selection {
  background-color: #f70;
  color: #fff
}
-webkit-::selection {
  background-color: #f70;
  color: #fff
}
::-moz-selection {
  background-color: #f70;
  color: #fff
}
a {
  color: #f70;
  text-decoration: none;
  background-color: transparent;
}
a.btn-transparent {
  -webkit-transition: all .3s cubic-bezier(.645, .045, .355, 1);
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
  position: relative;
}
a.btn-transparent:hover {
  color: #f70;
  text-decoration: none;
}
a.btn-transparent:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -5px;
  width: 0px;
  height: 1.5px;
  background: #f70;
  opacity: .75;
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
}
a.btn-transparent:hover:after {
  width: 100%;
  text-decoration: none;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #ddd !important;
}
input:-moz-placeholder, textarea:-moz-placeholder { /* Firefox 18- */
  color: #ddd !important;
}
input::-moz-placeholder, textarea::-moz-placeholder { /* Firefox 19+ */
  color: #ddd !important;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #ddd !important;
}
.form-group > label {
  color: #7f7f7f;
}
select:required:invalid {
  color: #ddd;
}
option[value=""][disabled] {
  display: none;
}
option {
  color: #495057;
}
select {
  /* styling */
  background-color: white;
  border: thin solid blue;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;
  /* reset */
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}
select.minimal {
  background-image:
    linear-gradient(45deg, transparent 50%, #696969 50%), linear-gradient(135deg, #696969 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 0px), calc(100% - 14px) calc(1em + 0px), calc(100% - 2.5em) 0.5em;
  background-size:
    6px 6px, 6px 6px, 1px 1.5em;
  background-repeat: no-repeat;
}
select.minimal:focus {
  background-image:
    linear-gradient(45deg, #f70 50%, transparent 50%), linear-gradient(135deg, transparent 50%, #f70 50%), linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 14px) 1em, calc(100% - 20px) 1em, calc(100% - 2.5em) 0.5em;
  background-size:
    6px 6px, 6px 6px, 1px 1.5em;
  background-repeat: no-repeat;
  border-color: transparent;
  outline: 0;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  float: left;
}
.header-section {
  background-color: transparent;
  width: 100%;
  height: 80px;
  z-index: 99;
  position: fixed;
  left: 0;
  top: 0;
  padding: 0;
}
/*
.header-section .row:after {
    position: absolute;
    left: -190px;
    top: -230px;
    content: "";
    z-index: -1;
    -webkit-clip-path: ellipse(50% 50% at 50% 50%);
    clip-path: ellipse(50% 50% at 50% 50%);
    background: #ededf9;
    width: 444px;
    height: 344px;
}
*/
.navbar-fixed-top.header-section, .header-section {
  transition: all 0.3s ease-in-out;
}
.navbar-fixed-top {
  background-color: #fff;
  -moz-box-shadow: 0 2px 5px rgba(16, 16, 16, .08);
  -webkit-box-shadow: 0 2px 5px rgba(16, 16, 16, .08);
  box-shadow: 0 2px 5px rgba(16, 16, 16, .08);
  height: 90px;
  border-bottom: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: 9999;
  transition: all 0.3s ease-in-out;
  left: 0;
  top: 0;
}
.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.pt_90 {
  padding-top: 90px;
}
.header-section.navbar-fixed-top.animated.slideInDown .container .logo_wid {
  padding-top: 8px;
  width: 140px;
  transition: all 0.3s ease-in-out;
}
.header-section .container .logo_wid {
  padding-top: 25px;
  transition: all 0.3s ease-in-out;
}
.nav-link {
  font-size: 17px;
  font-weight: 500;
  padding-right: 0rem !important;
  padding-left: 0rem !important;
  margin-top: 15px;
  margin-left: 1rem;
  margin-right: 1rem;
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: #f70;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #f70;
}
.navbar-light .navbar-nav .nav-link {
  -webkit-transition: all .3s cubic-bezier(.645, .045, .355, 1);
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
  position: relative;
  color: #263b5e;
}
.navbar-light .navbar-nav .nav-link:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 1.2px;
  background: #f70;
  opacity: .75;
  transition: transform .2s ease-in-out;
  transform: scaleX(0);
}
.navbar-light .navbar-nav .nav-link:hover:after {
  width: 100%;
  transform: scaleX(1);
}
h1 {
  font-size: 34px;
}
h2 {
  font-size: 28px;
  position: relative;
  padding-bottom: 20px;
  color: #232d48;
}
h3 {
  font-size: 28px;
  position: relative;
  padding-bottom: 20px;
  color: #232d48;
}
h4 {
  font-size: 18px;
  color: #232d48;
}
.p_text {
  color: #f70;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.text-light-p {
  /*color: rgba(29,29,36,.75);*/
  color: #8492a6;
}
.about h2:after, .skill h3:after, .contact_us h3:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 5px;
  width: 60px;
  height: 2px;
  background: #f70;
  opacity: .75;
}
.services h2:after, .team h3:after, .news h3:after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: 5px;
  width: 60px;
  height: 2px;
  background: #f70;
  opacity: .75;
  margin-left: -30px;
}
.header-bg {
  /*background-image: url(../images/header-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
  height: 635px;*/
  background-image: url("../images/header-top-right-bg.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right top;
}
.header-bg h1 {
  color: #232d48;
  font-weight: 700;
  font-size: 50px;
}
.header-bg p {
  color: #8492a6;
}
.dec-1 {
  position: absolute;
  bottom: 150px;
  width: 100px;
  right: -24px;
}
.dec-2 {
  position: absolute;
  top: 80px;
  width: 100px;
  left: 110px;
}
.dec-3 {
  position: absolute;
  top: 100px;
  width: 100px;
  left: 163px;
}
.btn_radius {
  background-color: #f70;
  border-color: #f70;
  border-radius: 100px;
  height: auto;
  font-weight: 500;
  padding: 10px 40px;
  transition: all 0.15s ease-in-out 0s;
  box-shadow: rgba(255, 119, 0, 0.75) 0px 12px 24px -10px;
}
.btn_radius:hover {
  box-shadow: rgba(75, 109, 235, 0.78) 0px 12px 24px -10px;
}
.social-connect ul {
  margin: 17px 0 0 0px;
  list-style: none;
  border-left: 1px solid #e0e0e0;
  padding: 0 0 0 10px;
}
.social-connect ul li a {
  background: transparent;
  border: 1px solid #e0e0e0;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  color: #696969;
  font-size: 13px;
  margin: 0 8px;
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
}
.social-connect ul li a:hover {
  background: #f70;
  border-color: #f70;
  color: #fff;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .1);
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}
.flip-card {
  background-color: transparent;
  /*width: 230px;*/
  height: 230px;
  perspective: 1000px;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  height: 100%;
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-card-front {
  /*background-color: #bbb;
  color: black; */
}
.flip-card-back {
  background-image: -webkit-gradient(linear, left top, right top, from(#ff7700), to(#d3b168));
  background-image: -webkit-linear-gradient(left, #ff7700, #d3b168);
  background-image: linear-gradient(45deg, #ff7700, #d3b168);
  color: #fff;
  transform: rotateY(180deg);
  padding: 20px 10px 20px 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
  box-shadow: 0 10px 25px 10px rgba(0, 0, 0, .1);
}
.flip-card-back p {
  color: #fff !important;
}
.service_col {
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
  z-index: 2;
  position: relative;
}
.service_col h3 {
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 5px;
  color: #232d48;
}
.service_col p {
  /*color: rgba(29,29,36,.75);*/
  color: #8492a6;
  margin-bottom: 0;
}
/*
.service_col:before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#ff7700), to(#d3b168));
  background-image: -webkit-linear-gradient(left, #ff7700, #d3b168);
  background-image: linear-gradient(45deg, #ff7700, #d3b168);
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
}

.service_col:hover:before {
  opacity: 1;
  visibility: visible;
}
.service_col:hover {
  box-shadow: 0 10px 25px 10px rgba(0, 0, 0, .1);
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
  color: #fff;
}
*/
.service_col:hover p, .service_col:hover h3 {
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
  color: #fff;
}
.service_col i {
  font-size: 30px;
}
.bg_col {
  background: #f3f7fd;
}
.skill ul {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgba(29, 29, 36, .75);
  font-weight: 500;
}
.skill ul li {
  padding-top: 10px;
  color: #8492a6;
  float: left;
  width: 50%;
}
i.fas.fa-check {
  color: #f70;
  font-size: 14px;
  padding-right: 5px;
}
.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
}
.thumbnail .caption {
  padding: 10px;
  color: #333;
}
.mission-icon {
  position: absolute;
  right: 0;
  top: -25px;
}
/*.abt_col{
 background-image: url(../images/header-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
  height: 635px;

}*/
.abt_col {
  background-image: url(../images/abt.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  position: relative;
}
.abt_col:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: #000;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
.txt_white {
  color: #fff !important;
}
.pt_100 {
  padding-top: 100px;
}
.team-col {
  flex: 0 0 300px;
  max-width: 300px;
}
.team-col .thumbnail-new:after {
  background: #333;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  transition: all .3s ease-out;
  transform: scale(0);
  opacity: .85;
  background: -webkit-linear-gradient(top, transparent 30%, #191919 60%);
  background: -moz-linear-gradient(top, transparent 30%, #191919 60%);
  background: linear-gradient(to bottom, transparent 30%, #191919 60%);
}
.team-col .team_social {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transition: all .3s ease-in-out;
  opacity: 0;
  z-index: 999999;
  margin-bottom: -68px;
  margin-left: -53px;
}
.team-col:hover .team_social {
  transition: all .3s ease-out;
  opacity: 1;
}
.team_section .team_social ul {
  list-style: none;
  padding: 0;
  transition: all .5s ease-in-out;
  text-align: center;
}
.team-col .thumbnail-new img {
  border-radius: 5px;
  box-shadow: 0 25px 65px rgba(0, 0, 0, .1);
}
.team-col .inner {
  padding-top: 17px;
  text-align: center;
}
.team-col .inner .content .title {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 600;
  margin-top: 5px;
  letter-spacing: 2px;
}
.team-col .inner .content p.designation {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 400;
  color: #232d48;
}
.team-col .inner .content p.summary {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 300;
  color: #8492a6;
  line-height: 20px;
}
ul.social-transparent {
  list-style: none;
  padding: 0;
}
ul.social-transparent li {
  display: contents;
}
ul.social-transparent li i {
  font-size: 12px;
  color: #232d48;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
}
ul.social-transparent li i:hover {
  color: #fff;
  background: #f70;
  border: 1px solid #f70;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .1);
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}
.techno-single-cases-study {
  position: relative;
  z-index: 999;
}
.case-study-thumb {
  position: relative;
  z-index: 1;
}
.case-study-thumb:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 105, 217, .85);
  content: "";
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  opacity: 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  border-radius: 5px;
}
.em-cases-study-content {
  position: absolute;
  left: 0;
  top: 60%;
  right: 0;
  text-align: center;
  /*background: #fff;*/
  width: 100%;
  margin: auto;
  border-radius: 5px;
  padding: 0px 10px;
  opacity: 0;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 999;
  /*white-space: pre-line;*/
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 13.5rem;
  min-height: 0rem;
}
.case_category p {
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
}
.techno-single-cases-study:hover .case-study-thumb:before {
  opacity: 1;
}
.techno-single-cases-study:hover .em-cases-study-content {
  opacity: 1;
  top: 50%;
}
.position-relative {
    position: relative!important;
}

.collaborations:after{
	bottom: -5.5rem;
    width: 32rem;
    height: 32rem;
    border-radius: 15rem;
    -webkit-transform: rotate(145deg);
    transform: rotate(145deg);
    background: rgba(255, 119, 0, 0.1);
    -webkit-box-shadow: 0 0 40px rgba(255, 119, 0, 0.1);
    box-shadow: 0 0 40px rgba(255, 119, 0, 0.1);
    left: -5rem;
    content: "";
    position: absolute;
    z-index: -1;
}

.footer-bg {
  background-color: #1a1a18;
  color: #fff;
}
.footer-bg h6 {
  font-size: 18px;
  margin-bottom: 15px;
}
.footer-bg p {
  font-size: 14px;
  color: #9fa0ab;
}
.footer-bg ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  float: left;
}
.footer-bg ul li {
  padding-bottom: 10px;
  font-size: 14px;
}
.footer-bg ul li a {
  color: #9fa0ab;
  -webkit-transition: all .3s cubic-bezier(.645, .045, .355, 1);
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
  position: relative;
}
.footer-bg ul li a:hover {
  color: #f70;
  text-decoration: none;
  opacity: 0.9;
}
.footer-bg ul li a:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -5px;
  width: 0px;
  height: 1.5px;
  background: #f70;
  opacity: .75;
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
}
.footer-bg ul li a:hover:after {
  width: 100%;
}
.btn-success {
  background-color: #f70;
  border-color: #f70;
}
.btn-success:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0069d9;
}
.btn-success.focus, .btn-success:focus, .btn-success:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #0069d9;
  border-color: #0069d9;
  box-shadow: 0 0 0 0.2rem rgba(0, 105, 217, .5);
}
.h_50 {
  height: 50px;
}
.border-top-footer {
  border-top: 1px solid #565867;
}
.img_shad {
  box-shadow: 0 25px 65px rgba(0, 0, 0, .1);
}
#scroll-to-top {
  background-color: #f70;
  display: none;
  width: 45px;
  height: 45px;
  text-align: center;
  font-size: 14px;
  border-radius: 50%;
  line-height: 45px;
  color: #fff;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 999;
  transition: all 0.15s ease-in-out 0s;
  box-shadow: rgba(255, 119, 0, 0.75) 0px 12px 24px -10px;
}
#scroll-to-top:hover {
  box-shadow: rgba(75, 109, 235, 0.78) 0px 12px 24px -10px;
  background-color: #0069d9;
}
#Services {
  padding-top: 100px;
  padding-bottom: 50px;
  position: relative;
}
#AboutUs, #Skills, #Team, #Blog, #ContactUs {
  padding-top: 100px;
  padding-bottom: 100px;
}
#ContactUs {
  padding-bottom: 50px;
}
#Blog img {
  transform: scale(1);
  transition: .3s ease-out all;
}
#Blog img:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(252, 200, 58, 0.4);
  pointer-events: none;
  z-index: 1;
  opacity: 0;
  transition: .3s ease-out all;
}
a.email-text {
  color: #232d48;
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
}
a.email-text:hover {
  color: #f70;
}
.map {
  background-image: url(../images/satellite-map.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  position: relative;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.contact_us h4 {
  font-size: 20px;
  color: #232d48;
  margin-bottom: 1.5rem;
  line-height: 26px;
  padding-left: 30px;
  position: relative
}
.contact_us h5 {
  font-size: 16px;
  color: #232d48;
  margin-bottom: 1.5rem;
  padding-left: 30px;
  position: relative
}
.contact_us h4 i, .contact_us h5 i {
  position: absolute;
  left: 0;
  top: 3px;
  color: #f70;
}
.loader-col{
	position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    z-index: 9999;
}
.loader-col .spinner-border{
	position: absolute;
    left: 50%;
	top: 50%;
    margin-left: -15px;
	margin-top: -15px;
}
.loader-col .text-primary {
    color: #f70 !important;
}
.thanks-hartek{
	font-weight: 400;
    color: #f70;
    line-height: 38px;
    background: rgba(255, 119, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 0;
    padding: 10px 0 15px 0;
}








/* Animated Elements */
.anim-elements {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.anim-elements .anim-element {
  position: absolute;
}
.anim-elements .anim-element:nth-child(1) {
  background: rgba(0, 201, 157, 0.6);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 12%;
  left: 15%;
  animation: animTwo 13s infinite linear;
}
.anim-elements .anim-element:nth-child(2) {
  border: 5px solid rgba(0, 153, 229, 0.30);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  top: 15%;
  left: 45%;
  -webkit-animation: animOne 15s infinite linear;
  animation: animOne 15s infinite linear;
}
.anim-elements .anim-element:nth-child(3) {
  border: 5px solid rgba(244, 34, 104, 0.3);
  width: 25px;
  height: 25px;
  bottom: 20%;
  left: 30%;
  -webkit-animation: animFour 15s infinite linear alternate;
  animation: animFour 15s infinite linear alternate;
}
.anim-elements .anim-element:nth-child(4) {
  background: rgba(252, 162, 73, 0.80);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  bottom: 15%;
  right: 25%;
  -webkit-animation: animFive 15s infinite linear alternate;
  animation: animFive 15s infinite linear alternate;
  z-index: 999;
}
.anim-elements .anim-element:nth-child(5) {
  background: rgba(100, 45, 250, .4);
  width: 3px;
  height: 20px;
  top: 18%;
  right: 25%;
  -webkit-animation: animFour 15s infinite linear alternate;
  animation: animFour 15s infinite linear alternate;
}
.anim-elements .anim-element:nth-child(5):after, .anim-elements .anim-element:nth-child(5):before {
  content: "";
  display: block;
  width: 100%;
  height: calc(50% - 2px);
  top: 6px;
  background: inherit;
  position: absolute;
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.anim-elements .anim-element:nth-child(5):before {
  right: -6px;
}
.anim-elements .anim-element:nth-child(5):after {
  left: -6px;
}
@keyframes animOne {
  0% {
    transform: translate(0px, 0px) rotate(0deg)
  }
  20% {
    transform: translate(73px, -1px) rotate(35deg)
  }
  40% {
    transform: translate(141px, 72px) rotate(75deg)
  }
  60% {
    transform: translate(83px, 122px) rotate(110deg)
  }
  80% {
    transform: translate(-40px, 72px) rotate(145deg)
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg)
  }
}
@-webkit-keyframes animOne {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg)
  }
  20% {
    -webkit-transform: translate(73px, -1px) rotate(35deg)
  }
  40% {
    -webkit-transform: translate(141px, 72px) rotate(75deg)
  }
  60% {
    -webkit-transform: translate(83px, 122px) rotate(110deg)
  }
  80% {
    -webkit-transform: translate(-40px, 72px) rotate(145deg)
  }
  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg)
  }
}
@keyframes animTwo {
  0% {
    transform: translate(0px, 0px) rotate(0deg) scale(1)
  }
  20% {
    transform: translate(73px, -1px) rotate(36deg) scale(.9)
  }
  40% {
    transform: translate(141px, 72px) rotate(72deg) scale(1)
  }
  60% {
    transform: translate(83px, 122px) rotate(108deg) scale(1.2)
  }
  80% {
    transform: translate(-40px, 72px) rotate(144deg) scale(1.1)
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg) scale(1)
  }
}
@-webkit-keyframes animTwo {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg) scale(1)
  }
  20% {
    -webkit-transform: translate(73px, -1px) rotate(36deg) scale(.9)
  }
  40% {
    -webkit-transform: translate(141px, 72px) rotate(72deg) scale(1)
  }
  60% {
    -webkit-transform: translate(83px, 122px) rotate(108deg) scale(1.2)
  }
  80% {
    -webkit-transform: translate(-40px, 72px) rotate(144deg) scale(1.1)
  }
  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg) scale(1)
  }
}
@keyframes animThree {
  0% {
    transform: translate(165px, -179px)
  }
  100% {
    transform: translate(-346px, 617px)
  }
}
@-webkit-keyframes animThree {
  0% {
    -webkit-transform: translate(165px, -179px)
  }
  100% {
    -webkit-transform: translate(-346px, 617px)
  }
}
@keyframes animFour {
  0% {
    transform: translate(-300px, 151px) rotate(0deg)
  }
  100% {
    transform: translate(251px, -200px) rotate(180deg)
  }
}
@-webkit-keyframes animFour {
  0% {
    -webkit-transform: translate(-300px, 151px) rotate(0deg)
  }
  100% {
    -webkit-transform: translate(251px, -200px) rotate(180deg)
  }
}
@keyframes animFive {
  0% {
    transform: translate(61px, -99px) rotate(0deg)
  }
  21% {
    transform: translate(4px, -190px) rotate(38deg)
  }
  41% {
    transform: translate(-139px, -200px) rotate(74deg)
  }
  60% {
    transform: translate(-263px, -164px) rotate(108deg)
  }
  80% {
    transform: translate(-195px, -49px) rotate(144deg)
  }
  100% {
    transform: translate(-1px, 0px) rotate(180deg)
  }
}
@-webkit-keyframes animFive {
  0% {
    -webkit-transform: translate(61px, -99px) rotate(0deg)
  }
  21% {
    -webkit-transform: translate(4px, -190px) rotate(38deg)
  }
  41% {
    -webkit-transform: translate(-139px, -200px) rotate(74deg)
  }
  60% {
    -webkit-transform: translate(-263px, -164px) rotate(108deg)
  }
  80% {
    -webkit-transform: translate(-195px, -49px) rotate(144deg)
  }
  100% {
    -webkit-transform: translate(-1px, 0px) rotate(180deg)
  }
}
/* Custom Style End here - Anil Gupta -Sep 2020  Plz add your style below */