﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>About Us</title>
    <link rel="canonical" href="http://www.hartekdss.com/" />
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <!-- meta tags -->
    <meta name="description" content="Project Management">
    <meta name="keywords" content="Software, Development, Project Management Professional, Consulting Services, Business Analysis, Project Management, Co-Development, Legacy Platform Maintenance">
    <meta name="author" content="Hartek Design and Software Solutions">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style-custom.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
    <!--<link rel="stylesheet" href="css/animation.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
</head>

<body>
    <section class="full-area">
        <header id="header" class="header-section">
            <div class="container-fluid">
                <div class="row ">
                    <div class="col-md-3 logo-pl-only"><a href="~/" id="#top"><img src="images/hartekdss-logo.png" alt="Hartek Design and Software Solutions" width="200" class="logo_wid" /></a></div>
                    <div class="col-md-9">
                        <nav class="navbar navbar-expand-lg navbar-light ">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item "><a class="nav-link smoothScroll" href="~/">Home <span class="sr-only">(current)</span></a> </li>
                                    <li class="nav-item dropdown ">
                                        <div class="pb-0 res-pb-0">
                                            <a href="javascript:void(0);" class="nav-link abt-col active smoothScroll dropdown-toggle" data-toggle="dropdown">About Us <span class="caret"></span></a>
                                            <div class="dropdown-menu">
                                                <a href="~/about-us" class="dropdown-item">About HartekDSS</a>
                                                <a href="~/our-team" class="dropdown-item">Our Team</a>
                                                <a href="~/partners" class="dropdown-item">Partners</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <div class="res-pb-0">
                                            <a href="javascript:void(0);" class="nav-link abt-col smoothScroll dropdown-toggle" data-toggle="dropdown">Why Us <span class="caret"></span></a>
                                            <div class="dropdown-menu">
                                                <a href="~/why-us" class="dropdown-item">Why HartekDSS</a>
                                                <a href="~/career" class="dropdown-item">Career</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="nav-item"><a class="nav-link smoothScroll" href="~/contact-us">Contact Us</a></li>
                                </ul>
                            </div>
                            <div class="social-connect">
                                <ul class="d-flex">
                                    <li><a href="https://www.linkedin.com/company/hartekdss/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!--end header here-->

        <div class="container-fluid header-bg pt_90 pl-0 pr-0" id="top">
            <div class="about_us_bg">
                <h2> <span>about us</span> </h2>
                <ul class="bread-crumb clearfix">
                    <li class="breadcrumb-item"><a href="~/">Home</a></li>
                    <li class="breadcrumb-item">About HartekDSS</li>
                </ul>
            </div>
        </div>
        <!--end header content here-->
        <!--
        <div class="container-fluid abt_col mt-0" id="AboutUs">
          <div class="container">
            <div class="row about">
              <div class="col-md-7">
                <p class="p_text ">About Us</p>
                <h2 class="txt_white">We work as partners</h2>
                <p class="text-light-p pt-3 txt_white">We are a Software Design and Development company offering services in custom platform development, expansion, and maintenance of legacy platforms and support. Our highly experienced and skilled Project Management Professionals work with your organization for your buisness analysis needs. Our development resources will augment yours </p>
              </div>

            </div>
          </div>
        </div>
        -->
        <!--end about us here-->

        <div class="container-fluid" id="Services">
            <div class="container-fluid">
                <div class="row services">
                    <div class="col-md-12"><span class="text_transparent">ABOUT US</span> <span class="text_story" style="text-transform: inherit;">HartekDSS Story</span> </div>
                    <div class="col-md-12 pt-4 pl-0 res-pr-0">
                        <div class="col-md-6 res-pl-0 res-pr-0">
                            <ul class="nav nav-tabs mb-4">
                                <li><a class="active" data-toggle="tab" href="#overview">Overview</a></li>
                                <li><a data-toggle="tab" href="#founder">Founder</a></li>
                                <li><a class="mr-0" data-toggle="tab" href="#mission">Mission</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="overview" class="tab-pane fade in active">
                                    <!--
                                        <p class="text-light-p">We are a Software Design and Development company offering services in custom platform development, expansion, and maintenance of legacy platforms and support. </p>
                                        <p class="text-light-p">Our highly experienced and skilled Project Management Professionals work with your organization for your buisness analysis needs. Our development resources will augment yours</p>
                                    -->
                                    <p class="text-light-p">
                                        We are a Software Design and Development company offering services in custom platform development, expansion, and maintenance of legacy platforms.
                                    </p>
                                    <p class="text-light-p">
                                        At HartekDSS, we provide end-to-end digital transformation services to businesses dependent on IT. We go beyond helping companies transform through technology and help them make a meaningful difference to their customers and the communities they serve.

                                        Our involvement starts from uncovering and then analysis of the requirements. We own the complete process till deployment and support. Since we fully manage the projects we undertake, it allows us to work in a highly structured way.
                                    </p>

                                </div>

                                <div id="founder" class="tab-pane fade">
                                    <div class="founder_col">
                                        <img src="images/team-2.jpg" alt="Paramjit Kaur Founder and CEO - HartekDSS" width="150" height="150" />
                                        <h4>Paramjit Kaur</h4>
                                        <h6>Founder &amp; CEO - HartekDSS</h6>
                                        
                                        <p class="text-light-p mt-3">Paramjit Kaur brings 20 years of technical experience in software design and development. Before founding HartekDSS, she managed enterprise-level platform development for top Healthcare organizations in the United States.</p>
                                        <p class="text-light-p mt-3">Her technical expertise and vast experience with managing large-size platform development onsite and offshore positively impact any project the organization handles.</p>
                                        <p class="text-light-p mt-3">She has a Master's in Computer Applications and is a Project Management Professional. Her work includes projects involving Speech recognition, Virtual assistants, e-commerce portals, and many more.</p>
                                    </div>
                                </div>
                                <div id="mission" class="tab-pane fade">
                                    <p class="text-light-p pr-5">Our mission is to have a Culture where People LOVE to come to work, and; Clients TRUST us enough to feel us their partners and not service providers.</p>
                                    <h6 class="mission_text mt-4">
                                        We believe in our Tag line,<br>
                                        <strong>Together we achieve.</strong>
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 text-right"> <img src="images/about-us-tab.jpg" class="about-us-tab" alt="" width="450" /> </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end services-->

        <div class="container-fluid bg_col_about" id="SkillsXXXX">
            <div class="">
                <div class="row">
                    <div class="col-md-6 pl-0 pr-0 animate__animated animate__slideInLeft text-center partner-collaborations"><img src="images/partner-collaborations.jpg" alt="" width="100%" /></div>
                    <div class="col-md-6 skill our_skiss_pd animate__animated animate__slideInRight" data-wow-delay="300ms">
                        <p class="p_text">COLLABORATIONS</p>
                        <h3>HartekDSS Partners with Nemsys LLC</h3>
                        <p class="text-light-p pt-2"> Nemsys LLC. and Hartek Design and Software Solutions have formed a partnership to offer Software Design and Development to businesses in North America.</p>
                        <p class="text-light-p">The partnership is an excellent choice for businesses interested in outsourcing part or all of their software development needs.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- end skills here-->

        <div class="container-fluid bg_col_our_skills pd-bottom" id="Team" style="margin-top: 100px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center team">
                        @*<p class="p_text">Our Skills</p>*@
                        <h3>Our Skills</h3>
                        <p class="text-light-p pt-3 br-none">
                            Our team is skilled in custom platform development using modern software development techniques. <br />The structured processes allow us to deliver a quality product for your businesses.
                        </p>
                    </div>
                </div>
                <div class="row justify-content-center pt-4">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="service_col">
                                <div class="flip-card skills_wise animate__animated animate__bounceInUp">
                                    <div class="flip-card-inner">
                                        <div class="flip-card-front our_skills">
                                            <img src="images/icon-01.png" alt="Application Modernization" width="50" class="" />
                                            <h4>Application<br /> Modernization</h4>
                                            @*<p>Hartek Design and software solutions</p>*@
                                        </div>
                                        <div class="flip-card-back">
                                            <p>Our application modernization services help you achieve agility for an increasingly digital world - We provide end to end application modernization capabilities to help you move to a cloud-ready and agile ecosystem</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="service_col">
                                <div class="flip-card skills_wise animate__animated animate__bounceInUp">
                                    <div class="flip-card-inner">
                                        <div class="flip-card-front our_skills">
                                            <img src="images/icon-02.png" alt="Accelerate Digital" width="50" class="" />
                                            <h4>Accelerate<br /> Digital</h4>
                                            @*<p>Hartek Design and software solutions</p>*@
                                        </div>
                                        <div class="flip-card-back">
                                            <p>Build APIs that enable seamless integration and build data/workflow transformation across applications. Speed time to market and enterprise agility through flexible application architecture and a configuration-driven approach.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="service_col">
                                <div class="flip-card skills_wise animate__animated animate__bounceInUp">
                                    <div class="flip-card-inner">
                                        <div class="flip-card-front our_skills">
                                            <img src="images/icon-03.png" alt="Application Integration" width="50" class="" />
                                            <h4>Application<br /> Integration</h4>
                                            @*<p>Hartek Design and software solutions</p>*@
                                        </div>
                                        <div class="flip-card-back">
                                            <p>Modernize applications, improve technical value, harness cloud-based development and make your portfolio digital-ready. Modernize legacy applications and their ecosystem to a cost-effective modern platform, using a fully automated, tools-based approach.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="service_col">
                                <div class="flip-card skills_wise animate__animated animate__bounceInUp">
                                    <div class="flip-card-inner">
                                        <div class="flip-card-front our_skills">
                                            <img src="images/icon-06.png" alt="Get Agile, fast and reliable" width="50" class="" />
                                            <h4>Get Agile, fast and reliable</h4>
                                            @*<p>Hartek Design and software solutions</p>*@
                                        </div>
                                        <div class="flip-card-back">
                                            <p>Benefit from specialized, end-to-end services that improve your resilience and application transformation at scale for your IT portfolio.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="service_col">
                                <div class="flip-card skills_wise animate__animated animate__bounceInUp">
                                    <div class="flip-card-inner">
                                        <div class="flip-card-front our_skills">
                                            <img src="images/icon-04.png" alt="Mobile Applications" width="50" class="" />
                                            <h4>Mobile<br /> Applications</h4>
                                            @*<p>Hartek Design and software solutions</p>*@
                                        </div>
                                        <div class="flip-card-back">
                                            <p>Provide access to the tools and resources on the go with the mobile applications for your web portals. Keep the users informed of the latest state with the highly interactive small screen applications.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="service_col">
                                <div class="flip-card skills_wise animate__animated animate__bounceInUp">
                                    <div class="flip-card-inner">
                                        <div class="flip-card-front our_skills">
                                            <img src="images/icon-05.png" alt="UI and UX" width="50" class="" />
                                            <h4 class="mt-3">UI and UX</h4>
                                            @*<p>Hartek Design and software solutions</p>*@
                                        </div>
                                        <div class="flip-card-back">
                                            <p>Enhance the user experience with the latest UI designs and tools we offer for your web portals.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="service_col">
                                <div class="flip-card skills_wise animate__animated animate__bounceInUp">
                                    <div class="flip-card-inner">
                                        <div class="flip-card-front our_skills">
                                            <img src="images/icon-07.png" alt="Project Management" width="50" class="" />
                                            <h4>Project<br /> Management</h4>
                                            @*<p>Hartek Design and software solutions</p>*@
                                        </div>
                                        <div class="flip-card-back">
                                            <p>Leverage the benefit of highly organized and skilled project management professionals for your development projects. Feel the comfort of the great communication channels we build for timely information.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="service_col">
                                <div class="flip-card skills_wise animate__animated animate__bounceInUp">
                                    <div class="flip-card-inner">
                                        <div class="flip-card-front our_skills">
                                            <img src="images/icon-09.png" alt="Application Maintenance" width="50" class="" />
                                            <h4>Application<br /> Maintenance</h4>
                                            @*<p>Hartek Design and software solutions</p>*@
                                        </div>
                                        <div class="flip-card-back">
                                            <p>Working with us allows you to focus on your business while we assist with maintaining your existing legacy and/or current applications.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="service_col">
                                <div class="flip-card skills_wise animate__animated animate__bounceInUp">
                                    <div class="flip-card-inner">
                                        <div class="flip-card-front our_skills">
                                            <img src="images/icon-08.png" alt="Testing and Software support" width="50" class="" />
                                            <h4>Testing and <br />Software support</h4>
                                            @*<p>Hartek Design and software solutions</p>*@
                                        </div>
                                        <div class="flip-card-back">
                                            <p>Testing is an integral part of our managed projects. In addition, we offer level 2 and above production software support to help augment your existing support and monitoring teams.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid " id="Team">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center team">
                        <p class="p_text">process</p>
                        <h3>How we Work</h3>
                        <p class="text-light-p pt-3 br-none">
                            We augment your current team and follow a transparent approach. As a result, you will experience a smooth <br />development phase with clear milestones and consistent information flow.
                        </p>
                    </div>
                </div>
                <div class="row justify-content-center pt-4">
                    <div class="col-md-12 mt-4">
                        <div class="col-md-4 text-left work-process process-arrow">
                            <img src="images/planning.jpg" alt="Planning" width="200" class="process_img" />
                            <h4 class="pl-4 pt-2 ml-2">Planning</h4>
                        </div>
                        <div class="col-md-4 text-center pr-5 work-process process-arrow last">
                            <img src="images/design.jpg" alt="Design" width="250" class="process_img design mr-5" />
                            <h4 class="pr-5 pt-2 mr-3">Design</h4>
                        </div>
                        <div class="col-md-4 text-right">
                            <img src="images/development.jpg" alt="Development" width="300" class="process_img dev" />
                            <h4 class="pr-5 pt-2 mr-4">Development</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--
        <div class="container-fluid border-bottom" id="Team">
          <div class="container">
            <div class="row">
              <div class="col-md-12 text-center team">
                <p class="p_text">Our Team</p>
                <h3>Meet Our Experts</h3>
                <p class="text-light-p pt-3">At Hartek, we pride ourselves on being up front and transparent regarding the effort and costs <br />
                  associated with projects that we deliver.</p>
              </div>
            </div>
            <div class="row justify-content-center pt-4">
              <div class="col-md-3 team-col">
                <div class="techno-single-cases-study ">
                  <div class="case-study-thumb thumbnail-new"> <a href="javascript:void(0)"><img width="100%" src="images/team-2.jpg" alt="" > </a> </div>
                  <div class="em-cases-study-content ">
                    <div class="case_category">
                      <p>Paramjit Kaur brings in 20 years of technical experience in software design and development. Prior to founding Hartek, she managed enterprise level platform development for top Healthcare organizations in the United States, remotely from India. Her work on integration of Speech Recognition into the medical transcription workflow gave Heartland a robust platform for medical transcription documentation. The quality checks and automated workflow enhanced the productivity and quality of the delivered documents many folds.</p>
                      <p>The fast tracked prototype development of Nuance's first Virtual Assistant for the physician OPD enabled the organization to showcase the capabilities Nuance had in the field of Artificial Intelligence and Virtual Assistants. Highly skilled in remote management, she successfully brought together the development teams working across waters and steered it to success. She has a Masters in Computer Applications and is a Project Management Professional.</p>
                      <p>"Paramjit Kaur has over 20 years of experience leading all aspects of the software development process for US based firms.  Matthew Nachtrab worked with her throughout their careers. Paramjit is a great communicator and innovator and will be impactful on any project she works on."</p>
                    </div>
                  </div>
                </div>
                <div class="inner">
                  <div class="content mb-2">
                    <h4 class="title">Parmjit Kaur</h4>
                    <p class="designation">Founder - HartekDSS</p>
                    <p class="summary">Director - Hartek Design and Software Solutions</p>
                  </div>
                  <ul class="social-transparent">
                    <li><a href="https://www.linkedin.com/in/paramkaurpmp/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-3 team-col">
                <div class="techno-single-cases-study ">
                  <div class="case-study-thumb thumbnail-new"> <a href="javascript:void(0)"><img width="100%" src="images/team-1.jpg" alt="" > </a> </div>
                  <div class="em-cases-study-content ">
                    <div class="case_category">
                      <p>Mathew Nachtrab is a very successful business owner and a great Entrepreneur with about 20 years of experience in the IT industry setup. He founded Nemsys LLC in 2000. Nemsys created LabTech Software for MSP domain. In 2010, LabTech and Connectwise entered into a joint venture and later merged with Connectwise in 2016. Mathew was instrumental in the growth of the businesses of these organizations. He has a Masters in Business Administration.</p>
                    </div>
                  </div>
                </div>
                <div class="inner">
                  <div class="content mb-2">
                    <h4 class="title">Mathew Nachtrab</h4>
                    <p class="designation">Founder - Nemsys LLC</p>
                    <p class="summary">Business Partner - Hartek Design and Software Solutions</p>
                  </div>
                  <ul class="social-transparent">
                    <li><a href="javascript:void(0)"><i class="fab fa-linkedin-in"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        -->
        <!-- end team here-->
        <!--
        <div class="container-fluid border-bottom" id="Blog">
          <div class="container">
            <div class="row">
              <div class="col-md-6 collaborations position-relative"> <img src="images/collaborations.jpg" alt="" style="width:100%"> </div>
              <div class="col-md-6 skill">
                <p class="p_text">Collaborations</p>
                <h3>HartekDSS Partners with <br />
                  Nemsys LLC</h3>
                <p class="text-light-p pt-1">Nemsys LLC. and Hartek Design and Software Solutions have formed a partnership to offer Software Design and Development to businesses in North America.</p>
                <p class="text-light-p">The partnership is an excellent choice for businesses interested in outsourcing part or all of their software development needs.</p>
              </div>
              <div class="col-md-12 pt-4"> </div>
            </div>
          </div>
        </div>-->
        <!-- end blogs here-->

        <div class="container-fluid footer-bg border-top-footer-0">
            <div class="container pt-3 pb-2">
                <div class="row">
                    <div class="col-md-12 text-center" id="bottom">
                        <p>Copyright &copy; 2023. All right reserved by Hartek Design and Software Solution Pvt. Ltd.</p>
                    </div>
                </div>
                <div class="row"><a data-scroll="" class="smoothScroll" href="#top" id="scroll-to-top" style="display: none;"><i class="fas fa-chevron-up"></i></a></div>
            </div>
        </div>
        <!-- end copyright here-->

    </section>
    <!--
        <div class="container-fluid loader-col">
            <div class="spinner-border text-primary"></div>
        </div>
         -->
    <!-- end loader here-->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="Scripts/main.js"></script>
</body>
</html>



