﻿
@{
    Layout = null;
}

<!DOCTYPE html>
 
<html lang="en">
<head>
    <title>Contact Us</title>
    <link rel="canonical" href="http://www.hartekdss.com/" />
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <!-- meta tags -->
    <meta name="description" content="Project Management">
    <meta name="keywords" content="Software, Development, Project Management Professional, Consulting Services, Business Analysis, Project Management, Co-Development, Legacy Platform Maintenance">
    <meta name="author" content="Hartek Design and Software Solutions">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style-custom.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
    <!--<link rel="stylesheet" href="css/animation.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
</head>

<body>
    <section class="full-area">
        <header id="header" class="header-section">
            <div class="container-fluid">
                <div class="row ">
                    <div class="col-md-3 logo-pl-only"><a href="~/" id="#top"><img src="images/hartekdss-logo.png" alt="Hartek Design and Software Solutions" width="200" class="logo_wid" /></a></div>
                    <div class="col-md-9">
                        <nav class="navbar navbar-expand-lg navbar-light ">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item "><a class="nav-link smoothScroll" href="~/">Home <span class="sr-only">(current)</span></a> </li>
                                    <li class="nav-item dropdown ">
                                        <div class="pb-0 res-pb-0">
                                            <a href="javascript:void(0);" class="nav-link abt-col smoothScroll dropdown-toggle" data-toggle="dropdown">About Us <span class="caret"></span></a>
                                            <div class="dropdown-menu">
                                                <a href="~/about-us" class="dropdown-item">About HartekDSS</a>
                                                <a href="~/our-team" class="dropdown-item">Our Team</a>
                                                <a href="~/partners" class="dropdown-item">Partners</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <div class="res-pb-0">
                                            <a href="javascript:void(0);" class="nav-link abt-col smoothScroll dropdown-toggle" data-toggle="dropdown">Why Us <span class="caret"></span></a>
                                            <div class="dropdown-menu">
                                                <a href="~/why-us" class="dropdown-item">Why HartekDSS</a>
                                                <a href="~/career" class="dropdown-item">Career</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="nav-item active"><a class="nav-link  smoothScroll" href="~/contact-us">Contact Us</a></li>
                                </ul>
                            </div>
                            <div class="social-connect">
                                <ul class="d-flex">
                                    <li><a href="https://www.linkedin.com/company/hartekdss/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!--end header here-->

        <div class="container-fluid header-bg pt_90 pl-0 pr-0" id="top">
            <div class="about_us_bg contact-us-header">
                <h2> <span>Contact Us</span> </h2>
                <ul class="bread-crumb clearfix">
                    <li class="breadcrumb-item"><a href="~/">Home</a></li>
                    <li class="breadcrumb-item">Contact Us</li>
                </ul>
            </div>
        </div>
        <!--end header content here-->

        <div class="container-fluid map" id="ContactUsForm">
            <div class="container-fluid">
                <div class="row"></div>
            </div>
        </div>
        <div class="container-fluid map" id="ContactUs">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 contact_us">
                        <p class="p_text">Contact Us</p>
                        <h3>
                            Get in touch with us. <br />
                            Let us know your current requirement!
                        </h3>
                        <p class="text-light-p pt-3 pb-3">20 Years Of Experience in Strategy Planning, Project Management and Design &amp; Development.</p>
                        <h4>
                            <i class="fas fa-map-marker-alt"></i> Invento Coworking, <br />
                            Plot no. 8, 2nd Floor Sector 12B, <br />
                            Dwarka, New Delhi 110078
                        </h4>
                        <h5><i class="fas fa-envelope-open"></i> <a class="email-text" href="mailto:info@hartekdss.com" target="_blank">info@hartekdss.com</a></h5>
                        <h5><i class="fas fa-phone-alt"></i> 011-35595225</h5>
                    </div>
                    <div class="col-md-6">
                        @*<form>*@
                        <div class="row">

                            <div id="idthanks" style="display:none" class="col-md-12 form-group text-center">
                                <h3 class="thanks-hartek">Thanks for contacting HartekDSS! <br />We will get back to you soon.</h3>
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="">Name</label>
                                <input type="text" class="form-control" id="idname" placeholder="Name" required>
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="">Email</label>
                                <input type="text" class="form-control" id="idemail" placeholder="Email" required>
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="">Phone</label>
                                <input type="text" class="form-control" id="idphone" placeholder="Phone" required>
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="">Company Name</label>
                                <input type="text" class="form-control" id="idcompany" placeholder="Company Name" required>
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="">Subject</label>
                                <input type="text" class="form-control" id="idsubject" placeholder="Subject" required>
                            </div>
                            <div class="col-md-6 form-group ">
                                <label for="">Location (city/country)</label>
                                <select class="form-control minimal" id="idlocation" required>
                                    <option value="" disabled selected>--Select--</option>
                                    <option>New Delhi</option>
                                    <option>Toledo</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <label for="Message">Message</label>
                                <textarea name="message" id="idmessage" cols="30" rows="4" required class="form-control message" placeholder="Message"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <button id="submit" onclick="sendmail()" class="btn btn-primary btn_radius " type="submit">Send Message</button>
                            </div>
                        </div>
                        <div class="form-group"> </div>
                        @*</form>*@
                    </div>
                </div>
            </div>
        </div>
        <!-- end contact us here-->

        <div class="container-fluid pl-0 pr-0" id="">
            <div class="row">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d318.71347702386305!2d77.04089769038858!3d28.594367229548947!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d1b34c19a7639%3A0x49291c74c91a54ac!2sInvento%20Coworking%20Office%20Space%2012B!5e0!3m2!1sen!2sin!4v1670225857547!5m2!1sen!2sin" width="100%" height="550" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <!--end We Are Increasing Business Success here-->

        <div class="container-fluid footer-bg border-top-footer-0">
            <div class="container pt-3 pb-2">
                <div class="row">
                    <div class="col-md-12 text-center" id="bottom">
                        <p>Copyright &copy; 2023. All right reserved by Hartek Design and Software Solution Pvt. Ltd.</p>
                    </div>
                </div>
                <div class="row"><a data-scroll="" class="smoothScroll" href="#top" id="scroll-to-top" style="display: none;"><i class="fas fa-chevron-up"></i></a></div>
            </div>
        </div>
        <div id="idloader" style="display:none" class="container-fluid loader-col">
            <div class="spinner-border text-primary"></div>
        </div>
        <!-- end copyright here-->
    </section>

    <!--
        <div class="container-fluid loader-col">
            <div class="spinner-border text-primary"></div>
        </div>
         -->
    <!-- end loader here-->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="Scripts/main.js"></script>
    <script type="text/javascript">
        function sendmail() {

            var name = $("#idname").val();
            var email = $("#idemail").val();
            var phone = $("#idphone").val();
            var company = $("#idcompany").val();
            var subject = $("#idsubject").val();
            var location = $("#idlocation").val();
            var message = $("#idmessage").val();
            if ($("#idname").val() == '' ||
                $("#idemail").val() == '' ||
                $("#idphone").val() == '' ||
                $("#idcompany").val() == '' ||
                $("#idsubject").val() == '' ||
                $("#idlocation").val() == '' ||
                $("#idmessage").val() == ''
            ) {
                return false;
            }


            else if (!(/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/.test(email))) {

                return false;
            }
            else {
                $('#idloader').show();
                document.getElementById("idloader").style.display = "block";
                var data = {
                    'companyname': company, 'username': name, 'phone': phone, 'location': location, 'email': email, 'message': message, 'subject': subject
                }

                $.ajax({

                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: 'Home/SendMail',
                    data: JSON.stringify(data),
                    dataType: "json",
                    async: false,
                    success: function (result) {


                        //document.getElementById("idloader").style.display = 'none';

                        if (result == 1) {
                            $('#idthanks').show();
                            document.getElementById("idname").value = "";
                            document.getElementById("idemail").value = "";
                            document.getElementById("idphone").value = "";
                            document.getElementById("idcompany").value = "";
                            document.getElementById("idsubject").value = "";
                            document.getElementById("idlocation").value = "";
                            document.getElementById("idmessage").value = "";
                            $('#idloader').hide();
                            document.getElementById("idloader").style.display = "none";
                            return true;

                        }
                        else {
                            alert('Please try again');
                            $('#idloader').hide();
                            document.getElementById("idloader").style.display = "none";
                            return false;
                        }
                    }
                });
            }
        }

    </script>
</body>
</html>
