﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hartek Design and Software Solutions</title>
    <link rel="canonical" href="http://www.hartekdss.com/" />
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <!-- meta tags -->
    <meta name="description" content="Project Management">
    <meta name="keywords" content="Software, Development, Project Management Professional, Consulting Services, Business Analysis, Project Management, Co-Development, Legacy Platform Maintenance">
    <meta name="author" content="Hartek Design and Software Solutions">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style-custom.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
    <!--<link rel="stylesheet" href="css/animation.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
</head>

<body>
    <section class="full-area">
        <header id="header" class="header-section">
            <div class="container-fluid">
                <div class="row ">
                    <div class="col-md-3 logo-pl-only">
                        @*<a href="~/" id="#top"><img src="images/logo.png" alt="" width="130" class="logo_wid" /></a>*@
                        <a href="~/" id="#top"><img src="images/hartekdss-logo.png" alt="Hartek Design and Software Solutions" width="200" class="logo_wid" /></a>
                    </div>
                    <div class="col-md-9">
                        <nav class="navbar navbar-expand-lg navbar-light ">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item active">
                                        <a class="nav-link smoothScroll" href="~/">Home <span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <div class="res-pb-0">
                                            <a href="javascript:void(0);" class="nav-link abt-col smoothScroll dropdown-toggle" data-toggle="dropdown">About Us <span class="caret"></span></a>
                                            <div class="dropdown-menu">
                                                <a href="about-us" class="dropdown-item">About HartekDSS</a>
                                                <a href="our-team" class="dropdown-item">Our Team</a>
                                                <a href="~/partners" class="dropdown-item">Partners</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <div class="res-pb-0">
                                            <a href="javascript:void(0);" class="nav-link abt-col smoothScroll dropdown-toggle" data-toggle="dropdown">Why Us <span class="caret"></span></a>
                                            <div class="dropdown-menu">
                                                <a href="why-us" class="dropdown-item">Why HartekDSS</a>
                                                <a href="career" class="dropdown-item">Career</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link smoothScroll" href="../contact-us">Contact Us</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="social-connect">
                                <ul class="d-flex">
                                    <li><a href="https://www.linkedin.com/company/hartekdss/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!--end header here-->

        <div class="container-fluid header-bg pt_90 pl-0 pr-0" id="top">
            @*<div class="anim-elements">
                    <div class="anim-element"></div>
                    <div class="anim-element"></div>
                    <div class="anim-element"></div>
                    <div class="anim-element"></div>
                    <div class="anim-element"></div>
                </div>*@

            <!--
              <div class="container">
              <div class="row pt-0">
                <div class="col-md-5 pt-5 mt-5">
                  <h1 class="pb-3">Masters of Collaborative<br />
                    Working</h1>
                  <p>At Hartek, we pride ourselves on being upfront and transparent regarding the effort and costs associated with projects that we deliver</p>
                  <a class="smoothScroll" href="#ContactUsForm">
                  <button type="button" class="btn btn-primary btn_radius mt-3">Get in touch</button>
                  </a> </div>
                <div class="col-md-7 pt-4 text-right"> <img src="images/decoration-1.svg" class="dec-2 animation_images one" alt="" /> <img src="images/decoration-2.svg" class="dec-3 animation_images" alt="" /> <img src="images/header-1.png" alt="" width="90%" /> <img src="images/decoration-1.svg" class="dec-1 animation_images" alt="" /> </div>
              </div>
            </div>
              -->

            <div id="hero-banner" class="carousel slide" data-ride="carousel">
                <!--
                   <ul class="carousel-indicators">
                       <li data-target="#hero-banner" data-slide-to="0" class="active"></li>
                       <li data-target="#hero-banner" data-slide-to="1"></li>
                       <li data-target="#hero-banner" data-slide-to="2"></li>
                   </ul>
                -->
                <div class="carousel-inner">
                    <!--
                    <div class="carousel-item first active">
                        <img src="images/s1.jpg" alt="" width="1100" height="500">
                        <div class="carousel-caption">
                            <h3>
                                Masters of <br>
                                Collaborative <br>
                                Working
                            </h3>
                            <p>
                                At HartekDSS, we pride ourselves on being upfront and <br>
                                transparent regarding the effort and costs associated with <br>
                                projects that we deliver
                            </p>
                            <a class="smoothScroll" href="#ContactUsForm">
                                <button type="button" class="btn btn-primary btn_radius mt-3">Get in touch</button>
                            </a>
                        </div>
                        <div class="banner_one"> <img src="images/decoration-1.svg" class="dec-2 animation_images one" alt="" /> <img src="images/decoration-2.svg" class="dec-3 animation_images" alt="" /> <img src="images/header-1.png" alt="" width="90%" class="header-1" /> <img src="images/decoration-1.svg" class="dec-1 animation_images" alt="" /> </div>
                    </div>
                    -->
                    <div class="carousel-item-00 first-slider-bg active">
                        <div class="col-md-7 z-index-top">
                            <h2>
                                End to end IT Solution company
                                @*<span>IT Solution</span>*@
                                <span class="slidingVertical">
                                    <span style="animation-delay: 0s; ">Application Design</span>
                                    <span style="animation-delay: 2.5s; ">Web Application</span>
                                    <span style="animation-delay: 5s; ">Project Management</span>
                                    <span style="animation-delay: 7.5s; ">UI and UX</span>
                                    <span style="animation-delay: 10s; ">Software Support</span>
                                    <span style="animation-delay: 12.5s; ">Software Testing</span>
                                </span>
                            </h2>
                            <p class="text-opacity-0">HartekDSS is an IT company with vast experience in building enterprise platforms</p>
                            <a class="smoothScroll" href="#ContactUsForm">
                                <button type="button" class="btn btn-primary btn-radius-outline mt-3 mb-5">Get in touch</button>
                            </a>
                            <img src="images/slider-one-graphics.png" class="slider-one-graphics animate-top-bottom-0" alt="" width="250">
                        </div>

                        <div class="col-md-5 z-index-top">
                            <img src="images/quick-services-bg.svg" class="quick-services-bg" alt="" width="250">

                            <div class="ser-first ser-first-pd-0">
                                <div class="ser-first-title blue-text">Business Analysis</div>
                                <div class="ser-first-content text-opacity-0">
                                    <strong>We identify and define the solutions that will maximize the value delivered by your organization...</strong>
                                    <span class="on-hover">
                                        We identify and define the solutions that will maximize the value delivered by your organization to its clients and other stakeholders
                                    </span>
                                </div>
                            </div>

                            <div class="ser-first">
                                <div class="ser-first-title">Project Management</div>
                                <div class="ser-first-content text-opacity-0 min-wid">
                                    <strong>From discovery to deployment, we will manage all phases of the development process...</strong>
                                    <span class="on-hover treecol">
                                        From discovery to deployment, we will manage all phases of the development process for you. We follow the Agile, Waterfall, or hybrid approach based on your Project Management needs
                                    </span>
                                </div>
                            </div>

                            <div class="ser-first">
                                <div class="ser-first-title blue-text">Co-Development</div>
                                <div class="ser-first-content text-opacity-0 min-wid">
                                    <strong>We will work with you to develop your <br />business ideas...</strong>
                                    <span class="on-hover treecol">
                                        We will work with you to develop your business ideas. Our highly skilled Project Managers will work with you at each stage. Our resources will augment your team, following your business standards
                                    </span>
                                </div>
                            </div>

                            <div class="ser-first ser-first-pd-0 mb-0">
                                <div class="ser-first-title">Legacy Platform Maintenance</div>
                                <div class="ser-first-content text-opacity-0">
                                    <strong>While you focus on your growth, trust us for the maintenance of your legacy platforms...</strong>
                                    <span class="on-hover fourcol">
                                        While you focus on your growth, trust us for the maintenance of your legacy platforms. We will work with your SMEs and manage the development and maintenance of your organization's existing platforms
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>



                    <!--
                    <div class="carousel-item "  style="display: none;">
                        <img src="images/s2.jpg" alt="" width="1100" height="500">
                        <div class="carousel-caption">
                            <h3>End to end  <br>IT solution company</h3>
                            <p>We are an IT company with over 20 years of experience  <br>building enterprise platforms.</p>
                            <a class="smoothScroll" href="#ContactUsForm">
                                <button type="button" class="btn btn-primary btn_radius mt-3">Get in touch</button>
                            </a>
                        </div>
                    </div>
                    <div class="carousel-item last" style="display: none;">
                        <img src="images/s3.jpg" alt="" width="1100" height="500">
                        <div class="carousel-caption">
                            <h3>Highly structured  <br>processes and skilled resources</h3>
                            <p>We follow structured processes to give you a smooth product  <br>development experience</p>
                            <a class="smoothScroll" href="#ContactUsForm">
                                <button type="button" class="btn btn-primary btn_radius mt-3">Get in touch</button>
                            </a>
                        </div>
                    </div>
                    -->

                </div>
                <a class="carousel-control-prev" href="#hero-banner" data-slide="prev"> <span class=""><i class="fas fa-chevron-left"></i></span> </a> <a class="carousel-control-next" href="#hero-banner" data-slide="next"> <span class=""><i class="fas fa-chevron-right"></i></span> </a>
            </div>
        </div>
        <!--end header content here-->
        <!--
        <div class="container-fluid abt_col mt-0" id="AboutUs">
          <div class="container">
            <div class="row about">
              <div class="col-md-7">
                <p class="p_text ">About Us</p>
                <h2 class="txt_white">We work as partners</h2>
                <p class="text-light-p pt-3 txt_white">We are a Software Design and Development company offering services in custom platform development, expansion, and maintenance of legacy platforms and support. Our highly experienced and skilled Project Management Professionals work with your organization for your buisness analysis needs. Our development resources will augment yours </p>
              </div>

            </div>
          </div>
        </div>
        -->
        <!--end about us here-->
        <!--
            <div class="container-fluid" id="Services">
                <div class="container">
                    <div class="row services">
                        <div class="col-md-12 text-center">
                            <p class="p_text animate__animated animate__bounceInUp">Our Services</p>
                            <h2 class="animate__animated animate__bounceInUp">Explore Our Consulting Services</h2>
                            <p class="text-light-p pt-3 animate__animated animate__bounceInUp">
                                We offer the management of various phases of a development project. <br />
                                Connect with us for your business analysis needs
                            </p>
                        </div>
                        <div class="col-md-12 text-center pt-5">
                            <div class="col-md-3">
                                <div class="service_col">
                                    <div class="flip-card animate__animated animate__bounceInUp">
                                        <div class="flip-card-inner">
                                            <div class="flip-card-front">
                                                <img src="images/business-analysis.svg" alt="" width="131" class="" />
                                                <h3>Business Analysis</h3>
                                            </div>
                                            <div class="flip-card-back">
                                                <p>We identify and define the solutions that will maximize the value delivered by your organization to its clients and other stakeholders</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="service_col">
                                    <div class="flip-card animate__animated animate__bounceInUp">
                                        <div class="flip-card-inner">
                                            <div class="flip-card-front">
                                                <img src="images/project-management.svg" alt="" width="100" class="" />
                                                <h3>Project Management</h3>
                                            </div>
                                            <div class="flip-card-back">
                                                <p>Starting from discovery to deployment, we will manage all phases of the development process for you. We follow the Agile, Waterfall, or hybrid approach based on your Project Management needs</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="service_col">
                                    <div class="flip-card animate__animated animate__bounceInUp">
                                        <div class="flip-card-inner">
                                            <div class="flip-card-front">
                                                <img src="images/technology-icon.svg" alt="" width="116" class="" />
                                                <h3>Co-Development</h3>
                                            </div>
                                            <div class="flip-card-back">
                                                <p>We will work with you to develop your business ideas. Our highly skilled Project Managers will work with you at each stage. Our resources will augment your team, following your business standards</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="service_col">
                                    <div class="flip-card animate__animated animate__bounceInUp">
                                        <div class="flip-card-inner">
                                            <div class="flip-card-front">
                                                <img src="images/legacy-platform-maintenance.svg" alt="" width="100" class="" />
                                                <h3>Legacy Platform Maintenance</h3>
                                            </div>
                                            <div class="flip-card-back">
                                                <p>While you focus on your growth, trust us for the maintenance of your legacy platforms. We will work with your SMEs and manage the development and maintenance of your organization's existing platforms</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            -->
        <!-- end services-->

        <div class="container-fluid bg_col" id="SkillsXXXX">
            <div class="">
                <div class="row">
                    <div class="col-md-6 pl-0 pr-0 animate__animated animate__slideInLeft text-center overflow-hidden"><img src="images/our-skills.jpg" class="img-responsive image-hover-animation" alt="" width="100%" /></div>
                    <div class="col-md-6 skill our_skiss_pd animate__animated animate__slideInRight" data-wow-delay="300ms">
                        <p class="p_text">Our Skills</p>
                        <h3>We put your business ideas into practice</h3>
                        <p class="text-light-p pt-3 res-pt-0 res-mb-0">
                            Your organization can take full advantage of our services with our fast, innovative, and solution-oriented work. With over 20 Years Of experience in Strategy Planning, Project Management and Design & Development, we set new standards. <br />
                            <br />
                            For each project we choose a proven as well as suitable, tech stack.
                        </p>
                        <ul>
                            <li><i class="fas fa-check"></i> Application Design</li>
                            <li><i class="fas fa-check"></i> Web Portals</li>
                            <li><i class="fas fa-check"></i> Windows Applications</li>
                            <li><i class="fas fa-check"></i> Mobile Applications</li>
                            <li><i class="fas fa-check"></i> UI and UX</li>
                            <li><i class="fas fa-check"></i> Project Management</li>
                            <li><i class="fas fa-check"></i> Agile/Waterfall Hybrid Methodology</li>
                            <li><i class="fas fa-check"></i> Testing</li>
                            <li><i class="fas fa-check"></i> Software Support</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- end skills here-->

        <div class="container-fluid border-bottom" id="Team">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 text-center team">
                        <p class="p_text">Build your brand</p>
                        <h3>Our Technology</h3>
                        <p class="text-light-p pt-3">
                            As a trusted partner accelerating the digital transformation journey for our customers, HartekDSS has the prowess for creating a digitally mature organization, building world-class products, and delivering phenomenal experiences to meet the expectations and standards of the Next Generation. We deliberately focus on Next-Gen technologies to build your ideas into reality.
                        </p>
                    </div>
                </div>
                <div class="row justify-content-center pt-4">
                    <div class="col-md-2 res-col-2 our-echnology-brand">
                        <div class="technology-item">
                            <div class="logo-img"> <img src="images/tech-logo/logo-apache-storm.png" alt=""> </div>
                        </div>
                    </div>
                    <div class="col-md-2 res-col-2 our-echnology-brand">
                        <div class="technology-item">
                            <div class="logo-img"> <img src="images/tech-logo/logo-aws.png" alt=""> </div>
                        </div>
                    </div>
                    <div class="col-md-2 res-col-2 our-echnology-brand">
                        <div class="technology-item">
                            <div class="logo-img"> <img src="images/tech-logo/logo-java.png" alt=""> </div>
                        </div>
                    </div>
                    <div class="col-md-2 res-col-2 our-echnology-brand">
                        <div class="technology-item">
                            <div class="logo-img"> <img src="images/tech-logo/logo-mysql.png" alt=""> </div>
                        </div>
                    </div>
                    <div class="col-md-2 res-col-2 our-echnology-brand">
                        <div class="technology-item">
                            <div class="logo-img"> <img src="images/tech-logo/logo-mysql-server.jpg" alt=""> </div>
                        </div>
                    </div>
                    <div class="col-md-2 res-col-2 our-echnology-brand">
                        <div class="technology-item">
                            <div class="logo-img"> <img src="images/tech-logo/logo-node.png" alt=""> </div>
                        </div>
                    </div>
                    <div class="col-md-2 res-col-2 our-echnology-brand">
                        <div class="technology-item">
                            <div class="logo-img"> <img src="images/tech-logo/logo-oracle.png" alt=""> </div>
                        </div>
                    </div>
                    <div class="col-md-2 res-col-2 our-echnology-brand">
                        <div class="technology-item">
                            <div class="logo-img"> <img src="images/tech-logo/logo-python.png" alt=""> </div>
                        </div>
                    </div>
                    <div class="col-md-2 res-col-2 our-echnology-brand">
                        <div class="technology-item">
                            <div class="logo-img"> <img src="images/tech-logo/logo-angular.png" alt=""> </div>
                        </div>
                    </div>
                    <!---<div class="col-md-2 res-col-2">
                        <div class="technology-item">
                            <div class="logo-img"> <img src="images/tech-logo/logo-source-tree.png" alt=""> </div>
                        </div>
                    </div>-->
                    <div class="col-md-2 res-col-2 our-echnology-brand">
                        <div class="technology-item">
                            <div class="logo-img"> <img src="images/tech-logo/logo-power-bi.png" alt=""> </div>
                        </div>
                    </div>
                    <div class="col-md-2 res-col-2 our-echnology-brand">
                        <div class="technology-item">
                            <div class="logo-img"> <img src="images/tech-logo/logo-grafaba.png" alt=""> </div>
                        </div>
                    </div>
                    <div class="col-md-2 res-col-2 our-echnology-brand">
                        <div class="technology-item">
                            <div class="logo-img"> <img src="images/tech-logo/logo-visual-studio.png" alt=""> </div>
                        </div>
                    </div>
                    <div class="col-md-2 res-col-2 our-echnology-brand">
                        <div class="technology-item">
                            <div class="logo-img"> <img src="images/tech-logo/logo-microsoft_net.png" alt=""> </div>
                        </div>
                    </div>
                    <div class="col-md-2 res-col-2 our-echnology-brand">
                        <div class="technology-item">
                            <div class="logo-img"> <img src="images/tech-logo/logo-js.png" alt=""> </div>
                        </div>
                    </div>
                    <div class="col-md-2 res-col-2 our-echnology-brand">
                        <div class="technology-item">
                            <div class="logo-img"> <img src="images/tech-logo/logo-css3.png" alt=""> </div>
                        </div>
                    </div>
                    <div class="col-md-2 res-col-2 our-echnology-brand">
                        <div class="technology-item">
                            <div class="logo-img"> <img src="images/tech-logo/logo-html.png" alt=""> </div>
                        </div>
                    </div>
                    <div class="col-md-2 res-col-2 our-echnology-brand">
                        <div class="technology-item">
                            <div class="logo-img"> <img src="images/tech-logo/logo-jquery.png" alt=""> </div>
                        </div>
                    </div>
                    <!---<div class="col-md-2 res-col-2">
                        <div class="technology-item">
                            <div class="logo-img"> <img src="images/tech-logo/logo-csharp.png" alt=""> </div>
                        </div>
                    </div>-->
                    <div class="col-md-2 res-col-2 our-echnology-brand">
                        <div class="technology-item">
                            <div class="logo-img"> <img src="images/tech-logo/logo-vuejs.png" alt=""> </div>
                        </div>
                    </div>
                    <div class="col-md-2 res-col-2 our-echnology-brand">
                        <div class="technology-item">
                            <div class="logo-img"> <img src="images/tech-logo/logo-bootstrap.png" alt=""> </div>
                        </div>
                    </div>
                    <div class="col-md-2 res-col-2 our-echnology-brand">
                        <div class="technology-item">
                            <div class="logo-img"> <img src="images/tech-logo/logo-android.png" alt=""> </div>
                        </div>
                    </div>
                    <div class="col-md-2 res-col-2 our-echnology-brand">
                        <div class="technology-item">
                            <div class="logo-img"> <img src="images/tech-logo/logo-ios.png" alt=""> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--
        <div class="container-fluid border-bottom" id="Team">
          <div class="container">
            <div class="row">
              <div class="col-md-12 text-center team">
                <p class="p_text">Our Team</p>
                <h3>Meet Our Experts</h3>
                <p class="text-light-p pt-3">At Hartek, we pride ourselves on being up front and transparent regarding the effort and costs <br />
                  associated with projects that we deliver.</p>
              </div>
            </div>
            <div class="row justify-content-center pt-4">
              <div class="col-md-3 team-col">
                <div class="techno-single-cases-study ">
                  <div class="case-study-thumb thumbnail-new"> <a href="javascript:void(0)"><img width="100%" src="images/team-2.jpg" alt="" > </a> </div>
                  <div class="em-cases-study-content ">
                    <div class="case_category">
                      <p>Paramjit Kaur brings in 20 years of technical experience in software design and development. Prior to founding Hartek, she managed enterprise level platform development for top Healthcare organizations in the United States, remotely from India. Her work on integration of Speech Recognition into the medical transcription workflow gave Heartland a robust platform for medical transcription documentation. The quality checks and automated workflow enhanced the productivity and quality of the delivered documents many folds.</p>
                      <p>The fast tracked prototype development of Nuance's first Virtual Assistant for the physician OPD enabled the organization to showcase the capabilities Nuance had in the field of Artificial Intelligence and Virtual Assistants. Highly skilled in remote management, she successfully brought together the development teams working across waters and steered it to success. She has a Masters in Computer Applications and is a Project Management Professional.</p>
                      <p>"Paramjit Kaur has over 20 years of experience leading all aspects of the software development process for US based firms.  Matthew Nachtrab worked with her throughout their careers. Paramjit is a great communicator and innovator and will be impactful on any project she works on."</p>
                    </div>
                  </div>
                </div>
                <div class="inner">
                  <div class="content mb-2">
                    <h4 class="title">Parmjit Kaur</h4>
                    <p class="designation">Founder - HartekDSS</p>
                    <p class="summary">Director - Hartek Design and Software Solutions</p>
                  </div>
                  <ul class="social-transparent">
                    <li><a href="https://www.linkedin.com/in/paramkaurpmp/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-3 team-col">
                <div class="techno-single-cases-study ">
                  <div class="case-study-thumb thumbnail-new"> <a href="javascript:void(0)"><img width="100%" src="images/team-1.jpg" alt="" > </a> </div>
                  <div class="em-cases-study-content ">
                    <div class="case_category">
                      <p>Mathew Nachtrab is a very successful business owner and a great Entrepreneur with about 20 years of experience in the IT industry setup. He founded Nemsys LLC in 2000. Nemsys created LabTech Software for MSP domain. In 2010, LabTech and Connectwise entered into a joint venture and later merged with Connectwise in 2016. Mathew was instrumental in the growth of the businesses of these organizations. He has a Masters in Business Administration.</p>
                    </div>
                  </div>
                </div>
                <div class="inner">
                  <div class="content mb-2">
                    <h4 class="title">Mathew Nachtrab</h4>
                    <p class="designation">Founder - Nemsys LLC</p>
                    <p class="summary">Business Partner - Hartek Design and Software Solutions</p>
                  </div>
                  <ul class="social-transparent">
                    <li><a href="javascript:void(0)"><i class="fab fa-linkedin-in"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        -->
        <!-- end team here-->
        <!--
        <div class="container-fluid border-bottom" id="Blog">
          <div class="container">
            <div class="row">
              <div class="col-md-6 collaborations position-relative"> <img src="images/collaborations.jpg" alt="" style="width:100%"> </div>
              <div class="col-md-6 skill">
                <p class="p_text">Collaborations</p>
                <h3>HartekDSS Partners with <br />
                  Nemsys LLC</h3>
                <p class="text-light-p pt-1">Nemsys LLC. and Hartek Design and Software Solutions have formed a partnership to offer Software Design and Development to businesses in North America.</p>
                <p class="text-light-p">The partnership is an excellent choice for businesses interested in outsourcing part or all of their software development needs.</p>
              </div>
              <div class="col-md-12 pt-4"> </div>
            </div>
          </div>
        </div>-->
        <!-- end blogs here-->

        <div class="container-fluid bg_col_testimonial" id="testimonial">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 text-center team">
                        <p class="p_text">Testimonial</p>
                        <h3>What Our Clients Say</h3>
                        <p class="text-light-p pt-3">
                            Your organization can take full advantage of our services with our fast, <br>
                            innovative, and solution-oriented work.
                        </p>
                    </div>
                </div>
                <div class="row justify-content-center pt-0">
                    <div class="col-md-12 mt-4">
                        <div id="carousel-2" class="carousel slide not-mobile-view-only" data-ride="carousel">
                            <ul class="carousel-indicators testimonial-indicators">
                                <li data-target="#carousel-2" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-2" data-slide-to="1"></li>
                                @*<li data-target="#testimonial" data-slide-to="2"></li>*@
                            </ul>
                            <div class="carousel-inner testimonial-inner">

                                <div class="carousel-item testimonial-item active">
                                    <div class="col-md-6 ">
                                        <div class="col-md-12">
                                            <div class="cols ">
                                                <span><i class="fas fa-quote-left"></i></span>
                                                <div class="testimonial-content-slider">
                                                    <p>Paramjit Kaur has over 20 years of experience leading all aspects of the software development process for US based firms. I worked with Paramjit throughout their careers.</p>
                                                    <p>Paramjit is a great communicator and innovator and will be impactful on any project she works on.</p>
                                                </div>
                                                <small><img class="image-hover-animation" src="images/testimonial/mathew-nachtrab.jpg" alt="" width="80" /> Mathew Nachtrab <em>Owner <i class="ml-1 mr-1">|</i> Nemsys LLC</em> </small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 ">
                                        <div class="col-md-12">
                                            <div class="cols ">
                                                <span><i class="fas fa-quote-left"></i></span>
                                                <div class="testimonial-content-slider">
                                                    <p>As a US company the decision to hire an offshore development company came from several needs, cost and time saving, scalability, performance and the ability to access a diverse knowledge pool. HartekDSS came highly recommended and exceeded our expectations.</p>

                                                    <p>We were initially concerned that there could be communications barriers, time zone issues and a difficulty understanding our vision. Paramjit was able to overcome all of these obstacles.  As Founder and our personal project lead she has been able to bridge the gap between continents, languages, and technical and non technical staff. Her years of experience in handling offshore clients shows and we couldn’t have done it without her teams expertise.</p>

                                                    <p>Not only are they great developers the way project management was handled informed us about both the ups and the downs: There is nothing wrong in talking about challenges. They always  came to us with plans on how to turn these encountered challenges into solutions.</p>

                                                    <p>I would recommend HartekDSS for anyone looking for the a development team that comes with full service project management.</p>
                                                </div>
                                                <small><img class="image-hover-animation" src="images/testimonial/james-griffin.jpg" alt="" width="80" /> James Griffin <em>COO and Co-founder <i class="ml-1 mr-1">|</i> Griffin IT</em> </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="carousel-item testimonial-item ">
                                    <div class="col-md-6 ">
                                        <div class="col-md-12">
                                            <div class="cols ">
                                                <span><i class="fas fa-quote-left"></i></span>
                                                <div class="testimonial-content-slider">
                                                    <p>"We were looking for an outsource development solution that mitigated the communications issues typically found when offshoring development. The HartekDSS management team has worked extensively in the US and has excellent communication skills and is familiar with US development practices. They have the experience to identify gaps and assumptions in Requirements and address them appropriately without significant back and forth. The product had a great User Interface and our end users love using the solution.</p>
                                                    <p>I absolutely recommend HartekDSS to anyone who needs a fantastic offshore development team."</p>
                                                </div>
                                                <small><img class="image-hover-animation" src="images/testimonial/drew-mccallum.jpg" alt="" width="80" /> Drew McCallum <em>Founder <i class="ml-1 mr-1">|</i> Drews Utilities</em></small>
                                                <small style="height: 15px; bottom: -48px;"><em style="margin-top: 50px;">Co-Founder <i class="ml-1 mr-1">|</i> Labtech Software LLC</em></small>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>


                            <a class="carousel-control-prev testimonial-arrow" href="#carousel-2" data-slide="prev">
                                <span class=""><i class="fas fa-chevron-left color-black"></i></span>
                            </a>
                            <a class="carousel-control-next testimonial-arrow" href="#carousel-2" data-slide="next">
                                <span class=""><i class="fas fa-chevron-right color-black"></i></span>
                            </a>

                        </div>

                        <!-- Start for mobile view only -->
                        <div id="carousel-3" class="carousel slide mobile-view-only" data-ride="carousel">
                            <ul class="carousel-indicators testimonial-indicators">
                                <li data-target="#carousel-3" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-3" data-slide-to="1"></li>
                                <li data-target="#testimonial" data-slide-to="2"></li>
                            </ul>
                            <div class="carousel-inner testimonial-inner">

                                <div class="carousel-item testimonial-item active">
                                    <div class="col-md-6 pl-0 pr-0">
                                        <div class="col-md-12 pl-0 pr-0">
                                            <div class="cols ">
                                                <span><i class="fas fa-quote-left"></i></span>
                                                <div class="testimonial-content-slider">
                                                    <p>Paramjit Kaur has over 20 years of experience leading all aspects of the software development process for US based firms. I worked with Paramjit throughout their careers.</p>
                                                    <p>Paramjit is a great communicator and innovator and will be impactful on any project she works on.</p>
                                                </div>
                                                <small><img class="image-hover-animation" src="images/testimonial/mathew-nachtrab.jpg" alt="" width="80" /> Mathew Nachtrab <em>Owner <i class="ml-1 mr-1">|</i> Nemsys LLC</em> </small>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="carousel-item testimonial-item ">
                                    <div class="col-md-6 pl-0 pr-0">
                                        <div class="col-md-12 pl-0 pr-0">
                                            <div class="cols ">
                                                <span><i class="fas fa-quote-left"></i></span>
                                                <div class="testimonial-content-slider">
                                                    <p>As a US company the decision to hire an offshore development company came from several needs, cost and time saving, scalability, performance and the ability to access a diverse knowledge pool. HartekDSS came highly recommended and exceeded our expectations.</p>

                                                    <p>We were initially concerned that there could be communications barriers, time zone issues and a difficulty understanding our vision. Paramjit was able to overcome all of these obstacles.  As Founder and our personal project lead she has been able to bridge the gap between continents, languages, and technical and non technical staff. Her years of experience in handling offshore clients shows and we couldn’t have done it without her teams expertise.</p>

                                                    <p>Not only are they great developers the way project management was handled informed us about both the ups and the downs: There is nothing wrong in talking about challenges. They always  came to us with plans on how to turn these encountered challenges into solutions.</p>

                                                    <p>I would recommend HartekDSS for anyone looking for the a development team that comes with full service project management.</p>
                                                </div>
                                                <small><img class="image-hover-animation" src="images/testimonial/james-griffin.jpg" alt="" width="80" /> James Griffin <em>COO and Co-founder <i class="ml-1 mr-1">|</i> Griffin IT</em> </small>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="carousel-item testimonial-item ">
                                    <div class="col-md-6 pl-0 pr-0">
                                        <div class="col-md-12 pl-0 pr-0">
                                            <div class="cols ">
                                                <span><i class="fas fa-quote-left"></i></span>
                                                <div class="testimonial-content-slider">
                                                    <p>"We were looking for an outsource development solution that mitigated the communications issues typically found when offshoring development. The HartekDSS management team has worked extensively in the US and has excellent communication skills and is familiar with US development practices. They have the experience to identify gaps and assumptions in Requirements and address them appropriately without significant back and forth. The product had a great User Interface and our end users love using the solution.</p>
                                                    <p>I absolutely recommend HartekDSS to anyone who needs a fantastic offshore development team."</p>
                                                </div>
                                                <small><img class="image-hover-animation" src="images/testimonial/drew-mccallum.jpg" alt="" width="80" /> Drew McCallum <em>Founder <i class="ml-1 mr-1">|</i> Drews Utilities</em></small>
                                                <small style="height: 15px; bottom: -48px;"><em style="margin-top: 50px;">Co-Founder <i class="ml-1 mr-1">|</i> Labtech Software LLC</em></small>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <a class="carousel-control-prev testimonial-arrow inmobile" href="#carousel-3" data-slide="prev">
                                <span class=""><i class="fas fa-chevron-left color-black"></i></span>
                            </a>
                            <a class="carousel-control-next testimonial-arrow inmobile" href="#carousel-3" data-slide="next">
                                <span class=""><i class="fas fa-chevron-right color-black"></i></span>
                            </a>
                        </div>
                        <!-- End for mobile view only -->
                    </div>

                </div>
            </div>
        </div>
        <!-- end testimonial here -->

        <div class="container-fluid map" id="ContactUsForm">
            <div class="container">
                <div class="row"></div>
            </div>
        </div>
        <div class="container-fluid map" id="ContactUs">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 contact_us">
                        <p class="p_text">Contact Us</p>
                        <h3>
                            Get in touch with us. <br />
                            Let us know your current requirement!
                        </h3>
                        <p class="text-light-p pt-3 pb-3">20 Years Of Experience in Strategy Planning, Project Management and Design &amp; Development.</p>
                        <h4>
                            <i class="fas fa-map-marker-alt"></i> Invento Coworking, <br />
                            Plot no. 8, 2nd Floor Sector 12B, <br />
                            Dwarka, New Delhi 110078
                        </h4>
                        <h5><i class="fas fa-envelope-open"></i> <a class="email-text" href="mailto:info@hartekdss.com" target="_blank">info@hartekdss.com</a></h5>
                        <h5><i class="fas fa-phone-alt"></i> 011-35595225</h5>
                    </div>
                    <div class="col-md-6">
                        @*<form>*@
                        <div class="row">
                            <div id="idthanks" style="display:none" class="col-md-12 form-group text-center">
                                <h3 class="thanks-hartek">Thanks for contacting HartekDSS! <br />We will get back to you soon.</h3>
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="">Name</label>
                                <input type="text" class="form-control" id="idname" placeholder="Name" required>
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="">Email</label>
                                <input type="text" class="form-control" id="idemail" placeholder="Email" required>
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="">Phone</label>
                                <input type="text" class="form-control" id="idphone" placeholder="Phone" required>
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="">Company Name</label>
                                <input type="text" class="form-control" id="idcompany" placeholder="Company Name" required>
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="">Subject</label>
                                <input type="text" class="form-control" id="idsubject" placeholder="Subject" required>
                            </div>
                            <div class="col-md-6 form-group ">
                                <label for="">Location (city/country)</label>
                                @*<input type="text" class="form-control" id="idlocation" placeholder="Location (city/country)" required>*@
                                <!--
                                <select class="form-control minimal" id="" required>
                                  <option value="" disabled selected>--Select--</option>
                                  <option>New Delhi</option>
                                  <option>Toledo</option>
                                </select>
                                 -->
                                <select class="form-control minimal" id="idlocation" required>
                                    <option value="" disabled selected>--Select--</option>
                                    <option>New Delhi</option>
                                    <option>Toledo</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <label for="Message">Message</label>
                                <textarea id="idmessage" name="message" cols="30" rows="4" required class="form-control message" placeholder="Message"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <button id="submit" onclick="sendmail()" class="btn btn-primary btn_radius " type="submit">Send Message</button>
                            </div>
                        </div>
                        <div class="form-group"> </div>
                        @*</form>*@
                    </div>
                </div>
            </div>
        </div>
        <!-- end contact us here-->

        <div class="container-fluid footer-bg border-top-footer-0">
            <div class="container-fluid pt-3 pb-2">
                <div class="row">
                    <div class="col-md-12 text-center" id="bottom">
                        <p>Copyright &copy; 2023. All right reserved by Hartek Design and Software Solution Pvt. Ltd.</p>
                    </div>
                </div>
                <div class="row"><a data-scroll="" class="smoothScroll" href="#top" id="scroll-to-top" style="display: none;"><i class="fas fa-chevron-up"></i></a></div>
            </div>
        </div>
        <div id="idloader" style="display:none" class="container-fluid loader-col">
            <div class="spinner-border text-primary"></div>
        </div>

    </section>

    <!-- end copyright here-->
    <!--
    <div class="container-fluid loader-col">
        <div class="spinner-border text-primary"></div>
    </div>
     -->
    <!-- end loader here-->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="Scripts/main.js"></script>
    <script type="text/javascript">
        function sendmail() {

            var name = $("#idname").val();
            var email = $("#idemail").val();
            var phone = $("#idphone").val();
            var company = $("#idcompany").val();
            var subject = $("#idsubject").val();
            var location = $("#idlocation").val();
            var message = $("#idmessage").val();
            if ($("#idname").val() == '' ||
                $("#idemail").val() == '' ||
                $("#idphone").val() == '' ||
                $("#idcompany").val() == '' ||
                $("#idsubject").val() == '' ||
                $("#idlocation").val() == '' ||
                $("#idmessage").val() == ''
            ) {
                return false;
            }


            else if (!(/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/.test(email))) {

                return false;
            }
            else {
                $('#idloader').show();
                document.getElementById("idloader").style.display = "block";
                var data = {
                    'companyname': company, 'username': name, 'phone': phone, 'location': location, 'email': email, 'message': message, 'subject': subject
                }

                $.ajax({

                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: 'Home/SendMail',
                    data: JSON.stringify(data),
                    dataType: "json",
                    async: false,
                    success: function (result) {


                        //document.getElementById("idloader").style.display = 'none';

                        if (result == 1) {
                            $('#idthanks').show();
                            document.getElementById("idname").value = "";
                            document.getElementById("idemail").value = "";
                            document.getElementById("idphone").value = "";
                            document.getElementById("idcompany").value = "";
                            document.getElementById("idsubject").value = "";
                            document.getElementById("idlocation").value = "";
                            document.getElementById("idmessage").value = "";
                            $('#idloader').hide();
                            document.getElementById("idloader").style.display = "none";
                            return true;

                        }
                        else {
                            alert('Please try again');
                            $('#idloader').hide();
                            document.getElementById("idloader").style.display = "none";
                            return false;
                        }
                    }
                });
            }
        }

    </script>
</body>
</html>