﻿
@{
    Layout = null;
}

<!DOCTYPE html>
 
<html lang="en">
<head>
    <title>Services</title>
    <link rel="canonical" href="http://www.hartekdss.com/" />
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <!-- meta tags -->
    <meta name="description" content="Project Management">
    <meta name="keywords" content="Software, Development, Project Management Professional, Consulting Services, Business Analysis, Project Management, Co-Development, Legacy Platform Maintenance">
    <meta name="author" content="Hartek Design and Software Solutions">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style-custom.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
    <!--<link rel="stylesheet" href="css/animation.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
</head>

<body>
    <section class="full-area">
        <header id="header" class="header-section">
            <div class="container-fluid">
                <div class="row ">
                    <div class="col-md-3 logo-pl-only"><a href="~/" id="#top"><img src="images/hartekdss-logo.png" alt="Hartek Design and Software Solutions" width="200" class="logo_wid" /></a></div>
                    <div class="col-md-9">
                        <nav class="navbar navbar-expand-lg navbar-light ">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item "><a class="nav-link smoothScroll" href="~/">Home <span class="sr-only">(current)</span></a> </li>
                                    <li class="nav-item dropdown ">
                                        <div class="pb-0 res-pb-0">
                                            <a href="javascript:void(0);" class="nav-link abt-col smoothScroll dropdown-toggle" data-toggle="dropdown">About Us <span class="caret"></span></a>
                                            <div class="dropdown-menu">
                                                <a href="~/about-us" class="dropdown-item">About HartekDSS</a>
                                                <a href="~/our-team" class="dropdown-item">Our Team</a>
                                                <a href="~/partners" class="dropdown-item">Partners</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <div class="res-pb-0">
                                            <a href="javascript:void(0);" class="nav-link abt-col smoothScroll dropdown-toggle" data-toggle="dropdown">Why Us <span class="caret"></span></a>
                                            <div class="dropdown-menu">
                                                <a href="~/why-us" class="dropdown-item">Why HartekDSS</a>
                                                <a href="~/career" class="dropdown-item">Career</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="nav-item"><a class="nav-link  smoothScroll" href="~/contact-us">Contact Us</a></li>
                                </ul>
                            </div>
                            <div class="social-connect">
                                <ul class="d-flex">
                                    <li><a href="https://www.linkedin.com/company/hartekdss/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!--end header here-->

        <div class="container-fluid header-bg pt_90 pl-0 pr-0" id="top">
            <div class="about_us_bg teams-header">
                <h2> <span>Services</span> </h2>
            </div>
        </div>
        <!--end header content here-->


        <div class="container-fluid border-bottom" id="Services">
            <div class="container">
                <div class="row services">
                    <div class="col-md-12 text-center">
                        <p class="p_text animate__animated animate__bounceInUp">Our Services</p>
                        <h2 class="animate__animated animate__bounceInUp">Explore Our Consulting Services</h2>
                        <p class="text-light-p pt-3 animate__animated animate__bounceInUp">
                            We offer the management of various phases of a development project. <br />
                            Connect with us for your business analysis needs
                        </p>
                    </div>
                    <div class="col-md-12 text-center pt-5">
                        <div class="col-md-3">
                            <div class="service_col">
                                <div class="flip-card animate__animated animate__bounceInUp">
                                    <div class="flip-card-inner">
                                        <div class="flip-card-front">
                                            <img src="images/business-analysis.svg" alt="" width="131" class="" />
                                            <h3>Business Analysis</h3>
                                        </div>
                                        <div class="flip-card-back">
                                            <p>We identify and define the solutions that will maximize the value delivered by your organization to its clients and other stakeholders</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="service_col">
                                <div class="flip-card animate__animated animate__bounceInUp">
                                    <div class="flip-card-inner">
                                        <div class="flip-card-front">
                                            <img src="images/project-management.svg" alt="" width="100" class="" />
                                            <h3>Project Management</h3>
                                        </div>
                                        <div class="flip-card-back">
                                            <p>Starting from discovery to deployment, we will manage all phases of the development process for you. We follow the Agile, Waterfall, or hybrid approach based on your Project Management needs</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="service_col">
                                <div class="flip-card animate__animated animate__bounceInUp">
                                    <div class="flip-card-inner">
                                        <div class="flip-card-front">
                                            <img src="images/technology-icon.svg" alt="" width="116" class="" />
                                            <h3>Co-Development</h3>
                                        </div>
                                        <div class="flip-card-back">
                                            <p>We will work with you to develop your business ideas. Our highly skilled Project Managers will work with you at each stage. Our resources will augment your team, following your business standards</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="service_col">
                                <div class="flip-card animate__animated animate__bounceInUp">
                                    <div class="flip-card-inner">
                                        <div class="flip-card-front">
                                            <img src="images/legacy-platform-maintenance.svg" alt="" width="100" class="" />
                                            <h3>Legacy Platform Maintenance</h3>
                                        </div>
                                        <div class="flip-card-back">
                                            <p>While you focus on your growth, trust us for the maintenance of your legacy platforms. We will work with your SMEs and manage the development and maintenance of your organization's existing platforms</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end services-->





        <div class="container-fluid " id="Team">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center team">
                        <p class="p_text">coming soon</p>
                        <h3>working...</h3>
                        <p class="text-light-p pt-3">working... working... working...</p>
                    </div>
                </div>
                <div class="row justify-content-center pt-4"> </div>
            </div>
        </div>

        <!-- end team here-->

        <div class="container-fluid footer-bg border-top-footer-0">
            <div class="container pt-3 pb-2">
                <div class="row">
                    <div class="col-md-12 text-center" id="bottom">
                        <p>Copyright &copy; 2023. All right reserved by Hartek Design and Software Solution Pvt. Ltd.</p>
                    </div>
                </div>
                <div class="row"><a data-scroll="" class="smoothScroll" href="#top" id="scroll-to-top" style="display: none;"><i class="fas fa-chevron-up"></i></a></div>
            </div>
        </div>
        <!-- end copyright here

            </section>
        <!--
            <div class="container-fluid loader-col">
                <div class="spinner-border text-primary"></div>
            </div>
             -->
        <!-- end loader here-->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="Scripts/main.js"></script>
</body>
</html>