﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Why Us</title>
    <link rel="canonical" href="http://www.hartekdss.com/" />
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <!-- meta tags -->
    <meta name="description" content="Project Management">
    <meta name="keywords" content="Software, Development, Project Management Professional, Consulting Services, Business Analysis, Project Management, Co-Development, Legacy Platform Maintenance">
    <meta name="author" content="Hartek Design and Software Solutions">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style-custom.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
    <!--<link rel="stylesheet" href="css/animation.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
</head>

<body>
    <section class="full-area">
        <header id="header" class="header-section">
            <div class="container-fluid">
                <div class="row ">
                    <div class="col-md-3 logo-pl-only"><a href="~/" id="#top"><img src="images/hartekdss-logo.png" alt="Hartek Design and Software Solutions" width="200" class="logo_wid" /></a></div>
                    <div class="col-md-9">
                        <nav class="navbar navbar-expand-lg navbar-light ">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item "><a class="nav-link smoothScroll" href="~/">Home <span class="sr-only">(current)</span></a> </li>
                                    <li class="nav-item dropdown">
                                        <div class="pb-0 res-pb-0">
                                            <a href="javascript:void(0);" class="nav-link abt-col smoothScroll dropdown-toggle" data-toggle="dropdown">About Us <span class="caret"></span></a>
                                            <div class="dropdown-menu">
                                                <a href="~/about-us" class="dropdown-item">About HartekDSS</a>
                                                <a href="~/our-team" class="dropdown-item">Our Team</a>
                                                <a href="~/partners" class="dropdown-item">Partners</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <div class="res-pb-0">
                                            <a href="javascript:void(0);" class="nav-link abt-col active smoothScroll dropdown-toggle" data-toggle="dropdown">Why Us <span class="caret"></span></a>
                                            <div class="dropdown-menu">
                                                <a href="~/why-us" class="dropdown-item active">Why HartekDSS</a>
                                                <a href="~/career" class="dropdown-item">Career</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="nav-item"><a class="nav-link smoothScroll" href="~/contact-us">Contact Us</a></li>
                                </ul>
                            </div>
                            <div class="social-connect">
                                <ul class="d-flex">
                                    <li><a href="https://www.linkedin.com/company/hartekdss/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!--end header here-->

        <div class="container-fluid header-bg pt_90 pl-0 pr-0" id="top">
            <div class="about_us_bg why-us-header">
                <h2> <span>Why Us</span> </h2>
                <ul class="bread-crumb clearfix">
                    <li class="breadcrumb-item"><a href="~/">Home</a></li>
                    <li class="breadcrumb-item">Why HartekDSS</li>
                </ul>
            </div>
        </div>
        <!--end header content here-->

        <div class="container-fluid " id="Team">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center team">
                        <p class="p_text">our strength</p>
                        <h3>Why Choose Us?</h3>
                        <p class="text-light-p pt-3 br-none">
                            Connect with us for a seamless augmentation of your team. We will analyze with you. <br />While you focus on your business growth, we assist you in maintaining and upgrading your legacy platforms.
                        </p>
                    </div>
                </div>
                <div class="row justify-content-center pt-4">
                    <div class="col-md-12 why-choose-us">
                        <div class="col-md-4">
                            <div class="row ">
                                <div class="col-md-12 pl-0 pt-5 mt-2 mb-5 text-right res-mb-0 res-text-left res-pt-0 res-pl-15">
                                    <h5>Application modernization services</h5>
                                    <p>our application modernization services help you achieve agility for an increasingly digital world</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 pl-0 mb-5 text-right res-mb-0 res-text-left res-pl-15">
                                    <h5>Business Operations</h5>
                                    <p>We help design and execute business operations for the digital world to generate customer value</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 pl-0 text-right res-text-left res-pl-15">
                                    <h5>Responsive UI</h5>
                                    <p>Our experts will enhance the user experience by providing the latest UI trends making the daily tasks smoother</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4"> <img src="images/why-choose-us.jpg" alt="" width="100%" height="100%" class="" /> </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12 pr-0 pt-5 mt-2 mb-5 text-left  res-mb-0 res-pt-0">
                                    <h5>Task Automation</h5>
                                    <p>We work with you to digitize your manual and time-consuming tasks</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 pr-0 mb-5 text-left  res-mb-0">
                                    <h5>Project Management</h5>
                                    <p>We bring in the historical experience of managing projects from Analysis to deployment</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 pr-0 text-left">
                                    <h5>Database management</h5>
                                    <p>Our skilled professionals will work with you on database management</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end why-choose-us here-->

        <div class="container-fluid increasing_business" id="Team">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 text-center team">
                        <p class="p_text">our Technology</p>
                        <h3 class="br-none">
                            We Are Increasing Business Success <br>
                            with Technology
                        </h3>
                        <p class="text-light-p pt-3 br-none">
                            Your organization can take full advantage of our services with our fast, innovative, and<br>
                            Solution-oriented work. With over 20 Years Of experience end to end project development and management.
                        </p>
                    </div>
                </div>
                <div class="row justify-content-center pt-4">
                    <div class="col-md-12 ">
                        <div class="col-md-6 mb-4">
                            <div class="cols">
                                <img src="images/software-development.png" alt="" width="40" class="">
                                <h4>Waterfall plus Agile</h4>
                                <p class="content-scroll">We follow a Hybrid project management model. We agree with the waterfall model and scope out a phase thoroughly. During the implementation phase, we believe Agile is the best and enables us to incorporate constructive feedback into the platform</p>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="cols">
                                <img src="images/cyber-security.png" alt="" width="40" class="">
                                <h4>Project Management Tools</h4>
                                <p class="content-scroll">We use modern tools available for project management and collaboration. It is easier to follow through the activities and measure progress</p>
                            </div>
                        </div>
                        <div class="col-md-6 res-mb-4">
                            <div class="cols">
                                <img src="images/artificial-intelligence.png" alt="" width="40" class="">
                                <h4>Co-Development</h4>
                                <p class="content-scroll">We work with you to develop your ideas as part of your team. In addition, our competitive team members would assist you with your Business Analysis and Planning tasks.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="cols">
                                <img src="images/web-development.png" alt="" width="40" class="">
                                <h4>Rigorous QA</h4>
                                <p class="content-scroll">Our Quality assurance is a well-defined rigorous process. The final product from the team is a thoroughly sanitized quality product</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end We Are Increasing Business Success here-->

        <div class="container-fluid bg_col_who-0" id="SkillsXXXX">
            <div class="">
                <div class="row">
                    <div class="col-md-6 pl-0 pr-0 animate__animated animate__slideInLeft text-center who-work-with-us"><img src="images/who-work-with-us.jpg" class="h-100" alt="" width="100%" /></div>
                    <div class="col-md-6 skill who_content_pd animate__animated animate__slideInRight bg_col_who" data-wow-delay="300ms">
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <!-- <p class="p_text who_txt">organizations</p> -->
                                <h3>Who, We Work With</h3>
                                <p class="text-light-p pt-2">As a competitive platform development organization, ideal business who we work with is</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-4 text-center">
                                <div class="cols">
                                    <img src="images/start-up-susiness.png" alt="" width="40" />
                                    <h4>Start Ups</h4>
                                </div>
                            </div>
                            <div class="col-md-6 mb-4 text-center">
                                <div class="cols second">
                                    <img src="images/small-and-medium-business.png" alt="" width="40" />
                                    <h4>Organization with manual workflows</h4>
                                </div>
                            </div>
                            <div class="col-md-6 text-center res-mb-4">
                                <div class="cols" style="padding: 15px 5px 10px 5px;">
                                    <img src="images/enterprise.png" alt="" width="40" />
                                    <h4>Organizations migrating to Modern platforms</h4>
                                </div>
                            </div>
                            <div class="col-md-6 text-center res-mb-4">
                                <div class="cols">
                                    <img src="images/agencies.png" alt="" width="40" />
                                    <h4>Agencies</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end Who, We Work With here-->

        <div class="container-fluid bg_col_testimonial" id="Team" style="display: none;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center team">
                        <p class="p_text">testimonial</p>
                        <h3>What Our Clients Say</h3>
                        <p class="text-light-p pt-3">
                            When the Clients feel us to be part of their organization they
                        </p>
                    </div>
                </div>
                <div class="row justify-content-center pt-0">
                    <div class="col-md-12 mt-4">
                        <div id="testimonial" class="carousel slide" data-ride="carousel">
                            <ul class="carousel-indicators testimonial-indicators">
                                <li data-target="#testimonial" data-slide-to="0" class="active"></li>
                                @*<li data-target="#testimonial" data-slide-to="1"></li>
                                    <li data-target="#testimonial" data-slide-to="2"></li>*@
                            </ul>
                            <div class="carousel-inner testimonial-inner">
                                <div class="carousel-item testimonial-item active">
                                    <div class="col-md-4 ">
                                        <div class="col-md-12">
                                            <div class="cols ">
                                                <span><i class="fas fa-quote-left"></i></span>
                                                <p>I feel very grateful to have the opportunity to join HartekDSS. I appreciate the work culture and project assigned to me. It is a New Project, which I started from scratch and got a chance to put my thoughts on this with some assistance from Ms. Paramjit. Working in HartekDSS gives me the flexibility to manage my professional and personal life. Needed brainstorming sessions and & help on any specific point is something I liked the most and appreciated.</p>
                                                <small>Pradeep Kumar <em>Sr. Software Engineer</em> </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 ">
                                        <div class="col-md-12">
                                            <div class="cols ">
                                                <span><i class="fas fa-quote-left"></i></span>
                                                <p>It is a great honor for me to work with HartekDSS. First, I want to thank HartekDSS for trusting and showing faith in me. Additionally, I love the work culture here</p>
                                                <small>Anil Kumar <em>Sr. UI\UX Developer</em> </small>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                @*<div class="carousel-item testimonial-item">

                                    </div>*@

                            </div>

                            <!--
                            <a class="carousel-control-prev" href="#testimonial" data-slide="prev">
                              <span class=""><i class="fas fa-chevron-left"></i></span>
                            </a>
                            <a class="carousel-control-next" href="#testimonial" data-slide="next">
                              <span class=""><i class="fas fa-chevron-right"></i></span>
                            </a>
                            -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--
            <div class="container-fluid border-bottom" id="Team">
              <div class="container">
                <div class="row">
                  <div class="col-md-12 text-center team">
                    <p class="p_text">Our Team</p>
                    <h3>Meet Our Experts</h3>
                    <p class="text-light-p pt-3">At Hartek, we pride ourselves on being up front and transparent regarding the effort and costs <br />
                      associated with projects that we deliver.</p>
                  </div>
                </div>
                <div class="row justify-content-center pt-4">
                  <div class="col-md-3 team-col">
                    <div class="techno-single-cases-study ">
                      <div class="case-study-thumb thumbnail-new"> <a href="javascript:void(0)"><img width="100%" src="images/team-2.jpg" alt="" > </a> </div>
                      <div class="em-cases-study-content ">
                        <div class="case_category">
                          <p>Paramjit Kaur brings in 20 years of technical experience in software design and development. Prior to founding Hartek, she managed enterprise level platform development for top Healthcare organizations in the United States, remotely from India. Her work on integration of Speech Recognition into the medical transcription workflow gave Heartland a robust platform for medical transcription documentation. The quality checks and automated workflow enhanced the productivity and quality of the delivered documents many folds.</p>
                          <p>The fast tracked prototype development of Nuance's first Virtual Assistant for the physician OPD enabled the organization to showcase the capabilities Nuance had in the field of Artificial Intelligence and Virtual Assistants. Highly skilled in remote management, she successfully brought together the development teams working across waters and steered it to success. She has a Masters in Computer Applications and is a Project Management Professional.</p>
                          <p>"Paramjit Kaur has over 20 years of experience leading all aspects of the software development process for US based firms.  Matthew Nachtrab worked with her throughout their careers. Paramjit is a great communicator and innovator and will be impactful on any project she works on."</p>
                        </div>
                      </div>
                    </div>
                    <div class="inner">
                      <div class="content mb-2">
                        <h4 class="title">Parmjit Kaur</h4>
                        <p class="designation">Founder - HartekDSS</p>
                        <p class="summary">Director - Hartek Design and Software Solutions</p>
                      </div>
                      <ul class="social-transparent">
                        <li><a href="https://www.linkedin.com/in/paramkaurpmp/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-3 team-col">
                    <div class="techno-single-cases-study ">
                      <div class="case-study-thumb thumbnail-new"> <a href="javascript:void(0)"><img width="100%" src="images/team-1.jpg" alt="" > </a> </div>
                      <div class="em-cases-study-content ">
                        <div class="case_category">
                          <p>Mathew Nachtrab is a very successful business owner and a great Entrepreneur with about 20 years of experience in the IT industry setup. He founded Nemsys LLC in 2000. Nemsys created LabTech Software for MSP domain. In 2010, LabTech and Connectwise entered into a joint venture and later merged with Connectwise in 2016. Mathew was instrumental in the growth of the businesses of these organizations. He has a Masters in Business Administration.</p>
                        </div>
                      </div>
                    </div>
                    <div class="inner">
                      <div class="content mb-2">
                        <h4 class="title">Mathew Nachtrab</h4>
                        <p class="designation">Founder - Nemsys LLC</p>
                        <p class="summary">Business Partner - Hartek Design and Software Solutions</p>
                      </div>
                      <ul class="social-transparent">
                        <li><a href="javascript:void(0)"><i class="fab fa-linkedin-in"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            -->
        <!-- end team here-->
        <!--
            <div class="container-fluid border-bottom" id="Blog">
              <div class="container">
                <div class="row">
                  <div class="col-md-6 collaborations position-relative"> <img src="images/collaborations.jpg" alt="" style="width:100%"> </div>
                  <div class="col-md-6 skill">
                    <p class="p_text">Collaborations</p>
                    <h3>HartekDSS Partners with <br />
                      Nemsys LLC</h3>
                    <p class="text-light-p pt-1">Nemsys LLC. and Hartek Design and Software Solutions have formed a partnership to offer Software Design and Development to businesses in North America.</p>
                    <p class="text-light-p">The partnership is an excellent choice for businesses interested in outsourcing part or all of their software development needs.</p>
                  </div>
                  <div class="col-md-12 pt-4"> </div>
                </div>
              </div>
            </div>-->
        <!-- end blogs here-->

        <div class="container-fluid footer-bg border-top-footer-0">
            <div class="container pt-3 pb-2">
                <div class="row">
                    <div class="col-md-12 text-center" id="bottom">
                        <p>Copyright &copy; 2023. All right reserved by Hartek Design and Software Solution Pvt. Ltd.</p>
                    </div>
                </div>
                <div class="row"><a data-scroll="" class="smoothScroll" href="#top" id="scroll-to-top" style="display: none;"><i class="fas fa-chevron-up"></i></a></div>
            </div>
        </div>
        <!-- end copyright here-->



    </section>
    <!--
        <div class="container-fluid loader-col">
            <div class="spinner-border text-primary"></div>
        </div>
         -->
    <!-- end loader here-->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="Scripts/main.js"></script>
</body>
</html>
