﻿@{
    Layout = null;
}

<!DOCTYPE html>
<head>
    <title>Page not found</title>
    <meta name="robots" content="noarchive">
    <meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate">
    <!-- <meta http-equiv="refresh" content="0; URL=new-page-url" -->
    <style>
        body {
            margin: 0px;
            padding: 0px;
        }
    </style>
</head>

    <html>

    <body>

        <div style="width: 100vw; height: 100vh; text-align: center; display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-around; align-items: center; ">
            <img src="img/page-not-found.png" alt="" width="400" class="" />
        </div>

    </body>
    </html>
