@charset "utf-8";
/* Custom Style Start here - Anil Gupta -Sep 2020 */
/* New Design 2.0 Updated - Anil Gupta -Dec 2023 */
/* Responsiveness Done - Anil Gupta -Feb 2024 */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800&display=swap');

html {
	--webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	scroll-behavior: smooth;
	user-select: none;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-thumb {
	cursor: pointer;
	background-color: #7552f3;
	border-radius: 8px;
}

::selection {
	background-color: #1d084c;
	color: #fff;
}

-webkit-::selection {
	background-color: #1d084c;
	color: #fff
}

::-moz-selection {
	background-color: #7552f3;
	color: #fff;
}

a {
	color: #7552f3;
	text-decoration: none;
	background-color: transparent;
}

a.btn-transparent {
	-webkit-transition: all .3s cubic-bezier(.645, .045, .355, 1);
	transition: all .3s cubic-bezier(.645, .045, .355, 1);
	position: relative;
}

a.btn-transparent:hover {
	color: #00eda5;
	text-decoration: none;
}

a.btn-transparent:after {
	position: absolute;
	content: "";
	left: 0;
	bottom: -5px;
	width: 0px;
	height: 1.5px;
	background: #00eda5;
	opacity: .75;
	transition: all .3s cubic-bezier(.645, .045, .355, 1);
}

a.btn-transparent:hover:after {
	width: 100%;
	text-decoration: none;
}

.on-scroll-animation {
	opacity: 0;
	transform: translateY(2em) rotateZ(0deg);
	transition: transform 8s .25s cubic-bezier(0,1,.3,1), opacity .3s .25s ease-out;
	will-change: transform, opacity;
}

.on-scroll-animation.is-visible {
	opacity: 1;
	transform: rotateZ(0deg);
}

/*input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.40) !important;
}

input:-moz-placeholder, textarea:-moz-placeholder {
	color: rgba(255, 255, 255, 0.40) !important;
}

input::-moz-placeholder, textarea::-moz-placeholder {
	color: rgba(255, 255, 255, 0.40) !important;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
	color: rgba(255, 255, 255, 0.40) !important;
}*/

.form-group > label {
	color: #1D084C;
	font-size: 13px;
	font-weight: 500;
}

select:required:invalid {
	color: #ddd;
}

option[value=""][disabled] {
	display: none;
}

option {
	color: #495057;
}

.form-control.is-invalid, .was-validated .form-control:invalid {
	background-image: none !important;
}

.width-100 {
	width: 100%;
}

.height-100 {
	height: 100%
}

.purple-text-color {
	color: #7552F3;
}

.white-text-color {
	color: #fff !important;
}

.image-color-white-filter {
	filter: brightness(0) invert(1);
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
	float: left;
}

.header-section {
	background-color: transparent;
	width: 100%;
	height: 80px;
	z-index: 99;
	position: fixed;
	left: 0;
	top: 0;
	padding: 0;
}

.navbar-fixed-top.header-section, .header-section {
	transition: all 0.3s ease-in-out;
}

.navbar-fixed-top {
	background-color: #fff;
	-moz-box-shadow: 0 2px 5px rgba(16, 16, 16, .08);
	-webkit-box-shadow: 0 2px 5px rgba(16, 16, 16, .08);
	box-shadow: 0 2px 5px rgba(16, 16, 16, .08);
	height: 90px;
	border-bottom: 0;
	padding: 0;
	position: fixed;
	width: 100%;
	z-index: 9999;
	transition: all 0.3s ease-in-out;
	left: 0;
	top: 0;
}

.pt_90 {
	padding-top: 90px;
}

.brand-navigation-row {
	border-radius: 16px;
	padding: 9px 8px 12px 14px;
	background-color: rgba(255, 255, 255, 0.88);
	backdrop-filter: blur(8px);
	/*background-color: #fff;*/
	margin-top: 12px;
	box-shadow: 0px 0px 4px 0px rgba(204, 204, 204, 0.72);
	transition: all .4s ease-in-out;
	height: 56px;
}

.add-shadow {
	box-shadow: 0px 0px 4px 0px rgba(204, 204, 204, 0.72);
	background-color: #fff;
}

.remove-shadow {
	box-shadow: none;
	margin-top: 0px;
	border-radius: 0px;
	padding-left: 0;
	padding-right: 0;
}

#video-wrapper {
	position: relative;
	overflow: hidden;
}

#full-screen-div {
	min-height: 100%;
	height: 100vh;
	width: 100vw;
	padding: 0;
	margin: 0;
	background-color: transparent;
	position: relative;
	/*border-bottom-left-radius: 64px;
	border-bottom-right-radius: 64px;*/
	overflow: hidden;
}

#video {
	width: 100vw;
	height: auto;
	margin: auto;
	display: block;
}

.videoMessage {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.videoMessage h1 {
	color: #fff;
	font-size: 64px;
	text-align: center;
	margin: 0;
	font-weight: 500;
}

/*@media (min-aspect-ratio: 16/9) {
	#video {
		width: 100vw;
		height: auto;
	}
}

@media (max-aspect-ratio: 16/9) {
	#video {
		height: 100vh;
		width: auto;
		margin-left: 50vw;
		transform: translate(-50%);
	}
}*/

.logo-pl-only {
	padding-left: 15px;
	/*padding-top: 15px;*/
}

.header-section .container .logo_wid {
	padding-top: 1px;
	transition: all 0.3s ease-in-out;
}

.navbar {
	padding: 0;
	margin-top: 28px;
}

.nav-link {
	font-size: 13px;
	font-weight: 500;
	padding-right: 12px !important;
	padding-left: 12px !important;
	margin-top: 0px;
	margin-left: 8px;
	margin-right: 8px;
	border-radius: 8px;
}

.nav-link img {
	width: 16px;
	height: 16px;
	object-fit: contain;
	object-position: center;
	margin-right: 4px;
	position: relative;
	top: -2px;
}

.navbar-light .navbar-nav .active > .nav-link, 
.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .show > .nav-link {
	color: #7552F3;
	background-color: rgba(117, 82, 243, 0.08);
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #7552F3;
	background-color: rgba(117, 82, 243, 0.08);
}

.navbar-light .navbar-nav .nav-link {
	-webkit-transition: all .3s cubic-bezier(.645, .045, .355, 1);
	transition: all .3s cubic-bezier(.645, .045, .355, 1);
	position: relative;
	color: #607D8B;
}

.navbar-light .navbar-nav .nav-link:focus img,
.navbar-light .navbar-nav .active > .nav-link img,
.navbar-light .navbar-nav .nav-link:hover img {
	filter: brightness(0) saturate(100%) invert(28%) sepia(84%) saturate(1891%) hue-rotate(239deg) brightness(99%) contrast(93%);
}

.index-header h1 {
	color: #1D084C;
	text-align: left;
	font-size: 56px;
	font-style: normal;
	font-weight: 600;
	line-height: 120%;
}

.index-header h1 span {
	color: #7552F3;
}

.index-header.secondary-title h1 {
	font-size: 46px;
}

.index-header p {
	color: #4c516e;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
	margin-bottom: 0;
	margin-top: 12px;
}

.index-header p span {
	color: #7552F3;
	font-weight: 800;
}

.text-align-justify {
	text-align: justify;
}

.hero-banner-graphics {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
}

.pt-0 {
	padding-top: 0px;
}

.pb-0 {
	padding-bottom: 0px;
}

.pt-100 {
	padding-top: 100px;
}

.pt-80 {
	padding-top: 80px;
}

.pt-70 {
	padding-top: 70px;
}

.pt-60 {
	padding-top: 60px;
}

.pt-30 {
	padding-top: 30px;
}

.pt-150 {
	padding-top: 150px;
}

.pb-80 {
	padding-bottom: 80px;
}

.pb-100 {
	padding-bottom: 100px;
}

.mr-10px {
	margin-right: 10px;
}

.mr-14px {
	margin-right: 14px;
}

.mr-15px {
	margin-right: 15px;
}

.mr-16px {
	margin-right: 16px;
}

.text-linear-gradient {
	background: linear-gradient(90deg, #7552F3 0%, #4413B2 50%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

a.felizeek-url {
	color: #766f91;
}

a.felizeek-url:hover {
	color: #fff;
	text-decoration: underline;
}

a.felizeek-url-contact {
	color: #607D8B;
}

a.felizeek-url-contact:hover {
	color: #7552f3;
	text-decoration: underline;
}

.hero-banner-bg.white-bg {
	background-color: #fff;
}

.hero-banner-bg.about-us-page {
	background: #1D084C;
}

.hero-banner-bg.about-us-page h2 {
	padding-top: 0;
}

.hero-banner-bg h2 {
	color: #FFF;
	text-align: center;
	font-size: 46px;
	font-style: normal;
	font-weight: 600;
	line-height: 40px;
	padding: 0px 0 40px 0;
	margin-bottom: 0;
}

.white-bg.hero-banner-bg h2 {
	color: #1D084C;
}

.what-we-do-cols {
	display: flex;
	padding: 20px;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	border-radius: 16px;
	/*background: #7552F3;*/
	background: radial-gradient(circle at 70% 90%, rgba(64, 19, 167, 1) 0%, rgb(41 11 107) 50%);
	backdrop-filter: blur(20px);
	border: 1px solid #DBD7E2;
}

.what-we-do-cols.our-technology {
	min-height: 248px;
	background: #fff;
}

.what-we-do-cols.our-technology h3 {
	margin-bottom: 10px;
}

.what-we-do-cols.about-us-page {
	display: flex;
	padding: 32px;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
	align-self: stretch;
	border-radius: 40px;
	background: #fff;
	backdrop-filter: blur(16px);
	min-height: 290px;
}

.what-we-do-cols h3 {
	color: #1D084C;
	font-size: 26px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: 0.15px;
	text-transform: capitalize;
	margin-bottom: 0;
	width: 100%;
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.what-we-do-cols-list h4 {
	color: #1D084C;
	font-size: 22px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: 0.15px;
	text-transform: capitalize;
}

.what-we-do-cols-list.about-us-page h4 {
	color: #7552F3;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.what-we-do-cols-list.about-us-page p {
	color: #4c516e;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 171.429% */
	margin-bottom: 0;
}

.what-we-do-cols-list h4 span {
	color: #7552F3;
	margin-right: 10px;
}

.what-we-do-cols-list p {
	color: #4c516e;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; 
	letter-spacing: 0.5px;
}

.what-we-do-cols.our-servives-card {
	height: 165px;
	background-color: transparent;
	background: transparent;
	border-color: transparent;
	backdrop-filter: none;
	padding: 0px 20px 20px 20px;
}

.what-we-do-cols.our-servives-card h3 {
	color: #fff;
	justify-content: flex-start;
}

.what-we-do-cols.our-servives-card p {
	color: #AEA6BE;
}

.what-we-do-testimonials {
	display: flex;
	padding: 32px;
	flex-direction: column;
	align-items: flex-start;
	gap: 24px;
	border-radius: 40px;
	background: rgba(117, 82, 243, 0.12);
}

.what-we-do-testimonials p {
	color: #B0BEC5;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; 
	letter-spacing: 0.5px;
}

.what-we-do-testimonials h6 {
	color: #FFF;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: 24px; 
	letter-spacing: 0.5px;
}

.what-we-do-testimonials h6 span {
	color: #B0BEC5;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; 
	letter-spacing: 0.5px;
	display: block;
}

.felizeek-logo-text-replacement {
	position: relative;
	top: -4.5px;
	left: 3px;
}

.testimonials-content-only {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 24px;
	height: 230px;
	overflow-y: auto;
}

.border-radius-100 {
	border-radius: 100px;
}

.user-img-testim {
	float: left;
	margin-right: 15px;
}

.border-radius-30 {
	border-radius: 30px;
}

.border-radius-32px {
	border-radius: 32px;
}

.quotes-section {
	background-color: #7552F3;
	color: #fff;
	font-style: italic;
	position: absolute;
	bottom: 0px;
	left: 0px;
	border-top-right-radius: 32px;
	border-bottom-left-radius: 32px;
	padding: 16px 25px 16px 25px;
	line-height: 20px;
	font-size: 15px;
}

.quotes-section span {
	font-weight: 600;
}

.felizeek-why-us {
	display: flex;
	align-items: center !important;
}

.felizeek-why-us h4 {
	color: #1D084C;
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
	line-height: 120%; 
}

.felizeek-why-us p {
	color: #4c516e;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; 
	/*text-align: justify;*/
}

.felizeek-why-us h3 {
	color: #1D084C;
	font-size: 46px;
	font-style: normal;
	font-weight: 600;
	line-height: 40px;
	margin-bottom: 40px;
}

.list-item-why-us {
	display: flex;
	flex-direction: row;
}

.list-item-why-us .width-left-list {
	width: 43%;
}

.list-item-why-us ul.width-left-list li, .list-item-why-us ul.width-right-list li {
	width: 100% !important;
}

.list-item-why-us .width-right-list {
	width: 57%;
}

.our-servives-dark-bg {
	background: radial-gradient(circle at 58% 72%, rgba(64, 19, 167, 1) 0%, rgba(29, 8, 76, 1) 50%);
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 32px;
	border-radius: 40px;
	padding: 64px 64px 40px 64px;
}

.our-servives-dark-bg h2 {
	color: #FFF;
	text-align: center;
	font-size: 46px;
	font-style: normal;
	font-weight: 600;
	line-height: 40px;
	padding: 0px 0 30px 0;
	margin-bottom: 0;
}

.felizeek-vision-mission {
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
	justify-content: space-around;
}

.felizeek-vision-mission h4 {
	color: #1D084C;
	font-size: 46px;
	font-style: normal;
	font-weight: 600;
	line-height: 120%;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.felizeek-vision-mission h5 {
	color: #1D084C;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: 22px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	text-align: left;
}

.felizeek-vision-mission p {
	color: #4c516e;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px;
	text-align: left;
}

.felizeek-vision-mission p:last-child {
	margin-bottom: 0px;
}

.vision-card {
	flex: 1;
	gap: 8px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.vision-right-card {
	background-color: #F7F5FE;
	padding: 16px 20px;
	border-radius: 16px;
	text-align: left;
}

	.vision-right-card p {
		color: #1D084C;
		font-style: italic;
		font-weight: 600;
	}

.vision-right-card strong {
	color: #7552F3;
	font-weight: 600;
}

.vision-mission-divider {
	border-left: 6px solid #7552F3;
	padding-left: 30px;
}

.years-of-experience {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 40px;
}

.client-voices {
	background-color: #F7F5FE;
	border-radius: 40px;
	padding: 54px 64px 54px 64px;
}

.client-voices h4 {
	color: #1D084C;
	font-size: 46px;
	font-style: normal;
	font-weight: 600;
	line-height: 120%;
	margin-bottom: 0px;
	padding-bottom: 32px;
}

.client-voices-item {
	border: 1px solid #c8bafa;
	padding: 32px 32px 40px 40px;
	border-radius: 32px;
	background-color: #fff;
}

.client-voices-item-section {
	margin-bottom: 16px;
	max-height: 300px;
	overflow-y: auto;
	padding-right: 16px;
}

.client-voices-item-section::-webkit-scrollbar {
	width: 5px;
	height: 5px;
	transition: 0.3s;
}

.client-voices-item-section::-webkit-scrollbar-thumb {
	cursor: pointer;
	background: #dfe6e9;
	border-radius: 8px;
	transition: 0.3s;
}

.client-voices-item-section::-webkit-scrollbar-thumb:hover {
	background: #c5d1d8;
}

.client-voices-item-section p {
	color: #1D084C;
	font-size: 22px;
	font-style: normal;
	font-weight: 500;
	line-height: 32px;
	/*text-align: justify;*/
}

.client-voices-footer {
	color: #607D8B;
	font-size: 18px;
}

.client-voices-footer span {
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	margin-left: 16px;
}

.client-voices-reveal {
	position: relative;
	opacity: 0.4;
	transition: 1s all ease;
}

.client-voices-reveal.active {
	opacity: 1;
}

.vision-body-container {
	/*text-align: justify;*/
	color: #1D084C;
	font-style: normal;
	font-weight: 500;
	font-size: 19px;
	line-height: 28px;
	/*font-size: 22px;
	line-height: 32px;*/
}

.vision-body-conatiner span {
	color: #1D084C;
	font-style: normal;
	font-weight: 500;
	font-size: 19px;
	line-height: 28px;
}

.padding-top-margin-bottom-20 {
	padding-top: 20px;
	margin-bottom: -20px;
}

.wave {
	width: 100%;
	/*text-align: center;*/
	/*padding-top: 20px;
	margin-bottom: -20px;*/
}

.wave span {
	display: inline-block;
	transition: 3s all ease;
	transform: translateY(-20px);
}

.meet-founder-section {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 64px;
	background: radial-gradient(circle at 58% 72%, rgba(64, 19, 167, 1) 0%, rgba(29, 8, 76, 1) 50%);
	border-radius: 40px;
	padding: 64px 64px 64px 64px;
}

.meet-founder-section.bg-with-radius {
	background: #1D084C;
	border-radius: 40px;
	padding: 64px 64px 64px 64px;
	gap: 64px;
}

.meet-founder {
	color: #FFF;
	font-size: 60px;
	font-style: normal;
	font-weight: 600;
	line-height: 120%; 
}

.meet-founder-col2 h4 {
	color: #FFF;
	font-size: 42px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.meet-founder-col2 h6 {
	color: #FFF;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.meet-founder-col2 p {
	color: rgba(231, 240, 253, 0.8);
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px;
	/*text-align: justify;*/
}

.bg-light-purple {
	background-color: #F4F1FE !important;
}

.blue-color {
	color: #1D084C !important;
}

.purple-color {
	color: #7552F3 !important;
}

.paragraph-color {
	color: #4c516e !important;
}

.hr-linkedin---outline {
	border-color: #554B78 !important;
}

.hr-linkedin---outline:hover .hr-linkedin-icon {
	filter: brightness(0) invert(1);
}

.hr-linkedin-icon {
	filter: brightness(0) saturate(100%) invert(11%) sepia(91%) saturate(6407%) hue-rotate(267deg) brightness(93%) contrast(115%);
}

.icon-fit-36 {
	width: 36px;
	object-fit: contain;
	object-position: center;
	height: 36px;
}

.icon-fit-32 {
	width: 32px;
	object-fit: contain;
	object-position: center;
	height: 32px;
}

.icon-fit-20 {
	width: 20px;
	object-fit: contain;
	object-position: center;
	height: 20px;
}

.icon-fit-24 {
	width: 24px;
	object-fit: contain;
	object-position: center;
	height: 24px;
}

.icon-fit-16 {
	width: 16px;
	object-fit: contain;
	object-position: center;
	height: 16px;
}

.fit-founder-pic-section {
	width: 300px;
	object-fit: contain;
	object-position: center;
	height: 300px;
}

t-slider-div {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	overflow: hidden;
}

.tslider-arrows {
	display: flex;
	gap: 18px;
	position: absolute;
	right: 0px;
	top: -8px;
}

.felizeek-footer {
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	background: radial-gradient(circle at 58% 72%, rgba(64, 19, 167, 1) 0%, rgba(29, 8, 76, 1) 50%);
}

.felizeek-footer.contact-us-pag {
	background: #fff;
}

.felizeek-footer-corner {
	/*background: radial-gradient(circle at 58% 72%, rgba(64, 19, 167, 1) 0%, rgba(29, 8, 76, 1) 50%);*/
	background-color: rgba(247, 245, 254, 1);
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 32px;
	border-radius: 40px;
	padding: 40px;
}

.felizeek-footer-corner h4 {
	color: #FFF;
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
	margin-bottom: 0px;
	line-height: 30px;
	padding-bottom: 30px;
}

.felizeek-copyright {
	background-color: #130434;
	color: #FFF;
	text-align: center;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; 
	letter-spacing: 0.5px;
}

.felizeek-copyright.contact-us-page {
	background-color: #fff;
	color: #607D8B;
}

.felizeek-copyright.contact-us-page p {
	color: #607D8B;
	font-weight: 400;
}

.felizeek-copyright.contact-us-page p.opacity-100 {
	opacity: inherit;
}

.felizeek-copyright p {
	margin: 0;
	font-size: 14px;
	font-weight: 500;
	color: #4c516e;
}

.felizeek-footer h4 {
	color: #FFF;
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
	margin-bottom: 0px;
	line-height: 30px;
	padding-bottom: 30px;
}

.felizeek-footer p {
	color: #FFF;
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: 34px; 
	text-align: justify;
}

a.email-text.white-text {
	color: #e5e5e5 !important;
	text-decoration: none;
}

.footer-address {
	color: #CFD8DC !important;
}

.map-arrow {
	position: relative;
	bottom: -22px;
	height: 24px;
	margin-left: 10px;
	color: #7552F3;
	border-bottom: 1.5px solid #7552F3;
	font-size: 14px;
}

.map-arrow a:hover {
	color: #7552F3;
	text-decoration: none;
}

.footer-text-color {
	color: #AEA6BF !important;
}

.footer-contact a {
	color: #CFD8DC !important;
	margin-bottom: 0px !important;
}

.footer-contact a:hover {
	color: #fff !important;
	text-decoration: none;
}

.felizeek-footer .email-text {
	color: #CFD8DC;
	text-decoration: underline;
}

.felizeek-footer .email-text:hover {
	color: #fff;
	text-decoration: none;
}

.felizeek-footer .form-control {
	border-radius: 8px;
	background-color: #fff;
	display: flex;
	align-items: flex-start;
	gap: 10px;
	color: #1D084C;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	border: 1px solid rgba(96, 125, 139, 0.32);
	padding: 20px 15px;
}

.location-icon {
	top: 2px;
	position: relative;
	left: -2px;
	width: 24px;
	object-fit: contain;
	object-position: center;
	height: 24px;
	margin-right: 6px;
}

.gap-inherit {
	gap: inherit !important;
}

textarea.form-control {
	resize: none !important;
	padding-top: 10px !important;
	height: calc(100vh - 510px);
}

.invalid-feedback {
	display: none;
	width: 100%;
	margin-top: .25rem;
	font-size: .775em;
	color: #dc3545;
}

.invalid-feedback {
	position: absolute !important;
	bottom: -18px !important;
}

.form-control.is-invalid {
	border-color: #dc3545;
}

.google-map-section {
	margin-top: 25px;
}

.google-map-section iframe {
	width: 80%;
	height: 200px;
	border-radius: 24px;
	display: block;
}

.google-map-contact {
	margin-top: 35px;
}

.google-map-contact iframe {
	width: 100%;
	height: 320px;
	border-radius: 24px;
	display: block;
}

.btn-submit {
	border-radius: 32px;
	background-color: #7552F3;
	padding: 15px 30px;
	border: none;
}

.btn-submit:hover {
	background-color: #4622c8;
	border-color: #4622c8;
}

.btn-submit:not(:disabled):not(.disabled):active:focus {
	background-color: #7552f3;
	border-color: #7552f3;
}

.btn-submit.focus, .btn-submit:focus {
	background-color: #7552f3;
	border-color: #7552f3;
}

.justify-content-center {
	justify-content: center;
}

.our-value-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
}

.our-value-section h4 {
	color: #1D084C;
	font-size: 46px;
	font-style: normal;
	font-weight: 600;
	line-height: 40px;
	margin-bottom: 0;
	padding-bottom: 30px;
}

.our-value-section .columns {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
	align-self: stretch;
	min-height: 356px;
	border: 1px solid rgba(29, 8, 76, 0.16);
	border-radius: 32px;
	padding: 32px;
	
}

.our-value-section .columns.less-data-only {
	min-height: 310px;
	
}

.our-value-section .columns.less-data-only-2 {
	min-height: 285px;
	
}


.our-value-section .columns h5 {
	color: #1D084C;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	margin-bottom: 0;
}

.our-value-section .columns p {
	color: #4c516e;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; 
	/*padding-right: 20px;*/
	margin-bottom: 0px;
}

.felizeek-why-us.about-us-page {
	background: #1D084C;
}

.felizeek-why-us.about-us-page h3, .felizeek-why-us.about-us-page h4 {
	color: #FFF;
}

.felizeek-why-us.about-us-page p {
	color: #c9d4da;
}

.indicate-bottom {
	display: flex;
	width: 64px;
	height: 64px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
	background: rgba(117, 82, 243, 0.12);
	margin: 0 auto;
	position: relative;
	top: 20px;
}

.get-in-touch-section {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: nowrap;
}

.get-in-touch {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
	align-self: stretch;
	background-color: #F7F5FE;
	border-radius: 24px;
	padding: 15px 0;
	min-height: 165px;
}

.get-in-touch h3 {
	color: #1D084C;
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	text-transform: capitalize;
	margin-bottom: 0;
}

.get-in-touch p {
	color: #4c516e;
	text-align: center;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; 
	margin-bottom: 0;
}

.get-in-call a {
	color: #4c516e;
}

.get-in-call a:hover {
	color: #7552f3;
	text-decoration: none;
}

.p_text {
	color: #7552f3;
	margin-bottom: 0;
	font-weight: 500;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 4px;
}

.text-light-p {
	color: #8492a6;
}

.about h2:after, .skill h3:after, .contact_us h3:after {
	position: absolute;
	content: "";
	left: 0;
	bottom: 5px;
	width: 60px;
	height: 2px;
	background: #7552f3;
	opacity: .75;
}

.services h2:after, .team h3:after, .news h3:after {
	position: absolute;
	content: "";
	left: 50%;
	bottom: 5px;
	width: 60px;
	height: 2px;
	background: #7552f3;
	opacity: .75;
	margin-left: -30px;
}

.header-bg h1 {
	color: #232d48;
	font-weight: 700;
	font-size: 50px;
}

.header-bg p {
	color: #8492a6;
}


.btn-primary:focus {
	box-shadow: 0 0 0 0.2rem rgb(131 38 255 / 50%);
}

.text-opacity {
	opacity: 0.7;
}

.social-connect ul {
	margin: 0px 0 0 0px;
	list-style: none;
	border-left: 1px solid #e0e0e0;
	padding: 0 0 0 10px;
}

.social-connect ul li a {
	background: transparent;
	border: 1px solid #e0e0e0;
	border-radius: 50px;
	width: 30px;
	height: 30px;
	display: inline-block;
	text-align: center;
	line-height: 30px;
	color: #696969;
	font-size: 13px;
	margin: 0 8px;
	transition: all .3s cubic-bezier(.645, .045, .355, 1);
}

.social-connect ul li a:hover {
	background: #7552f3;
	border-color: #7552f3;
	color: #fff;
	box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .1);
	-webkit-transform: translateY(-3px);
	transform: translateY(-3px);
}

.flip-card {
	background-color: transparent;
	height: 230px;
	perspective: 1000px;
}

.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 1s;
	transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
	height: 100%;
}

.flip-card-front, .flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.flip-card-front {
	/*background-color: #bbb;
  color: black; */
}

.flip-card-back {
	background-image: -webkit-gradient(linear, left top, right top, from(#00eda5), to(#7552f3));
	background-image: -webkit-linear-gradient(left, #00eda5, #7552f3);
	background-image: linear-gradient(90deg, #00eda5, #7552f3);
	color: #fff;
	transform: rotateY(180deg);
	padding: 20px 10px 20px 10px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all .3s cubic-bezier(.645, .045, .355, 1);
	box-shadow: 0 10px 25px 10px rgba(0, 0, 0, .1);
}

.flip-card-back p {
	color: #fff !important;
}

.service_col {
	transition: all .3s cubic-bezier(.645, .045, .355, 1);
	z-index: 2;
	position: relative;
}

.service_col h3 {
	font-size: 20px;
	padding-top: 20px;
	padding-bottom: 5px;
	color: #232d48;
}

.service_col p {
	color: #8492a6;
	margin-bottom: 0;
}

.service_col:hover p, .service_col:hover h3 {
	transition: all .3s cubic-bezier(.645, .045, .355, 1);
	color: #fff;
}

.service_col i {
	font-size: 30px;
}

.bg_col {
	background: #f3f7fd;
}

.skill ul {
	list-style: none;
	margin: 0;
	padding: 0;
	color: rgba(29, 29, 36, .75);
	font-weight: 500;
}

.skill ul li {
	padding-top: 10px;
	color: #4c516e;
	float: left;
	width: 50%;
	padding-left: 22px;
	position: relative;
	font-size: 14px;
	font-weight: 400;
}

.skill-about-us ul li {
	color: #B0BEC5;
}

i.fas.fa-check {
	color: #7552f3;
	font-size: 14px;
	position: absolute;
	left: 0;
	top: 14px;
}

.thumbnail {
	display: block;
	padding: 4px;
	margin-bottom: 20px;
	line-height: 1.42857143;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-transition: border .2s ease-in-out;
	-o-transition: border .2s ease-in-out;
	transition: border .2s ease-in-out;
}

.thumbnail .caption {
	padding: 10px;
	color: #333;
}

.mission-icon {
	position: absolute;
	right: 0;
	top: -25px;
}

.txt_white {
	color: #fff !important;
}

.pt_100 {
	padding-top: 100px;
}

.team-col {
	flex: 0 0 300px;
	max-width: 300px;
}

.team-col .thumbnail-new:after {
	background: #333;
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 999;
	top: 0;
	left: 0;
	transition: all .3s ease-out;
	transform: scale(0);
	opacity: .85;
	background: -webkit-linear-gradient(top, transparent 30%, #191919 60%);
	background: -moz-linear-gradient(top, transparent 30%, #191919 60%);
	background: linear-gradient(to bottom, transparent 30%, #191919 60%);
}

.team-col .team_social {
	position: absolute;
	bottom: 50%;
	left: 50%;
	transition: all .3s ease-in-out;
	opacity: 0;
	z-index: 999999;
	margin-bottom: -68px;
	margin-left: -53px;
}

.team-col:hover .team_social {
	transition: all .3s ease-out;
	opacity: 1;
}

.team_section .team_social ul {
	list-style: none;
	padding: 0;
	transition: all .5s ease-in-out;
	text-align: center;
}

.team-col .thumbnail-new img {
	border-radius: 20px;
	box-shadow: 0 25px 65px rgba(0, 0, 0, .1);
	cursor: auto;
}

.team-col .inner {
	padding-top: 10px;
	text-align: left;
	margin-bottom: 40px;
}

.team-col .inner .content .title {
	margin-bottom: 5px;
	font-size: 18px;
	font-weight: 600;
	margin-top: 5px;
	letter-spacing: 0.03rem;
}

.team-col .inner .content p.designation {
	margin-bottom: 5px;
	font-size: 16px;
	font-weight: 400;
	color: #232d48;
}

.team-col .inner .content p.summary {
	margin-top: 5px;
	font-size: 16px;
	font-weight: 300;
	color: #8492a6;
	line-height: 20px;
}

ul.social-transparent {
	list-style: none;
	padding: 0;
}

ul.social-transparent li {
	display: contents;
}

ul.social-transparent li i {
	font-size: 12px;
	color: #232d48;
	background: transparent;
	border: 1px solid transparent;
	border-radius: 50px;
	width: 30px;
	height: 30px;
	display: inline-block;
	text-align: center;
	line-height: 30px;
	transition: all .3s cubic-bezier(.645, .045, .355, 1);
}

ul.social-transparent li i:hover {
	color: #fff;
	background: #00eda5;
	border: 1px solid #00eda5;
	border-radius: 50px;
	width: 30px;
	height: 30px;
	display: inline-block;
	text-align: center;
	line-height: 30px;
	transition: all .3s cubic-bezier(.645, .045, .355, 1);
	box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .1);
	-webkit-transform: translateY(-3px);
	transform: translateY(-3px);
}

.techno-single-cases-study {
	position: relative;
	z-index: 999;
}

.case-study-thumb {
	position: relative;
	z-index: 1;
}

.case-study-thumb:before {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 105, 217, .85);
	content: "";
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
	opacity: 0;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	border-radius: 5px;
}

.em-cases-study-content {
	position: absolute;
	left: 0;
	top: 60%;
	right: 0;
	text-align: center;
	width: 100%;
	margin: auto;
	border-radius: 5px;
	padding: 0px 10px;
	opacity: 0;
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 999;
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 13.5rem;
	min-height: 0rem;
}

.case_category p {
	color: #fff;
	font-size: 18px;
	line-height: 30px;
	font-weight: 300;
}

.techno-single-cases-study:hover .case-study-thumb:before {
	opacity: 1;
}

.techno-single-cases-study:hover .em-cases-study-content {
	opacity: 1;
	top: 50%;
}

.position-relative {
	position: relative !important;
}

.collaborations:after {
	bottom: -5.5rem;
	width: 32rem;
	height: 32rem;
	border-radius: 15rem;
	-webkit-transform: rotate(145deg);
	transform: rotate(145deg);
	background: rgba(255, 119, 0, 0.1);
	-webkit-box-shadow: 0 0 40px rgba(255, 119, 0, 0.1);
	box-shadow: 0 0 40px rgba(255, 119, 0, 0.1);
	left: -5rem;
	content: "";
	position: absolute;
	z-index: -1;
}

.footer-bg {
	background-image: -webkit-gradient(linear, left top, right top, from(#00b8e2), to(#7552f3));
	background-image: -webkit-linear-gradient(left, #00b8e2, #7552f3);
	background-image: linear-gradient(90deg, #00b8e2, #7552f3);
	color: #fff;
}

.footer-bg h6 {
	font-size: 18px;
	margin-bottom: 15px;
}

.footer-bg p {
	font-size: 14px;
	color: #fff;
}

.footer-bg ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline-block;
	float: left;
}

.footer-bg ul li {
	padding-bottom: 10px;
	font-size: 14px;
}

.footer-bg ul li a {
	color: #9fa0ab;
	-webkit-transition: all .3s cubic-bezier(.645, .045, .355, 1);
	transition: all .3s cubic-bezier(.645, .045, .355, 1);
	position: relative;
}

.footer-bg ul li a:hover {
	color: #00eda5;
	text-decoration: none;
	opacity: 0.9;
}

.footer-bg ul li a:after {
	position: absolute;
	content: "";
	left: 0;
	bottom: -5px;
	width: 0px;
	height: 1.5px;
	background: #00eda5;
	opacity: .75;
	transition: all .3s cubic-bezier(.645, .045, .355, 1);
}

.footer-bg ul li a:hover:after {
	width: 100%;
}

.btn-success {
	background-color: #00eda5;
	border-color: #00eda5;
}

.btn-success:hover {
	color: #fff;
	background-color: #0069d9;
	border-color: #0069d9;
}

.btn-success.focus, .btn-success:focus, .btn-success:not(:disabled):not(.disabled):active {
	color: #fff;
	background-color: #0069d9;
	border-color: #0069d9;
	box-shadow: 0 0 0 0.2rem rgba(0, 105, 217, .5);
}

.h_50 {
	height: 50px;
}

.border-top-footer {
	border-top: 1px solid #565867;
}

.img_shad {
	box-shadow: 0 25px 65px rgba(0, 0, 0, .1);
}

.pd-bottom {
	padding-bottom: 40px !important;
}

a.email-text {
	color: #4c516e;
	transition: all .3s cubic-bezier(.645, .045, .355, 1);
}

a.email-text:hover {
	color: #7552f3;
}

.map {
	background-image: url(../images/satellite-map.png);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: contain;
	position: relative;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.loader-col {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: rgba(255, 255, 255, 0.7);
	z-index: 9999;
}

.loader-col .spinner-border {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -15px;
	margin-top: -15px;
}

.loader-col .text-primary {
	color: #00eda5 !important;
}

.thanks-hartek {
	font-weight: 400;
	color: #fff;
	border-radius: 5px;
	margin-bottom: 0;
	padding: 10px 10px 10px 10px;
	background-color: #7552F3;
	font-size: 14px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.font-size-13px {
	font-size: 13px !important;
}

.font-size-16px {
	font-size: 16px !important;
}

.font-size-16px {
	font-size: 16px !important;
}

.font-size-18px {
	font-size: 18px !important;
}

.line-height-24px {
	line-height: 24px !important;
}

.color-opecity {
	color: #AEA6BE;
}

/* Custom Style End here - Anil Gupta -Sep 2020  Plz add your style below */

.color-black {
	color: #232d48 !important;
}

.z-index-top {
	z-index: 9 !important;
	position: relative;
}

.dropdown:hover .dropdown-menu {
	display: block;
	width: 210px;
	left: -52px;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, .175);
	border: none;
	top: 50px;
}

.dropdown-item {
	padding: .55rem 1.5rem;
	border-bottom: 1px solid #eae9e9;
	font-size: 15px;
	font-weight: 500;
	color: #263b5e;
	color: #263b5e;
}

.dropdown-item:focus, .dropdown-item:hover {
	color: #7552f3;
}

.dropdown-item.active, .dropdown-item:active {
	background-color: #f8f9fa;
	color: #7552f3;
}

.dropdown-item:last-child {
	border-bottom: 0;
}

.dropdown-menu {
	margin-top: 0;
}

.dropdown-toggle::after {
	border-top: inherit;
}

.dropdown-menu::before {
	position: absolute;
	content: '';
	top: -5px;
	left: 47%;
	width: 10px;
	height: 10px;
	transform: rotate(-134deg);
	border-radius: 2.2rem 0px 0.4rem;
	background: #fff;
	box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.09);
}

.technology-item {
	text-align: center;
	padding: 0px 40px 0px 40px;
	border: 1px solid #ccc;
	height: 80px;
	display: table-cell;
	vertical-align: middle;
}

.technology-item img {
	max-width: 100%;
	height: auto;
}

.technology-item-row {
	display: grid;
	gap: 16px;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.technology-item-title h3 {
	color: #1D084C;
	font-size: 46px;
	font-style: normal;
	font-weight: 600;
	line-height: 120%;
	margin-bottom: 0px;
	padding-bottom: 32px;
}

.technology-item-title p {
	color: #4c516e;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
}

.technology-item-list {
	border: 1px solid #e1dcfa;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	padding-top: 12px;
	padding-bottom: 12px;
}

.technology-item-list img {
	max-width: 100px;
	max-height: 50px;
	object-fit: contain;
	object-position: center;
}

/* end slider for home page */

.our-echnology-brand {
	display: table;
	margin-bottom: 30px;
}

.flip-card-front.our_skills {
	padding-left: 70px;
	padding-right: 10px;
}

.flip-card-front.our_skills h4 {
	font-size: 22px;
	margin-bottom: 20px;
	color: #fff;
	text-align: left;
}

.flip-card-front.our_skills p {
	color: #8492a6;
	text-align: left;
}

.flip-card-front.our_skills img {
	position: absolute;
	left: 0;
	top: 7px;
}

.flip-card.skills_wise {
	height: 165px;
	margin-top: 25px;
}

.process_img {
	border-radius: 100%;
	width: 150px;
	height: 150px;
	border: 13px solid #cccccc36;
}

.process_img.design {
	width: 200px;
	height: 200px;
}

.process_img.dev {
	width: 250px;
	height: 250px;
}

.work-process.process-arrow:after {
	content: '';
	position: absolute;
	width: 60%;
	height: 40px;
	top: 80px;
	left: 47%;
	background: url(../images/step_arrow_1.png) center center no-repeat;
	z-index: 1;
}

.work-process.process-arrow.last:after {
	left: 67%;
	top: 105px;
	transform: scaleY(-1);
}

.nav-tabs > li {
	float: left;
	margin-bottom: -1px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover, .nav-tabs > li > a.active {
	color: #7552f3;
	cursor: default;
	background-color: #fff;
	border: 1px solid transparent;
	border-bottom-color: #7552f3;
	text-decoration: none;
}

.nav-tabs > li > a {
	margin-right: 2px;
	line-height: 1.42857143;
	border: 1px solid transparent;
	border-radius: 4px 4px 0 0;
}

.nav > li > a {
	position: relative;
	display: block;
	padding: 10px 0px;
	margin-right: 70px;
	color: #232d48;
	font-size: 22px;
	font-weight: 400;
	text-decoration: none;
}

.fade.in {
	opacity: 1;
}

.mission_text {
	color: #8492a6;
	font-size: 24px;
	font-weight: 300;
	font-style: italic;
	line-height: 35px;
	border-left: 4px solid #ececf4;
	padding-left: 16px;
	margin-left: 50px;
}

.founder_col {
	padding-left: 170px;
	position: relative;
}

.founder_col img {
	position: absolute;
	left: 0px;
	border-radius: 10px;
}

.founder_col h6 {
	color: #8492a6;
	font-style: italic;
	font-weight: 400;
}

.text_transparent {
	color: #f2f3f9;
	font-size: 70px;
	font-weight: 500;
	letter-spacing: 25px;
	position: absolute;
	top: -68px;
	opacity: 0.8;
	left: -10px;
}

.text_story {
	color: #232d48;
	font-size: 24px;
	font-weight: 500;
	position: absolute;
	top: -30px;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.about-us-tab {
	position: relative;
	top: -45px;
}

.why-choose-us img {
	border-radius: 20px;
}

.why-choose-us h5 {
	font-size: 22px;
	margin-bottom: 15px;
}

.why-choose-us p {
	color: #8492a6;
}

.increasing_business {
	background-image: linear-gradient(#f9f6ef, #ffffff);
}

.increasing_business .cols {
	padding: 25px 20px 20px 80px;
	border: 1px solid #dde0e4;
	border-radius: 6px;
	background: #fff;
	margin-bottom: 5px;
}

.increasing_business .cols img {
	position: absolute;
	left: 35px;
	top: 30px;
}

.increasing_business .cols h4 {
	font-size: 22px;
	margin-bottom: 15px;
	color: #000;
	text-align: left;
}

.increasing_business .cols p {
	color: #8492a6;
	text-align: left;
}

.bg_col_who {
	/*background: #1c65b2;*/
	background-image: -webkit-gradient(linear, left top, right top, from(#00eda5), to(#7552f3));
	background-image: -webkit-linear-gradient(left, #00eda5, #7552f3);
	background-image: linear-gradient(270deg, #00eda5, #7552f3);
}

.bg_col_who h3 {
	color: #fff;
}

.bg_col_who p {
	color: rgba(255,255,255,.75);
}

.p_text.who_txt {
	color: #00eda5;
}

.who_content_pd {
	padding: 40px 50px 0 50px;
}

.who_content_pd .cols {
	border: 1px solid rgba(255,255,255,.85);
	padding: 30px 30px 20px 30px;
	border-radius: 10px;
}

.who_content_pd .cols.second {
	padding: 14px 30px 10px 30px;
}

.who_content_pd h4 {
	color: #fff;
	font-size: 22px;
	margin-top: 10px;
	font-weight: 400;
}

.overflow-hidden {
	overflow: hidden;
}

.image-hover-animation {
	transition: all 0.65s ease;
}

.image-hover-animation:hover {
	transform: scale(1.05);
}

.zoom-box {
	overflow: hidden;
}

.zoom {
	-ms-transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
	position: relative;
}

.zoom:hover {
	/* img zoom in on hover (x, y): */
	-ms-transform: scale(1.1, 1.1);
	-webkit-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	-o-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
}

.zoom:hover.hover-mask-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background-color: rgba(49, 57, 63, 0.5);
	transition: all 0.2s ease 0s;
	-webkit-transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	-o-transition: all 0.2s ease 0s;
}

.content-scroll {
	margin-bottom: 0;
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 4.5rem;
	min-height: 4.5rem;
	padding-right: 10px;
}

.content-scroll::-webkit-scrollbar {
	width: 3px;
	height: 3px;
	background: #e5e5e5;
}

.content-scroll::-webkit-scrollbar-thumb {
	cursor: pointer;
	background: #232d48;
}

.display_block {
	display: block;
}

.big_heading {
	font-size: 26px;
	position: relative;
	padding-bottom: 0;
	color: #232d48;
	font-weight: 200;
	line-height: 38px;
	text-align: justify;
}

.big_heading.subtext {
	font-size: 26px;
	font-weight: 400;
	margin: 0;
}

.caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 0px;
	vertical-align: middle;
	border-top: 6px solid;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
	margin-top: -2px;
}

.bread-crumb {
	margin: 10px auto 0 auto;
	text-align: center;
	display: inline-block;
	width: 100%;
	padding: 0;
	z-index: 9;
	position: relative;
}

.bread-crumb li {
	position: relative;
	display: inline-block;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
}

.bread-crumb li:last-child {
	padding: 0px !important;
	margin-bottom: 0px !important;
}

.breadcrumb-item + .breadcrumb-item::before {
	display: inline-block;
	padding-right: 0.5rem;
	color: #6c757d;
	content: "/";
	padding-left: 0.5rem;
}

li.breadcrumb-item {
	color: #fff;
}

li.breadcrumb-item a {
	color: #7552f3;
}

li.breadcrumb-item a:hover {
	color: #fff;
}

.breadcrumb-item + .breadcrumb-item {
	padding-left: 0rem;
}

.leadership .tabs-container {
	max-width: -webkit-fit-content;
	max-width: -moz-fit-content;
	max-width: fit-content;
	margin: 10px auto 30px;
	display: flex;
}

.tabs-container {
	display: inline-flex;
	justify-content: space-between;
	align-content: stretch;
	align-items: stretch;
	background: #f7f7f7;
	padding: 8px 10px;
	border-radius: 40px;
	width: 100%;
}

.tabs-container .tab {
	position: relative;
	font-weight: 600;
	font-size: 1rem;
	letter-spacing: 0.2px;
	color: #474747;
	padding: 13px 50px;
	border-radius: 40px;
	background: transparent;
	border: none;
	flex-grow: 1;
}

.tabs-container .tab.is-active {
	background: #252525;
	color: #fff;
	font-weight: 700;
}

.heading-tabs {
	position: relative !important;
	font-weight: 600 !important;
	font-size: 1rem !important;
	letter-spacing: 0.2px;
	color: #474747 !important;
	padding: 13px 50px !important;
	border-radius: 40px !important;
	background: transparent;
	border: none;
	flex-grow: 1;
	margin: 0 !important;
}

.heading-tabs.active {
	background-color: #252525 !important;
	color: #fff !important;
}

.mobile-view-only {
	display: none;
}

/*image galley css*/

.photos a {
	position: relative;
}

.photos a:after {
	position: absolute;
	top: -96px;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background-color: rgb(46 43 41 / 70%);
	content: '';
	transition: 0.4s;
	height: 218px;
}

.photos a::before {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -30px;
	margin-left: -22px;
	color: #fff;
	font-size: 44px;
	font-family: "Font Awesome 5 Free";
	content: '\26F6';
	pointer-events: none;
	z-index: 9000;
	transition: 0.4s;
	opacity: 0;
}

.photos a:hover:after, .photos a:hover:before {
	opacity: 1;
}

.photo-gallery {
	color: #313437;
	background-color: #fff;
}

.photo-gallery p {
	color: #7d8285;
}

.photo-gallery h2 {
	font-weight: bold;
	margin-bottom: 40px;
	padding-top: 40px;
	color: inherit;
}

@media (max-width:767px) {
	.photo-gallery h2 {
		margin-bottom: 25px;
		padding-top: 25px;
		font-size: 24px;
	}
}

.photo-gallery .intro {
	font-size: 16px;
	max-width: 500px;
	margin: 0 auto 40px;
}

.photo-gallery .intro p {
	margin-bottom: 0;
}

.photo-gallery .photos {
	padding-bottom: 20px;
}

.photo-gallery .item {
	padding-bottom: 30px;
}

.image-mask {
	height: auto;
}

.only-top-position {
	position: relative;
	top: -60px;
}

.shaddow-mast-row {
	box-shadow: 5px 8px 28px rgba(23,23,36,0.1) !important;
	border-radius: 15px;
}

.experts-pd {
	padding: 0px 30px 0px 0px;
	position: relative;
}

.experts-pd.another {
	top: 20px;
	padding: 10px 20px 20px 30px;
}

.case-category-text {
	margin-top: 0px;
	font-size: 18px;
	font-weight: 300;
	color: #2d2d2d;
	line-height: 28px;
	height: 246px;
	overflow-y: auto;
	overflow-x: hidden;
}

.case-category-text p {
	padding-right: 15px;
}

.case-category-text.another {
	margin-top: 0px;
	height: 160px;
}

.font-size-30 {
	font-size: 30px;
}

.experts-pd span {
	color: #8492a6;
	font-weight: 100;
	font-size: 24px;
	position: relative;
	top: -3px;
	margin-left: 20px;
}

.case-category-text::-webkit-scrollbar {
	width: 3px;
	height: 3px;
	background: #e5e5e5;
}

.case-category-text::-webkit-scrollbar-thumb {
	cursor: pointer;
	background: #f686bd;
}

.our-partner-text {
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	border-radius: 0px 10px 0px 10px;
	border: 1px solid #00fc92;
	padding: 10px 15px;
	display: inline;
	position: absolute;
	top: -44px;
	background: #00fc92;
	box-shadow: 5px 8px 28px rgba(23,23,36,0.1);
}

.our-partner-text::after {
	content: '';
	position: absolute;
	left: -14px;
	top: -14px;
	width: 30px;
	height: 30px;
	border-radius: 20px;
	background-color: #eeef20;
	z-index: -1;
}

.our-partner-text.expert-row {
	background: #ff74d4;
	border: 1px solid #ff74d4;
}

.our-partner-text.expert-row.blue-bg {
	background: #7371fc;
	border: 1px solid #7371fc;
}

.slidingVertical {
	position: relative;
}

.slidingVertical span {
	animation: topToBottom 15s linear infinite 0s;
	-ms-animation: topToBottom 15s linear infinite 0s;
	-webkit-animation: topToBottom 15s linear infinite 0s;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	top: -60px;
}

.our-team-leader-bg {
	background: radial-gradient(circle at 58% 72%, rgba(64, 19, 167, 1) 0%, rgba(29, 8, 76, 1) 50%);
}

.our-team-leader-bg .title {
	color: #fff;
}

.btn---linkedin---outline {
	border: 1px solid #7552f3;
	width: 36px;
	height: 36px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	padding: 10px;
	border-radius: 100px;
	margin-top: 0;
	transition: .4s;
	background-color: #7552f3;
	position: absolute;
	right: 20px;
	bottom: 20px;
}

.btn---linkedin---outline:hover {
	border-color: #1d084c;
	background-color: #1d084c;
}

.text-align-left {
	text-align: left !important;
}

.show-hide-btn {
	border: 1px solid rgba(117, 82, 243, 1);
	background-color: #fff;
	border-radius: 32px;
	color: rgba(117, 82, 243, 1);
	padding: 10px 32px 10px 32px;
	font-weight: 500;
}

.show-hide-btn:hover {
	border: 1px solid #000;
	background-color: #fff;
	color: #000;
}
	.show-hide-btn.focus, .show-hide-btn:focus {
		border: 1px solid #000 !important;
		background-color: #fff !important;
		color: #000 !important;
		box-shadow: none !important;
	}



.btn_float {
	position: fixed;
	z-index: 2000;
	top: 130px;
	right: 0;
	font-size: 14px;
	color: #102770;
	line-height: 40px;
	height: 44px;
	border: 2px solid #102770;
	
	text-align: center;
	font-weight: 700;
	background-color: #fff;
	cursor: pointer;
	transform: rotate(-90deg);
	transform-origin: right bottom;
	box-shadow: 0 12px 25px 0 rgb(16 39 112 / 25%);
	transition: all 200ms linear;
}

.box {
	/*overflow: hidden;
	background: #f0e68c;
	position: fixed;
	top: 120px;
	right: 0px;
	display: flex;
	flex-direction: row;*/
}
/* Add padding and border to inner content
    for better animation effect */

.box-inner {
	/*width: 200px;*/
	padding: 16px;
	position: fixed;
	top: 166px;
	right: 0;
	z-index: 999;
	background-color: rgba(247, 245, 254, 1);
	border-bottom-left-radius: 32px;
	gap: 10px;
	display: flex;
	filter: drop-shadow(0px 0px 8px rgba(29, 8, 76, 0.12));
}

.or-text {
	color: rgba(96, 125, 139, 1);
	font-size: 12px;
}

.view-profile {
	font-size: 13px;
	border: 1px solid rgba(117, 82, 243, 1);
	background-color: #fff;
	border-radius: 32px;
	color: rgba(117, 82, 243, 1);
	padding: 10px 64px 10px 64px;
	font-weight: 500;
}

.view-profile:hover {
	border: 1px solid #1D084C ;
	color: #1D084C;
}

#showLinkedIn {
	position: fixed;
	z-index: 2000;
	top: 130px;
	right: 0;
	font-size: 13px;
	color: #1D084C;
	font-weight: 500;
	border: 0px solid #102770;
	text-align: center;
	background-color: #fff;
	cursor: pointer;
	transform: rotate(-90deg);
	transform-origin: right bottom;
	transition: all 200ms linear;
	padding: 8px 12px 8px 12px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	display: flex;
	gap: 10px;
	align-items: center;
	filter: drop-shadow(0px 0px 8px rgba(29, 8, 76, 0.12));
}

.button-focus:focus {
	outline: none !important;
}

#closeLinkedIn {
	
	position: absolute;
	left: -69px;
	top: 34px;

	transform: rotate(-90deg);
	background-color: #fff;
	padding: 8px 12px 8px 12px;
	box-shadow: none;
	border: none !important;
	border-top-right-radius: 12px;
	border-top-left-radius: 12px;
	font-size: 13px;
	color: #1D084C;
	font-weight: 500;
	display: flex;
	gap: 10px;
	align-items: center;
}

.top-19 {
	top: 35px !important;
}

	.in-icon {
		transform: rotate(90deg);
	}

.scan-to-view {
	color: rgba(29, 8, 76, 1);
	font-size: 13px;
	font-weight: 500;
}



.team-card-section {
	border: 1px solid #B0BEC5;
	border-radius: 44px;
	padding: 16px 12px 12px 12px;
	width: fit-content;
	margin: 0 auto;
}

.team-card-section.display-another {
	display: inline-block;
	width: 100%;
}

.team-card {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 12px;
}

.team-item-title {
	color: #1D084C;
	font-size: 24px;
	text-align: center;
	font-weight: 600;
	padding-bottom: 16px;
}

.team-item {
	position: relative;
	text-align: center;
	align-items: flex-end;
	display: flex;
	justify-content: center;
	border-radius: 36px;
	overflow: hidden;
	padding-bottom: 47px;
}

.team-item img {
	width: 250px !important;
	height: 240px !important;
	/*width: 100%;*/

	object-fit: contain;
	object-position: center;
}

.team-item h6 {
	position: absolute;
	bottom: 0px;
	margin: 0;
	background-color: #F4F1FE;
	width: 100%;
	padding: 14px 15px;
	color: #1D084C;
	font-size: 16px;
	font-weight: 500;
	border-bottom-left-radius: 36px;
	border-bottom-right-radius: 36px;
	transition: .4s;
}

.padding-left-8px {
	padding-left: 8px;
}

.padding-left-40px {
	padding-left: 40px;
}

.padding-right-8px {
	padding-right: 8px;
}

.padding-right-40px {
	padding-right: 40px;
}

.minus-margin-left {
	position: relative;
	right: -3px;
}

/*topToBottom Animation*/
@-moz-keyframes topToBottom {
	0% {
		opacity: 0;
	}

	0% {
		opacity: 0;
		-webkit-transform: translateY(-50px);
	}

	3% {
		opacity: 1;
		-webkit-transform: translateY(0px);
	}

	13% {
		opacity: 1;
		-webkit-transform: translateY(0px);
	}

	18% {
		opacity: 0;
		-webkit-transform: translateY(50px);
	}

	80% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

@-webkit-keyframes topToBottom {
	0% {
		opacity: 0;
	}

	0% {
		opacity: 0;
		-webkit-transform: translateY(-50px);
	}

	3% {
		opacity: 1;
		-webkit-transform: translateY(0px);
	}

	13% {
		opacity: 1;
		-webkit-transform: translateY(0px);
	}

	18% {
		opacity: 0;
		-webkit-transform: translateY(50px);
	}

	80% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

@-ms-keyframes topToBottom {
	0% {
		opacity: 0;
	}

	0% {
		opacity: 0;
		-webkit-transform: translateY(-50px);
	}

	3% {
		opacity: 1;
		-webkit-transform: translateY(0px);
	}

	13% {
		opacity: 1;
		-webkit-transform: translateY(0px);
	}

	18% {
		opacity: 0;
		-webkit-transform: translateY(50px);
	}

	80% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}


@keyframes animate-top-bottom {
	0% {
		transform: translateY(30px)
	}

	50% {
		transform: translateY(0)
	}

	to {
		transform: translateY(-30px)
	}
}

@media (min-width: 992px) {
	.animate-top-bottom {
		animation-name: animate-top-bottom;
		animation-duration: 3s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
		animation-fill-mode: backwards;
		animation-direction: alternate
	}
}

.navbar-light .navbar-toggler-icon {
	background-image: url("../images/hamburger-menu.png");
}

/* Shine */
/*.hover-shine  {
    position: relative;
}

.hover-shine::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}

.hover-shine:hover::before {
    -webkit-animation: shine .75s;
    animation: shine .75s;
}

@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}

@keyframes shine {
    100% {
        left: 125%;
    }
}*/

.display-flex-only {
	display: flex;
	gap: 12px;
}

.align-items-center {
	align-items: center;
}

.schedule-a-call {
	background-color: #fff;
	border-radius: 30px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	position: relative;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
}

.schedule-a-call-card {
	background-color: #7552F3;
	border-radius: 30px;
	display: flex;
	padding: 20px 30px 30px 30px;
	flex-direction: row;
	gap: 16px;
	position: relative;
	width: 100%;
	justify-content: center;
	flex-wrap: wrap;
}

.btn-schedule-a-call {
	color: #1D084C;
	font-weight: 600;
	background-color: #fff;
	border-color: #fff;
	border-radius: 100px;
	width: 100%;
	padding: 14px 0px;
}

.btn-schedule-a-call:hover {
	background-color: #1D084C;
	border-color: #1D084C;
}

.schedule-a-call-card h4 {
	color: #FFF;
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
	margin-bottom: 0px;
	line-height: 40px;
	padding-bottom: 0px;
	text-align: center;
}

.schedule-a-call-card p {
	text-align: center;
	font-size: 16px;
	line-height: 20px;
}

.follow-us-on {
	color: #1D084C;
	font-weight: 600;
	font-size: 16px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 20px 15px 20px;
	gap: 16px;
}

.fllow-us-linkdin-img {
	position: relative;
	top: -2px;
}

.btn-linkedin {
	color: #fff;
	font-weight: 600;
	background-color: #7552F3;
	border-color: #7552F3;
	border-radius: 100px;
	padding: 10px 30px;
}

.get-in-touch-text {
	font-size: 12px !important;
	line-height: 14px !important;
}

.get-in-touch-text-2 {
	font-size: 44px !important;
	font-weight: 600;
	line-height: 54px !important;
	color: rgba(238, 236, 243, 1) !important;
}

.contact-sub-title {
	padding-top: 0px;
	padding-bottom: 60px;
}

.our-skills-bg {
	/*border-radius: 40px;
	padding: 48px 30px 10px 30px;*/
	/*background-color: #F7F5FE;*/
	display: inline-block;
}

.abt-why-us-bg {
	border-radius: 40px;
	padding: 48px 48px 48px 48px;
	background: radial-gradient(circle at 58% 72%, rgba(64, 19, 167, 1) 0%, rgba(29, 8, 76, 1) 50%);
}

.abt-why-us-bg h3, .abt-why-us-bg h4 {
	color: #fff;
}

.abt-why-us-bg p {
	color: #AEA6BE;
}

.abt-why-us-bg .list-item-why-us ul.width-left-list li, .abt-why-us-bg .list-item-why-us ul.width-right-list li {
	color: #AEA6BE;
}

.get-to-know-bg {
	border-radius: 40px;
	padding: 48px 48px 48px 48px;
	background: radial-gradient(circle at 58% 72%, rgba(64, 19, 167, 1) 0%, rgba(29, 8, 76, 1) 50%);
}


a.closeFilePanel, a.closeContactModal {
	position: absolute;
	top: -56px;
	z-index: 9999;
	left: 50%;
	margin-left: -25px;
	cursor: pointer;
}

.overlay-outer {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 999;
	left: 0;
	top: 0px;
	background-color: rgba(0, 0, 255, 0.3);
	display: none;
}

.contact-bg-modal {
	background: radial-gradient(circle at 58% 72%, rgba(64, 19, 167, 1) 0%, rgba(29, 8, 76, 1) 50%);
	border-radius: 30px;
	display: flex;
	padding: 40px 40px 40px 40px;
	flex-direction: column;
	position: relative;
	width: 100%;
	justify-content: flex-start;
}

.contact-modal-map iframe {
	height: calc(100vh - 220px);
	border-radius: 30px;
	display: block;
	width: 100%;
}

.contact-modal h4 {
	color: #1D084C;
	font-size: 36px;
	font-style: normal;
	font-weight: 600;
	line-height: 30px;
	margin-bottom: 30px;
}

.felizeek-footer.contatc-form-bg-row {
	background: inherit;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.contatc-form-bg {
	/*background: radial-gradient(circle at 58% 72%, rgba(64, 19, 167, 1) 0%, rgba(29, 8, 76, 1) 50%);*/
	background-color: rgba(247, 245, 254, 1);
	border-radius: 40px;
	padding: 26px 32px 32px 32px;
	height: calc(100vh - 160px);
	width: 100%;
}

.slider-container.contactmap, .slider-container.contactform {
	position: fixed;
	margin-left: -45%;
	bottom: -40px;
	left: 50%;
	width: 90%;
	display: none;
	z-index: 999;
	transform: translateX(100%);
	-webkit-transform: translateX(100%);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 64px;
	background-color: #fff;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	padding: 38px 48px 30px 48px;
	box-shadow: 0 2px 5px 1px rgba(64,60,67,.16);
	height: calc(100vh - 40px);
}

.selected {
	animation: slide-in 0.5s forwards;
	-webkit-animation: slide-in 0.5s forwards;
}

.dismiss {
	animation: slide-out 0.5s forwards;
	-webkit-animation: slide-out 0.5s forwards;
}

@keyframes slide-in {
	0% {
		-webkit-transform: translateY(100%);
	}

	100% {
		-webkit-transform: translateY(0%);
	}
}
@-webkit-keyframes slide-in {
	0% {
		transform: translateY(100%);
	}

	100% {
		transform: translateY(0%);
	}
}
@keyframes slide-out {
	0% {
		transform: translateY(0%);
	}

	100% {
		transform: translateY(100%);
	}
}
@-webkit-keyframes slide-out {
	0% {
		-webkit-transform: translateY(0%);
	}

	100% {
		-webkit-transform: translateY(100%);
	}
}


/*slide-right*/

.selected-right {
	animation: slide-in-right 0.5s forwards;
	-webkit-animation: slide-in-right 0.5s forwards;
}

.dismiss-right {
	animation: slide-out-right 0.5s forwards;
	-webkit-animation: slide-out-right 0.5s forwards;
}

@keyframes slide-in-right {
	0% {
		-webkit-transform: translateX(100%);
	}

	100% {
		-webkit-transform: translateX(0%);
	}
}

@-webkit-keyframes slide-in-right {
	0% {
		transform: translateX(100%);
	}

	100% {
		transform: translateX(0%);
	}
}

@keyframes slide-out-right {
	0% {
		transform: translateX(0%);
	}

	100% {
		transform: translateX(100%);
	}
}

@-webkit-keyframes slide-out-right {
	0% {
		-webkit-transform: translateX(0%);
	}

	100% {
		-webkit-transform: translateX(100%);
	}
}


/* About Slider */
.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-list {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.slick-list:focus {
	outline: none;
}

.slick-list.dragging {
	cursor: pointer;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	top: 0;
	left: 0;
	display: block;
}

.slick-track:before,
.slick-track:after {
	display: table;
	content: '';
}

.slick-track:after {
	clear: both;
}

.slick-loading .slick-track {
	visibility: hidden;
}

.slick-slide {
	display: none;
	float: left;
	height: 100%;
	min-height: 1px;
}

[dir='rtl'] .slick-slide {
	float: right;
}

.slick-slide img {
	display: block;
}

.slick-slide.slick-loading img {
	display: none;
}

.slick-slide.dragging img {
	pointer-events: none;
}

.slick-initialized .slick-slide {
	display: block;
}

.slick-loading .slick-slide {
	visibility: hidden;
}

.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
	display: none;
}

.slick-carousel h6 {
	font-size: 32px;
	font-weight: 600;
}

.slick-carousel p {
	color: #1D084C;
	font-size: 20px;
	font-weight: 500;
	
}

.top-arrow img, .bottom-arrow img {
	cursor: pointer;
}

.gap-16px {
	gap: 16px;
}

.gap-72px {
	gap: 72px;
}

.ellipse-bg {
	position: absolute;
	width: 320px;
	height: 320px;
	left: -50px;
	top: -110px;
	background: conic-gradient(from 180deg at 50% 50%, #7552F3 0deg, #FFFFFF 360deg);
	opacity: 0.12;
	transform: matrix(0, -1, -1, 0, 0, 0);
	border-radius: 100%;
}

.ellipse-bg-margin {
	margin-top: 150px;
	margin-bottom: 94px;
	margin-left: 210px;
}

.slider-up-outline-arrow-icon, .slider-up-fill-arrow-icon, .slider-down-fill-arrow-icon, .slider-down-outline-arrow-icon {
	transition: all 0.3s ease-in-out;
}

/*
.bottom-arrow.slick-arrow.slick-disabled ~ .top-arrow.slick-arrow .slider-up-outline-arrow-icon {
	border: 2px solid #f00;
	display: none;
}*/
/*.slick-disabled .slider-down-fill-arrow-icon {
	display: none;
}*/
/*.top-arrow.slick-disabled .slider-up-fill-arrow-icon,
.top-arrow.slick-disabled ~ .bottom-arrow.slick-arrow .slider-down-outline-arrow-icon {
	display: none;
}*/
/*.bottom-arrow.slick-disabled .slider-down-fill-arrow-icon {
	display: block;
}*/
/*.slider-up-fill-arrow-icon, slider-down-outline-arrow-icon {
	display: none;
}*/
/*.slick-current.slick-active .slider-up-fill-arrow-icon {
	display: none;
}

.top-arrow.slick-arrow.slick-disabled .slider-up-fill-arrow-icon {
	display: none;
}

.bottom-arrow.slick-arrow .slider-down-outline-arrow-icon {
	display: none;
}

.bottom-arrow.slick-disabled .slider-up-fill-arrow-icon {
	display: block !important;
	border: 2px solid;
}*/
@media (max-width: 767px) {
	.gap-72px {
		gap: 10px;
	}

	.ellipse-bg {
		width: 160px;
		height: 160px;
		left: -15px;
		top: -20px;
	}

	.ellipse-bg-margin {
		margin-top: 30px;
		margin-bottom: 30px;
		margin-left: 30px !important;
	}

	.slick-carousel h6 {
		font-size: 16px;
		margin-bottom: 0px !important;
	}

	.slick-carousel p {
		margin-top: 10px !important;
		line-height: 20px !important;
	}

	.slick-slider {
		width: 80% !important;
	}

	.slick-vertical .slick-slide {
		min-height: 110px !important;
	}

	.navbar-collapse {
		background-color: #fff;
	}

	.videoMessage h1 {
		font-size: 24px !important;
		padding-top: 60px;
	}

	#full-screen-div {
		height: auto;
	}

	textarea.form-control {
		height: inherit !important;
	}

	.meet-founder-section {
		flex-direction: column;
	}

	.map-arrow {
		position: absolute;
		left: 16px;
		bottom: -24px;
	}

	.contact-modal-map iframe {
		height: 300px;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media (max-width: 768px) {

	

	#full-screen-div {
		height: auto;
	}

	.videoMessage h1 {
		font-size: 40px;
		padding-top: 60px;
	}

	.client-voices-item-section p {
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
	}

	.client-voices-item {
		padding: 12px 12px 14px 16px;
		border-radius: 16px;
	}

	.client-voices-footer {
		font-size: 14px;
	}

	.client-voices-footer span {
		font-size: 12px;
		line-height: 16px;
	}

	.vision-body-container {
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
	}

	.res---br---none {
		display: none;
	}

	textarea.form-control {
		height: inherit !important;
	}

	.abt-why-us-bg {
		border-radius: 20px;
		padding: 20px;
	}

	.res-map-arrow-row {
		position: relative;
		margin-bottom: 25px !important;
	}

	.slider-container.contactmap, .slider-container.contactform {
		width: 100%;
		margin-left: 0;
		left: 0;
		padding: 38px 30px 30px 30px;
	}

	.slider-container.contactmap {
		padding: 38px 20px 30px 20px;
	}

	.contatc-form-bg {
		border-radius: 16px;
		padding: 26px 10px 32px 10px;
	}

	.our-skills-bg {
		/*padding: 30px 20px 30px 20px;
		border-radius: 20px;*/
	}

	.contact-sub-title {
		padding-bottom: 10px;
		line-height: 24px !important;
	}

	.our-servives-dark-bg {
		padding: 20px 15px 10px 15px;
		border-radius: 16px;
	}

	.what-we-do-cols.our-servives-card {
		height: inherit;
		padding-bottom: 10px;
		padding-top: 0px;
	}

	.tslider-arrows {
		top: 0;
	}

	.felizeek-logo-text-replacement {
		width: 110px;
		top: -3px;
	}

	.list-item-why-us {
		flex-direction: column;
	}

	.list-item-why-us .width-left-list, .list-item-why-us .width-right-list {
		width: 100%;
	}

	.padding-right-40px {
		padding-right: 15px;
	}

	.padding-left-40px {
		padding-left: 15px;
	}

	.quotes-section {
		line-height: 16px;
		font-size: 12px;
		bottom: 0px;
	}

	.google-map-section iframe {
		width: 100%;
		margin-bottom: 15px;
	}

	.header-section {
		height: 60px;
	}

	.minus-margin-left {
		right: 0px;
	}

	.vision-mission-divider {
		border-left: none;
		padding-left: 0px;
	}

	.navbar {
		min-height: auto !important;
	}

	.mobile-view-only {
		display: block;
	}

	.not-mobile-view-only {
		display: none;
	}

	.big_heading {
		font-size: 20px;
		text-align: initial;
		line-height: 30px;
	}

	.big_heading.subtext {
		font-size: 18px;
	}

	.dropdown-menu::before {
		display: none;
	}

	.header-section .container .logo_wid {
		position: relative;
		z-index: 9;
	}

	.navbar-nav {
		height: auto;
	}

	.navbar {
		margin-top: 0;
	}

	.nav-item {
		padding-bottom: 5px;
	}

	.navbar-nav {
		margin-top: 80px;
		border-top: 1px solid #ccc;
	}

	.navbar {
		position: absolute;
		top: -80px;
		padding-top: 3px;
		width: 100%;
		left: 0;
		justify-content: end;
		min-height: 90px;
	}

	nav.navbar.navbar-expand-lg.navbar-light {
		box-shadow: 0 8px 6px -6px rgb(16 16 16 / 15%);
	}

	.dropdown:hover .dropdown-menu {
		width: 92%;
		margin-left: 15px;
	}

	.social-connect {
		position: absolute;
		right: 80px;
		top: 29px;
	}

	.social-connect ul {
		border-left: none;
	}

	.navbar-light .navbar-toggler {
		position: absolute;
		right: 16px;
		top: 24px;
	}

	h3, h2 {
		font-size: 20px;
	}

	.p_text {
		font-size: 12px;
	}

	.skill ul li {
		width: 100%;
	}

	.res-pt-0 {
		padding-top: 0px !important;
	}

	.res-pl-0 {
		padding-left: 0 !important;
	}

	.res-pl-15 {
		padding-left: 15px !important;
	}

	.res-pr-0 {
		padding-right: 0 !important;
	}

	.res-mb-0 {
		margin-bottom: 0px !important;
	}

	.res-pb-0 {
		padding-bottom: 0px !important;
	}

	.res-text-left {
		text-align: left !important;
	}

	#AboutUs, #Skills, #Team, #Blog, #ContactUs {
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 0;
		padding-right: 0;
	}

	#Services {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.technology-item {
		padding: 0px;
	}

	.res-col-2 {
		margin-bottom: 15px;
		max-width: 25%;
	}

	.nav > li > a {
		margin-right: 30px;
		font-size: 18px;
	}

	.work-process.process-arrow:after {
		top: 145px;
		left: 28%;
	}

	.work-process.process-arrow.last:after {
		left: 38%;
		top: 200px;
		transform: scaleY(1);
	}

	.about-us-tab {
		width: 100%;
		margin-top: 0;
		position: inherit;
		top: inherit;
	}

	.text_story {
		font-size: 20px;
		top: -10px;
	}

	.text_transparent {
		left: 0;
		font-size: 25px;
		top: -12px;
	}

	.founder_col img {
		float: left;
		margin-right: 15px;
		position: inherit;
		left: inherit;
	}

	.founder_col {
		padding-left: 0;
	}

	.mission_text {
		margin-left: 0px;
	}

	.br-none br {
		display: none;
	}

	.why-choose-us h5 {
		font-size: 18px;
	}

	.increasing_business .cols {
		padding: 10px 10px 10px 65px;
	}

	.increasing_business .cols img {
		left: 25px;
		top: 15px;
	}

	.increasing_business .cols h4 {
		font-size: 18px;
		margin-bottom: 5px;
	}

	.content-scroll {
		height: 100px;
	}

	.res-mb-4 {
		margin-bottom: 1.5rem !important;
	}

	.who_content_pd {
		padding: 40px 30px 0 30px;
	}

	.res---width---100per {
		width: 100% !important;
	}

	.res---width---50per {
		width: 50% !important;
	}

	.res---width---48per {
		width: 48% !important;
	}

	.res---mb---0px {
		margin-bottom: 0px !important;
	}

	.res---mb---10px {
		margin-bottom: 10px !important;
	}

	.res---mb---15px {
		margin-bottom: 15px !important;
	}

	.res---mt---0px {
		margin-top: 0px !important;
	}

	.res---mt---10px {
		margin-top: 10px !important;
	}

	.res---mt---15px {
		margin-top: 15px !important;
	}

	.res---mt---20px {
		margin-top: 20px !important;
	}


	.res---pl---0px {
		padding-left: 0px !important;
	}

	.res---pl---10px {
		padding-left: 10px !important;
	}

	.res---pl---15px {
		padding-left: 15px !important;
	}


	.res---pr---0px {
		padding-right: 0px !important;
	}

	.res---pr---10px {
		padding-right: 10px !important;
	}

	.res---pr---15px {
		padding-right: 15px !important;
	}

	.res---pt---0px {
		padding-top: 0px !important;
	}

	.res---text---align---center, .index-header h1 {
		text-align: center !important;
	}

	.res---text---align---left {
		text-align: left !important;
	}

	.index-header p {
		font-size: 14px;
		line-height: 24px;
	}

	.hero-banner-bg h2 {
		padding-bottom: 10px;
	}

	.what-we-do-cols {
		gap: 4px;
	}

	.what-we-do-cols-list p {
		margin-bottom: 0px !important;
	}

	.meet-founder-section {
		gap: 24px;
		padding: 20px 15px 20px 15px;
		border-radius: 16px;
	}

	.client-voices {
		padding: 20px 15px 20px 15px;
		border-radius: 16px;
	}

	.client-voices h4 {
		padding-bottom: 0px;
	}

	.felizeek-footer {
		border-top-left-radius: 16px;
		border-top-right-radius: 16px;
	}

	.hero-banner-graphics {
		flex-direction: column;
		padding-top: 60px !important;
	}

	.index-header h1, .hero-banner-bg h2, .felizeek-why-us h3, .felizeek-our-services h4, .felizeek-vision-mission h4,
	.meet-founder, .felizeek-footer h4, .our-value-section h4, .our-servives-dark-bg h2, .client-voices h4, .technology-item-title h3 {
		font-size: 28px;
	}

	.felizeek-why-us h4, .meet-founder-col2 h4 {
		font-size: 20px;
	}

	.what-we-do-cols h3 {
		font-size: 18px;
	}

	.img-responsive {
		width: 100% !important;
	}

	.pb-100, .pb-80 {
		padding-bottom: 40px !important;
	}

	.pt-100, .pt-80 {
		padding-top: 40px !important;
	}

	.pt-70 {
		padding-top: 30px !important;
	}

	.pb-100 {
		padding-bottom: 40px;
	}

	.pt-150 {
		padding-top: 80px;
	}

	.felizeek-vision-mission p {
		padding-right: 0px !important;
	}

	.felizeek-footer p br {
		display: none;
	}

	.res---br---none p br {
		display: none;
	}

	.header-section .container .logo_wid {
		top: -5px;
		/*width: 180px !important;*/
	}

	.navbar-light .navbar-toggler {
		top: 38px;
		transform: scale(0.85);
		-moz-transform: scale(0.85);
		-webkit-transform: scale(0.85);
	}

	.navbar-fixed-top {
		height: 68px !important;
	}

	.res-br-none {
		display: none;
	}

	.res-line-height-16px {
		line-height: 16px !important;
	}

	.index-header.secondary-title h1 {
		font-size: 28px;
		margin-top: 50px !important;
	}

	.brand-navigation-row {
		padding-top: 15px;
	}

	.res---font---14px {
		font-size: 14px !important;
	}

	.what-we-do-cols.about-us-page {
		min-height: auto;
		padding: 20px 24px;
		border-radius: 30px;
	}

	.what-we-do-cols-list.about-us-page h4 {
		font-size: 18px;
	}

	.our-value-section .columns {
		min-height: auto;
		gap: 10px;
		margin-bottom: 15px;
	}

	.our-value-section .columns p {
		padding-right: 0px !important;
	}

	.our-value-section .columns h5 {
		font-size: 16px;
	}

	#scroll-to-top {
		bottom: 100px !important;
	}

	.meet-founder-section.bg-with-radius {
		gap: 24px;
		padding: 20px 15px 20px 15px !important;
		border-radius: 16px;
	}

	.felizeek-footer-corner {
		gap: 24px;
		border-radius: 30px;
		padding: 30px 20px;
	}

	.get-in-touch-section {
		flex-direction: column;
	}

	.get-in-touch {
		width: auto !important;
	}

	.res---pt---20px {
		padding-top: 20px !important;
	}

	.res---pb---20px {
		padding-bottom: 20px !important;
	}

	.res---pb---0px {
		padding-bottom: 0px !important;
	}

	.felizeek-why-us h3 {
		margin-bottom: 10px;
	}

	.our-servives-dark-bg h2 {
		padding-bottom: 0px !important;
	}

	.felizeek-vision-mission p {
		width: 100%;
		margin-bottom: 0px;
		line-height: 26px;
	}

	.felizeek-vision-mission {
		gap: 0px;
	}

	.felizeek-vision-mission p {
		font-size: 14px;
	}

	.mission_text {
		font-size: 18px;
		line-height: 28px;
		margin-top: 0px !important;
	}

	.meet-founder-col2 h6 {
		font-size: 14px;
		font-weight: 500;
	}

	.left-arrow-icon, .right-arrow-icon {
		width: 28px;
	}

	.felizeek-footer p {
		font-size: 14px;
	}

	.res---pt---0px---journey {
		padding-top: 0px !important;
	}

	.flex---direction---column {
		flex-direction: column;
	}

	.flex---direction---row {
		flex-direction: row;
	}

	.res-only-two-view {
		gap: 12px;
		display: flex;
	}

	.team-item h6 {
		border-bottom-left-radius: 24px;
		border-bottom-right-radius: 24px;
		padding: 10px 0px;
		font-size: 14px;
	}

	.team-item, .team-card-section {
		border-radius: 32px;
	}

	.team-item {
		padding-bottom: 36px;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (max-width: 992px) and (min-width: 769px) {

	.res---br---none {
		display: none;
	}

	#full-screen-div {
		height: auto;
	}

	.videoMessage h1 {
		font-size: 40px;
		padding-top: 60px;
	}

	.header-section {
		height: 60px;
	}

	.minus-margin-left {
		right: 0px;
	}

	.big_heading {
		font-size: 20px;
		text-align: initial;
		line-height: 30px;
	}

	.big_heading.subtext {
		font-size: 18px;
	}

	.dropdown-menu::before {
		display: none;
	}

	.header-section .container .logo_wid {
		position: relative;
		z-index: 9;
		top: 0px !important;
	}

	.navbar-nav {
		height: auto;
	}

	.navbar {
		margin-top: 0;
	}

	.nav-item {
		padding-bottom: 5px;
	}

	.navbar-nav {
		margin-top: 80px;
		border-top: 1px solid #ccc;
	}

	.navbar {
		position: absolute;
		top: 0px !important;
		/*background: #fff;*/
		padding-top: 6px;
		width: 100%;
		left: 0;
		justify-content: end;
		min-height: 90px;
	}

	nav.navbar.navbar-expand-lg.navbar-light {
		box-shadow: 0 8px 6px -6px rgb(16 16 16 / 15%);
	}

	.dropdown:hover .dropdown-menu {
		width: 92%;
		margin-left: 15px;
	}

	.social-connect {
		position: absolute;
		right: 80px;
		top: 29px;
	}

	.social-connect ul {
		border-left: none;
	}

	.navbar-light .navbar-toggler {
		position: absolute;
		right: 16px;
		top: 24px;
	}

	h3, h2 {
		font-size: 20px;
	}

	.p_text {
		font-size: 12px;
	}

	.skill ul li {
		width: 100%;
	}

	.res-pt-0 {
		padding-top: 0px !important;
	}

	.res-pl-0 {
		padding-left: 0 !important;
	}

	.res-pl-15 {
		padding-left: 15px !important;
	}

	.res-pr-0 {
		padding-right: 0 !important;
	}

	.res-mb-0 {
		margin-bottom: 0px !important;
	}

	.res-pb-0 {
		padding-bottom: 0px !important;
	}

	#AboutUs, #Skills, #Team, #Blog, #ContactUs {
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 0;
		padding-right: 0;
	}

	#Services {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.technology-item {
		padding: 0px;
	}

	.res-col-2 {
		margin-bottom: 15px;
		max-width: 25%;
	}

	.why-choose-us h5 {
		font-size: 18px;
	}

	.increasing_business .cols {
		padding: 10px 10px 10px 65px;
	}

	.increasing_business .cols img {
		left: 25px;
		top: 15px;
	}

	.increasing_business .cols h4 {
		font-size: 18px;
		margin-bottom: 5px;
	}

	.content-scroll {
		height: 100px;
	}

	.res-mb-4 {
		margin-bottom: 1.5rem !important;
	}

	.who_content_pd {
		padding: 40px 30px 0 30px;
	}

	.contact_us h4 {
		font-size: 16px;
		margin-bottom: 1rem;
	}

	.contact_us h5 {
		font-size: 15px;
		margin-bottom: 1rem;
	}

	.who_content_pd h4 {
		font-size: 18px;
		margin-top: 5px;
	}

	.who_content_pd .cols.second {
		padding: 14px 10px 10px 10px;
	}

	.h-100 {
		height: 100%;
	}
}

@media screen and (min-width: 1281px) {
	.photos a:after {
		top: -112px;
		height: 250px;
	}
}

/*** iPad Mini ***/
@media only screen and (min-width: 768px) and (max-width: 1024px) {

	.our-value-section .columns,
	.our-value-section .columns.less-data-only-2,
	.our-value-section .columns.less-data-only {
		min-height: 380px;
	}

	.gap-72px {
		gap: 32px;
	}

	.ellipse-bg {
		width: 160px;
		height: 160px;
		left: -15px;
		top: -20px;
	}

	.ellipse-bg-margin {
		margin-top: 30px;
		margin-bottom: 30px;
		margin-left: 80px;
	}

	.slick-carousel h6 {
		font-size: 18px;
		margin-bottom: 0px !important;
	}

	.slick-carousel p {
		margin-top: 10px !important;
		line-height: 20px !important;
	}

	.slick-slider {
		width: 70% !important;
	}

	.slick-vertical .slick-slide {
		margin-top: 30px;
	}

	.res---br---none {
		display: none;
	}

	textarea.form-control {
		height: inherit !important;
	}

	.our-servives-dark-bg {
		padding: 20px 15px 10px 15px;
		border-radius: 16px;
	}

	.map-arrow {
		position: absolute;
		left: 16px;
		bottom: -24px;
	}

	.our-servives-dark-bg h2 {
		padding-bottom: 20px !important;
	}

	.header-section {
		height: 60px;
	}

	.minus-margin-left {
		right: 0px;
	}

	.iPadMini---width---50per {
		max-width: 50%;
		flex: 0 0 50%;
	}

	.iPadMini---width---100per {
		max-width: 100%;
		flex: 0 0 100%;
	}

	.what-we-do-cols {
		min-height: 212px;
	}

	.hero-banner-graphics {
		flex-direction: row;
	}

	.felizeek-why-us {
		flex-direction: column;
	}

	#scroll-to-top {
		bottom: 30px !important;
	}

	.navbar-expand-lg .navbar-collapse {
		display: -ms-flexbox !important;
		display: flex !important;
		-ms-flex-preferred-size: auto;
		flex-basis: auto;
	}

	.navbar-expand-lg .navbar-nav {
		-ms-flex-direction: row;
		flex-direction: row;
	}

	.navbar-nav {
		margin-top: inherit !important;
		border-top: none !important;
		height: 40px;
	}

	.navbar-expand-lg {
		flex-flow: row nowrap;
		-ms-flex-pack: start;
		justify-content: flex-start;
		position: inherit;
		top: -5px;
		padding-top: 0px;
		left: inherit;
		min-height: inherit;
		box-shadow: none !important;
	}

	.navbar-expand-lg .navbar-toggler {
		display: none;
	}

	.get-in-touch-section {
		flex-direction: row;
	}

	.iPadMini-img-responsive {
		width: revert-layer !important;
	}

	.header-section .container .logo_wid {
		top: -4px;
		/*width: 150px;*/
	}

	.iPadMini-flex-direction-column {
		flex-direction: row;
	}

	.iPadMini-width-inherit {
		width: inherit !important;
	}

	.iPadMini---meet---founder {
		position: absolute;
		top: 30px;
		left: 44px;
		width: 450px !important;
	}

	.meet-founder-section.bg-with-radius {
		padding-top: 70px !important;
	}
}


/*** iPad Air ***/
@media only screen and (min-width: 820px) and (max-width: 1180px) {

	.our-value-section .columns,
	.our-value-section .columns.less-data-only-2,
	.our-value-section .columns.less-data-only {
		min-height: 400px;
	}

	.gap-72px {
		gap: 32px;
	}

	.ellipse-bg {
		width: 160px;
		height: 160px;
		left: -15px;
		top: -20px;
	}

	.ellipse-bg-margin {
		margin-top: 30px;
		margin-bottom: 30px;
		margin-left: 80px;
	}

	.slick-carousel h6 {
		font-size: 18px;
		margin-bottom: 0px !important;
	}

	.slick-carousel p {
		margin-top: 10px !important;
		font-size: 16px;
		line-height: 20px !important;
	}

	.slick-slider {
		width: 70% !important;
	}

	.slick-vertical .slick-slide {
		margin-top: 30px;
	}
	textarea.form-control {
		height: inherit !important;
	}

	.map-arrow {
		position: inherit;
		width: 62px;
	}

	.vision-mission-divider {
		border-left: none;
		padding-left: 0px;
	}

	.navbar-fixed-top {
		height: 68px !important;
	}

	.felizeek-footer p br {
		display: none;
	}

	.res---pt---0px {
		padding-top: 0px !important;
	}

	.index-header h1, .hero-banner-bg h2, .felizeek-why-us h3, .felizeek-our-services h4, .felizeek-vision-mission h4,
	.meet-founder, .felizeek-footer h4, .our-value-section h4, .client-voices h4 {
		font-size: 32px;
	}

	.felizeek-why-us h4, .meet-founder-col2 h4 {
		font-size: 20px;
	}

	.pb-100, .pb-80 {
		padding-bottom: 40px !important;
	}

	.pt-100, .pt-80 {
		padding-top: 40px !important;
	}

	.pt-70 {
		padding-top: 30px !important;
	}

	.pb-100 {
		padding-bottom: 40px;
	}

	.pt-150 {
		padding-top: 80px;
	}

	.res---mt---20px {
		margin-top: 20px !important;
	}

	.hero-banner-graphics {
		padding-top: 60px !important;
	}

	.what-we-do-cols {
		min-height: 240px;
	}

	.res---mb---15px {
		margin-bottom: 15px !important;
	}

	.meet-founder-section {
		flex-direction: row;
		gap: 24px;
		padding: 30px;
	}

	.iPadMini-img-responsive {
		width: revert-layer !important;
	}

	.res---width---100per {
		width: 100% !important;
	}

	.index-header.secondary-title h1 {
		font-size: 30px;
		margin-top: 50px;
	}

	.what-we-do-cols.about-us-page {
		min-height: auto;
	}

	.res---pl---0px {
		padding-left: 0px !important;
	}

	.res---pr---0px {
		padding-right: 0px !important;
	}

	.get-in-touch {
		width: auto !important;
	}

	.felizeek-footer-corner {
		gap: 24px;
		border-radius: 30px;
		padding: 30px 20px;
	}

	.mission_text {
		margin-left: 0px;
	}

	.what-we-do-cols-list p {
		margin-bottom: 0px !important;
	}

	.what-we-do-cols {
		min-height: 215px;
	}

	.meet-founder-section.bg-with-radius {
		padding: 30px !important;
		gap: 24px !important;
	}

	.iPadMini---meet---founder {
		position: absolute;
		top: 30px;
		left: 44px;
		width: 450px !important;
	}

	.meet-founder-section.bg-with-radius {
		padding-top: 70px !important;
	}

	.iPadMini-flex-direction-column {
		flex-direction: row;
	}

	.iPadMini-width-inherit {
		width: inherit !important;
	}
}


/*** iPad Pro 12.9 ***/
@media only screen and (min-width: 1024px) and (max-width: 1366px) {

	.what-we-do-cols-list p {
		margin-bottom: 0px !important;
	}

	.navbar-fixed-top {
		height: 68px !important;
	}

	.what-we-do-cols {
		min-height: 170px;
	}

	.felizeek-why-us {
		flex-direction: row;
		align-items: center;
	}

	.iPadPro---width---50per {
		max-width: 50%;
		flex: 0 0 50%;
	}

	.iPadPro---width---max-content {
		width: max-content !important;
	}

	.iPadPro---res---mt---0px {
		margin-top: 0px !important;
	}

	.mission_text {
		margin-left: 0px;
	}

	.navbar-expand-lg {
		/*margin-top: 20px !important;*/
		margin-top: 0px !important;
	}
}

/*** iPad Pro 12.9 ***/
@media only screen and (min-width: 1367px) and (max-width: 2560px) {

	.navbar-expand-lg {
		/*margin-top: 20px !important;*/
		margin-top: 0px !important;
	}
}
